* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.tcenter {
  text-align: center;
}

.tright {
  text-align: right;
}

.central {
  margin: 0 auto;
}

.allcaps {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

section:before,
section:after,
header:after,
footer:before {
  clear: both;
}

/*Remove text-shadow in selection highlight: h5bp.com/i */
::-moz-selection {
  background: #B3522C;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #B3522C;
  text-shadow: none;
  color: #fff;
}

/********* placeholder color **********/
::-webkit-input-placeholder {
  color: #6B7481;
}

:-moz-placeholder {
  color: #6B7481;
}

::-moz-placeholder {
  color: #6B7481;
}

:-ms-input-placeholder {
  color: #6B7481;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.bold,
strong {
  font-weight: 700;
}

.italic,
em {
  font-style: italic;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.clearfix:after, .clearfix:before, .row:after, .row:before {
  display: table;
  line-height: 0;
  margin: 0;
  padding: 0;
  content: "";
}
.clearfix:after, .row:after {
  clear: both;
}

a {
  text-decoration: none;
  color: #627590;
  outline: none;
}
a:active, a:hove {
  outline: none;
}

a,
button,
select,
input,
label {
  cursor: pointer;
}

img {
  width: 100%;
}

input,
select,
textarea {
  padding: 10px 5px;
  border: 1px solid gray;
  font-size: 14px;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #627590;
}

input[type=submit],
input[type=button],
select[type=submit],
select[type=button],
textarea[type=submit],
textarea[type=button] {
  background: #B3522C;
  color: #fff;
}

input[type=checkbox] {
  width: auto;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  margin-right: 10px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #DDE0E3;
  border-radius: 10px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3522C;
}

/* body preset */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.428571429em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
  color: #121212;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

a:hover {
  color: #B3522C;
  text-decoration: underline;
}

.only-responsive {
  display: none;
}
@media only screen and (max-width: 767px) {
  .only-responsive {
    display: inline-block;
  }
}

.only-phone {
  display: none;
}
@media only screen and (max-width: 767px) {
  .only-phone {
    display: block;
  }
}

.above-phone {
  display: block;
}
@media only screen and (max-width: 767px) {
  .above-phone {
    display: none;
  }
}

.upto-tablet {
  display: none;
}
@media only screen and (max-width: 991px) {
  .upto-tablet {
    display: block;
  }
}

.above-tablet {
  display: block;
}
@media only screen and (max-width: 991px) {
  .above-tablet {
    display: none;
  }
}

sup.symbol, sub.symbol {
  font-size: 1.25em;
}

sup.symbol {
  top: 0;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.giftpage {
  min-height: 100%;
  background: url("../images/certificate-bg.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.giftpage p, .giftpage a {
  font-family: "DM Sans", sans-serif;
  font-display: swap;
  margin: 0;
}
.giftpage .certificate {
  min-height: 100%;
  padding-top: 35px;
}
.giftpage .certificate .container {
  width: 100%;
  max-width: 1020px;
  margin: 0px auto;
}
@media only screen and (max-width: 767px) {
  .giftpage .certificate .container {
    padding: 0 20px;
    margin: 0 auto;
  }
}
.giftpage .certificate .gift_logo {
  text-align: center;
  margin-bottom: 67px;
}
.giftpage .certificate .gift_logo a {
  display: block;
  width: 160px;
  margin: 0 auto;
}
.giftpage .certificate .heading {
  margin-bottom: 38px;
  text-align: center;
}
.giftpage .certificate .heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 93px;
  line-height: 1.2em;
  font-weight: 400;
  font-display: swap;
  color: #B3522C;
  margin: 0;
}
.giftpage .certificate .text {
  margin-bottom: 77px;
}
.giftpage .certificate .text p {
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 400;
  font-display: swap;
  margin-bottom: 0;
  color: #828282;
}
.giftpage .certificate .gift_fields {
  margin-bottom: 70px;
}
.giftpage .certificate .gift_fields .field {
  margin-bottom: 45px;
}
.giftpage .certificate .gift_fields .field p {
  display: block;
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 400;
  font-display: swap;
}
.giftpage .certificate .gift_fields .field p span {
  float: left;
}
.giftpage .certificate .gift_fields .field p span.label {
  color: #444444;
}
.giftpage .certificate .gift_fields .field p span.value {
  border-bottom: 1px solid #828282;
  color: #828282;
  margin-top: -6px;
}
.giftpage .certificate .gift_fields .label.w30 {
  width: 30px;
  margin-right: 20px;
}
.giftpage .certificate .gift_fields .label.w30 + span {
  width: calc(100% - 50px);
  padding-left: 3px;
}
.giftpage .certificate .gift_fields .label.w57 {
  width: 57px;
  margin-right: 20px;
}
.giftpage .certificate .gift_fields .label.w57 + span {
  width: calc(100% - 77px);
  padding-left: 3px;
}
.giftpage .certificate .gift_fields .label.w105 {
  width: 105px;
  margin-right: 20px;
}
.giftpage .certificate .gift_fields .label.w105 + span {
  width: calc(100% - 125px);
  padding-left: 3px;
}
.giftpage .certificate .gift_fields .label.w124 {
  width: 124px;
  margin-right: 20px;
}
.giftpage .certificate .gift_fields .label.w124 + span {
  width: calc(100% - 144px);
  padding-left: 3px;
}
.giftpage .certificate .gift_fields .label.w186 {
  width: 186px;
  margin-right: 20px;
}
.giftpage .certificate .gift_fields .label.w186 + span {
  width: calc(100% - 206px);
  padding-left: 3px;
}
.giftpage .certificate .gift_fields .half_field {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.giftpage .certificate .gift_fields .half_field:nth-child(2n) {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .giftpage .certificate .gift_fields .half_field {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0 !important;
  }
}
.giftpage .certificate .gift_fields .full_field {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .giftpage .certificate .gift_fields .full_field span.value {
    width: 100% !important;
    margin-top: 5px !important;
  }
}
.giftpage .certificate .footnote p {
  color: #B3522C;
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 400;
  font-display: swap;
}

.certificate_footer {
  margin: 70px auto 0px;
  padding: 18px 0 35px;
}
.certificate_footer .container {
  width: 100%;
  max-width: 1560px;
  padding: 0 20px;
  margin: 0 auto;
}
.certificate_footer .copyright {
  float: left;
}
@media only screen and (max-width: 767px) {
  .certificate_footer .copyright {
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }
}
.certificate_footer .copyright ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.certificate_footer .copyright ul li {
  display: inline;
  margin-right: 10px;
}
.certificate_footer .copyright ul li a {
  text-decoration: none;
  color: #828282;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 400;
  font-display: swap;
}
.certificate_footer .slogan {
  float: right;
  width: 120px;
  margin-top: -7px;
}
@media only screen and (max-width: 767px) {
  .certificate_footer .slogan {
    float: none;
    margin: 0 auto;
  }
}