@font-face {
  font-family: "helvetica";
  src: url("fonts/helvetica/helvetica-webfont.woff2") format("woff2"), url("fonts/helvetica/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.tcenter {
  text-align: center;
}

.tright {
  text-align: right;
}

.central {
  margin: 0 auto;
}

.allcaps {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

section:before,
section:after,
header:after,
footer:before {
  clear: both;
}

/*Remove text-shadow in selection highlight: h5bp.com/i */
::-moz-selection {
  background: #B3522C;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #B3522C;
  text-shadow: none;
  color: #fff;
}

/********* placeholder color **********/
::-webkit-input-placeholder {
  color: #9DA8B7;
}

:-moz-placeholder {
  color: #9DA8B7;
}

::-moz-placeholder {
  color: #9DA8B7;
}

:-ms-input-placeholder {
  color: #9DA8B7;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.bold,
strong {
  font-weight: 700;
}

.italic,
em {
  font-style: italic;
}

.fix {
  overflow: hidden;
  *zoom: 1;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  line-height: 0;
  margin: 0;
  padding: 0;
  content: "";
}

.row:after,
.clearfix:after,
.content-wrap:after {
  clear: both;
}

a {
  text-decoration: none;
  color: #627590;
}

a,
button,
select,
input,
label {
  cursor: pointer;
}

img {
  width: 100%;
}

input,
select,
textarea {
  padding: 10px 50px;
  border: 1px solid gray;
  font-size: 14px;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #627590;
}

input[type=submit],
input[type=button],
select[type=submit],
select[type=button],
textarea[type=submit],
textarea[type=button] {
  background: #B3522C;
  color: #fff;
}

input[type=checkbox] {
  width: auto;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  margin-right: 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #4F4F4F;
}

::-webkit-scrollbar-thumb {
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3522C;
}

/* body preset */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.428571429em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
  color: #121212;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

a:hover {
  color: #B3522C;
  text-decoration: underline;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate_fastest {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.animate_faster, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.animate_fast {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.animate_slow {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.section-title {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.section-title span {
  color: #B3522C;
}
.section-title h2, .section-title h3, .section-title h4 {
  font-size: 3.14285em;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-title.smaller h2, .section-title.smaller h3, .section-title.smaller h4 {
  font-size: 2.85714em;
  line-height: 52px;
  font-weight: 700;
}

.section-sub-title h2, .section-sub-title h3, .section-sub-title h4 {
  font-size: 1.71424em;
  line-height: 31px;
  font-weight: 700;
  color: #121212;
}

.cabincon {
  display: inline-block;
  font-style: normal;
}
.cabincon.phone-white {
  background: url("../icons/lucide/phone-white.svg");
}
.cabincon.mail-white {
  background: url("../icons/lucide/mail-white.svg");
}
.cabincon.mail-blue {
  background: url("../icons/lucide/mail-blue.svg");
}
.cabincon.search-gray {
  background: url("../icons/lucide/search-gray.svg");
}
.cabincon.home-white {
  background: url("../icons/lucide/home-white.svg");
}
.cabincon.home-blue {
  background: url("../icons/lucide/home-blue.svg");
}
.cabincon.shopping-cart-blue {
  background: url("../icons/lucide/shopping-cart-blue.svg");
}
.cabincon.shopping-cart-white {
  background: url("../icons/lucide/shopping-cart-white.svg");
}
.cabincon.size-15 {
  width: 15px;
  height: 15px;
  background-size: 15px;
}
.cabincon.size-15 + a {
  line-height: 15px;
}
.cabincon.size-18 {
  width: 18px;
  height: 18px;
  background-size: 18px;
}
.cabincon.size-18 + a {
  line-height: 18px;
}
.cabincon.size-20 {
  width: 20px;
  height: 20px;
  background-size: 20px;
}
.cabincon.size-20 + a {
  line-height: 20px;
}
.cabincon.size-22 {
  width: 22px;
  height: 22px;
  background-size: 22px;
}
.cabincon.size-22 + a {
  line-height: 22px;
}
.cabincon.size-24 {
  width: 24px;
  height: 24px;
  background-size: 24px;
}
.cabincon.size-24 + a {
  line-height: 24px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
}
.btn.btn-white {
  background-color: #fff;
  color: #121212;
}
.btn.btn-primary {
  background-color: #B3522C;
}
.btn.btn-blue {
  background-color: #627590;
}
.btn.btn-large {
  padding: 15px 60px;
  font-size: 1.14285em;
}
.btn.btn-medium {
  padding: 15px 40px;
  font-size: 14px;
}
.btn.btn-wide {
  padding: 10px 60px;
  font-size: 14px;
}
.btn:hover {
  text-decoration: none;
  background-color: #121212;
  color: #fff;
}

.primary-gradient {
  background: #b3522c;
  background: -webkit-gradient(linear, left top, right top, from(#b3522c), to(rgba(179, 82, 44, 0)));
  background: linear-gradient(90deg, #b3522c 0%, rgba(179, 82, 44, 0) 100%);
}

.breadcrumb-area {
  margin: 25px 0;
}
.breadcrumb-area .breadcrumb {
  background: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
}
.breadcrumb-area .breadcrumb li {
  color: #fff;
  font-size: 1.14285em;
  line-height: 1.42857em;
  padding-right: 30px;
  position: relative;
}
.breadcrumb-area .breadcrumb li a {
  color: #fff;
}
.breadcrumb-area .breadcrumb li:after {
  content: ">";
  margin: 0 10px;
  font-size: 1.28571em;
  font-family: "DM Sans", sans-serif;
  position: absolute;
  display: block;
  top: 1px;
  right: 0;
}
.breadcrumb-area .breadcrumb li:last-child:after {
  content: none;
}
.breadcrumb-area .breadcrumb li.active {
  color: #fff !important;
}
.breadcrumb-area .breadcrumb.reverse li {
  padding-left: 30px;
  padding-right: 0;
}
.breadcrumb-area .breadcrumb.reverse li:after {
  content: "<";
  margin: 0 10px;
  font-size: 1.28571em;
  font-family: "DM Sans", sans-serif;
  position: absolute;
  display: block;
  top: 1px;
  left: 0;
  width: 20px;
}
.breadcrumb-area .breadcrumb.reverse li a {
  color: #B3522C;
}
.breadcrumb-area .breadcrumb.dark li {
  color: #3F4B5C;
}
.breadcrumb-area .breadcrumb.dark a {
  color: #3F4B5C;
}
.breadcrumb-area .breadcrumb.dark li.active {
  color: #B3522C !important;
}
.breadcrumb-area + .banner-text {
  margin-top: 5vw !important;
}

.topbar-area {
  background: #627590;
  color: #fff;
  height: 40px;
}
.topbar-area .toogle-button-area {
  display: none;
}
.topbar-area .navbar {
  padding: 0;
}
.topbar-area li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topbar-area li a {
  color: white;
  padding: 10px;
  display: inline-block;
}
.topbar-area .topbar-nav .top-nav {
  float: left;
}
.topbar-area .topbar-nav .top-nav li {
  margin-right: 10px;
}
.topbar-area .topbar-nav .top-nav li a {
  text-transform: capitalize;
}
.topbar-area .topbar-nav .contact-details {
  float: left;
  text-align: right;
  padding: 10px;
  padding-top: 15px;
}
.topbar-area .topbar-nav .contact-details li i {
  float: left;
  margin-right: 5px;
}
.topbar-area .topbar-nav .contact-details li a {
  padding: 0;
}
.topbar-area .topbar-nav .contact-details li + li {
  margin-left: 20px;
}

@media only screen and (max-width: 1199px) {
  .topbar-area {
    height: auto;
  }
  .topbar-area .navbar {
    padding: 5px;
  }
  .topbar-area .toogle-button-area {
    display: block;
    text-align: left;
    width: 100%;
    margin-left: 10px;
  }
  .topbar-area .toogle-button-area .navbar-toggler {
    padding: 5px;
    border-color: #fff;
    color: #fff;
  }
  .topbar-area .toogle-button-area .navbar-toggler-icon {
    background-size: 20px !important;
    width: 20px;
    height: 15px;
  }
  .topbar-area .topbar-nav .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    float: none;
    width: 100%;
    margin-top: 10px;
    padding: 5px 0;
    border-top: 1px solid #C6CDD7;
    border-bottom: 1px solid #C6CDD7;
  }
  .topbar-area .topbar-nav .top-nav li {
    border: 1px solid #dedede;
    margin-bottom: 5px;
  }
  .topbar-area .topbar-nav .top-nav li a:hover {
    background-color: #B3522C;
    text-decoration: none;
  }
  .topbar-area .topbar-nav .contact-details {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
.header-area {
  background: #fff;
  padding: 22px 0;
}
.header-area .logo-area {
  float: left;
}
.header-area .logo-area img {
  max-width: 350px;
}
.header-area .logo-area a {
  font-size: 0;
}
.header-area .search-area {
  float: left;
}
.header-area .search-area .searchform {
  position: relative;
  margin-top: 10px;
}
.header-area .search-area .searchform .cabincon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header-area .search-area .searchform input {
  width: 100%;
  border-radius: 20px;
  padding-left: 35px;
  border: 1px solid #C6CDD7;
  margin-bottom: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header-area .cart-area {
  float: left;
}
.header-area .cart-area .cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  list-style-type: none;
}
.header-area .cart-area .cart-list li a {
  display: inline-block;
  position: relative;
}
.header-area .cart-area .cart-list li a i {
  position: relative;
}
.header-area .cart-area .cart-list li a i.shopping-cart-white {
  display: none;
}
.header-area .cart-area .cart-list li a .counter {
  position: absolute;
  right: -4px;
  top: -4px;
  display: block;
  width: 12px;
  height: 14px;
  background: #B3522C;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.header-area .cart-area .cart-list li + li {
  margin-left: 35px;
}
.header-area ::marker {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .header-area .logo-area {
    text-align: center;
    margin-bottom: 0px;
  }
  .header-area .search-area {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .header-area .cart-area {
    right: 0;
    position: absolute;
    top: 0;
    z-index: 200;
    width: 300px;
  }
  .header-area .cart-area .cart-list {
    padding-left: 0;
    margin: 0;
    margin-top: 10px;
  }
  .header-area .cart-area .cart-list li a {
    color: #fff;
  }
  .header-area .cart-area .cart-list li a i.shopping-cart-blue {
    display: none;
  }
  .header-area .cart-area .cart-list li a i.shopping-cart-white {
    display: block;
  }
}
.navigation-area {
  background: #F0F2F5;
  padding: 5px;
}
.navigation-area .navbar {
  padding: 0;
}
.navigation-area .toogle-button-area {
  display: none;
}
.navigation-area .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  list-style-type: none;
  margin-bottom: 0;
}
.navigation-area .main-nav > li {
  position: relative;
  display: block;
}
.navigation-area .main-nav > li > a {
  color: #3F4B5C !important;
  font-weight: 500;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.28571em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.navigation-area .main-nav > li > a:hover {
  text-decoration: none;
  color: #B3522C !important;
}
.navigation-area .main-nav > li > a:before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #3F4B5C;
  position: absolute;
  right: -2px;
  top: 50%;
  margin-top: -2px;
}
.navigation-area .main-nav > li > a:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  display: none;
}
.navigation-area .main-nav > li:last-child a:before {
  content: none;
}
.navigation-area .main-nav > li .submenu-block {
  position: absolute;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  margin-top: 0;
  border: none;
  display: none;
  min-width: 300px;
}
.navigation-area .main-nav > li .submenu-block.full-width {
  width: 100%;
}
.navigation-area .main-nav > li .submenu-block h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.navigation-area .main-nav > li .submenu-block .category h4 {
  font-size: 1em;
  line-height: 100%;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.navigation-area .main-nav > li .submenu-block .category .submenu {
  list-style-type: disc;
}
.navigation-area .main-nav > li .submenu-block .submenu {
  list-style-type: none;
  list-style-position: inside;
  color: #B3522C;
  margin-left: 0px;
  padding-left: 0;
}
.navigation-area .main-nav > li .submenu-block .submenu li {
  margin: 12px 0;
}
.navigation-area .main-nav > li .submenu-block .submenu li a {
  color: #B3522C;
  font-size: 16px;
  font-weight: 500;
}
.navigation-area .main-nav > li.megamenu {
  position: static;
}
.navigation-area .main-nav > li.megamenu .submenu-block {
  width: 100%;
}
.navigation-area .main-nav > li.megamenu .submenu-block .submenu-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 30px;
}
.navigation-area .main-nav > li:hover > a {
  color: #B3522C !important;
}
.navigation-area .main-nav > li:hover > a:after {
  display: block;
}
.navigation-area .main-nav > li:hover .submenu-block {
  display: block;
  top: 100%;
}
.navigation-area .main-nav > li.nav-item > a {
  padding: 10px 30px;
}

@media only screen and (max-width: 1199px) {
  .navigation-area {
    padding: 0;
  }
  .navigation-area .toogle-button-area {
    display: block;
    text-align: right;
    width: 100%;
  }
  .navigation-area .main-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0;
    width: 100%;
  }
  .navigation-area .main-nav li a {
    width: 100%;
  }
  .navigation-area .main-nav li a:before, .navigation-area .main-nav li a:after {
    content: none !important;
  }
  .navigation-area .main-nav li .submenu-block {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    display: none !important;
    border-radius: 0;
  }
  .navigation-area .main-nav li .submenu-block.show {
    display: block !important;
  }
  .navigation-area .main-nav li .submenu-block h3 {
    display: none;
  }
  .navigation-area .main-nav li .submenu-block .submenu-area {
    display: block !important;
    width: 100%;
  }
  .navigation-area .main-nav li .submenu-block .submenu-area .category + .category {
    margin-top: 20px;
  }
  .navigation-area .navbar {
    padding: 10px;
  }
  .navigation-area .navbar .navbar-collapse {
    margin-top: 5px;
  }
  .navigation-area .navbar .navbar-nav .nav-item {
    margin-bottom: 5px;
    border: 1px solid #627590;
    width: 100%;
    position: relative;
  }
  .navigation-area .navbar .navbar-nav .nav-item.dropdown:after {
    content: ">";
    position: absolute;
    right: 12px;
    font-size: 18px;
    top: 14px;
    display: inline-block;
    height: 16px;
    width: 10px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .navigation-area .navbar .navbar-nav .nav-item.dropdown.show:after {
    color: #B3522C;
  }
}
.header-banner {
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}
.header-banner .primary-gradient {
  background: #b3522c;
  background: -webkit-gradient(linear, left top, right top, from(#b3522c), to(rgba(179, 82, 44, 0)));
  background: linear-gradient(90deg, #b3522c 0%, rgba(179, 82, 44, 0) 100%);
}
.header-banner .blue-gradient {
  background: #627590;
  background: -webkit-gradient(linear, left top, right top, from(#627590), to(rgba(98, 117, 144, 0)));
  background: linear-gradient(90deg, #627590 0%, rgba(98, 117, 144, 0) 100%);
}
.header-banner .breadcrumb li.active {
  color: #fff;
}
.header-banner .banner-text {
  color: #fff;
  margin: 12vw 0;
  width: 60%;
}
@media only screen and (max-width: 767px) {
  .header-banner .banner-text {
    width: 100%;
  }
}
.header-banner .banner-text .tagline {
  font-size: 2.14285em;
  line-height: 160%;
  font-weight: 400;
}
.header-banner .banner-text .heading {
  font-size: 3.85714em;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 25px;
}
.header-banner .banner-text .btn {
  width: 180px;
  font-size: 1.14285em;
}

@media only screen and (max-width: 1199px) {
  .header-banner .banner-text {
    margin: 15vw 0;
  }
  .header-banner .banner-text .tagline {
    font-size: 1.42857em;
  }
  .header-banner .banner-text .heading {
    font-size: 2.14285em;
  }
}
.choice-points {
  padding: 20px 0;
  margin-top: 40px;
  background-color: #fff;
}
.choice-points .section-title {
  margin-top: 20px;
  margin-bottom: 0px;
}
.choice-points .points-area {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
  grid-column-gap: 80px;
  margin-top: 80px;
}
.choice-points .points-area .point {
  text-align: left;
}
.choice-points .points-area .point .icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #B3522C;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.choice-points .points-area .point .icon img {
  width: 50%;
}
.choice-points .points-area .point .icon i {
  width: 40px;
  height: 40px;
  background-size: 75px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.choice-points .points-area .point .icon i.extensive-collection {
  background: url("../images/points/extensive-collection.svg");
}
.choice-points .points-area .point .icon i.heirloom-quality {
  background: url("../images/points/heirloom-quality.svg");
}
.choice-points .points-area .point .icon i.affordable-elegance {
  background: url("../images/points/affordable-elegance.svg");
}
.choice-points .points-area .point .icon i.custom-options {
  background: url("../images/points/custom-options.svg");
}
.choice-points .points-area .point .icon i.trusted-source {
  background: url("../images/points/trusted-source.svg");
}
.choice-points .points-area .point .icon i.stellar-service {
  background: url("../images/points/stellar-service.svg");
}
.choice-points .points-area .point h3 {
  font-size: 1.71424em;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 20px;
}
.choice-points .points-area .point p {
  font-size: 1.14285em;
  line-height: 1.85714em;
  color: #4F4F4F;
}
.choice-points .action-area {
  text-align: center;
  margin-top: 100px;
}
.choice-points .action-area .btn {
  font-weight: 700;
}

@media only screen and (max-width: 1199px) {
  .choice-points .points-area {
    display: block;
  }
  .choice-points .points-area .point + .point {
    margin-top: 40px;
  }
}
.display-board {
  margin-top: 30px;
  margin-bottom: 30px;
}
.display-board .display-area {
  margin: 30px 0 50px;
}
.display-board .display-area .display {
  margin-bottom: 150px;
  width: 100%;
  padding: 0;
}
.display-board .display-area .display:last-child {
  margin-bottom: 55px;
}
.display-board .display-area .display .display-image {
  padding-left: 0;
  float: left;
}
.display-board .display-area .display .display-image img {
  border-radius: 10px;
}
.display-board .display-area .display .display-text {
  float: right;
  padding-left: 6%;
  padding-top: 6vw;
}
.display-board .display-area .display .display-text .section-title {
  text-align: left;
}
.display-board .display-area .display .display-text p {
  color: #121212;
  font-size: 1.28571em;
  line-height: 160%;
  opacity: 0.7;
}
.display-board .display-area .display .display-text .btn {
  margin-top: 30px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.display-board .display-area .display:nth-child(2n+2) .display-text {
  padding-right: 6%;
  padding-left: 0;
  float: left;
}
.display-board .display-area .display:nth-child(2n+2) .display-image {
  float: right;
  padding-right: 0;
  padding-left: 15px;
}
.display-board.type-row {
  margin-bottom: 30px;
}
.display-board.type-row .display-area .display {
  border-bottom: 1px dashed #c4c4c4;
  padding-bottom: 70px;
  margin-bottom: 70px;
}
.display-board.type-row .display-area .display:last-child {
  border-bottom: 0;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.display-board.type-row .display-area .display-text .counter {
  display: inline-block;
  text-align: center;
  border: 1px solid #B3522C;
  padding: 3px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.display-board.type-row .display-area .display-text .counter span {
  line-height: 28px;
  display: block;
  border-radius: 20px;
  background-color: #B3522C;
  color: #fff;
  width: 28px;
  height: 28px;
}
.display-board.type-row .display-area .display-text p {
  color: #514646;
}
.display-board.type-row .display-area .display-image img {
  border-radius: 20px;
}

@media only screen and (max-width: 1199px) {
  .display-board .display-area .display {
    display: block;
  }
  .display-board .display-area .display .display-text {
    padding-left: 20px;
    margin-top: 20px;
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .display-board .display-area .display .display-text {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1199px) {
  .display-board .display-area .display .display-image {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 1199px) {
  .display-board .display-area .display:nth-child(2n+2) .display-text {
    padding-left: 20px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .display-board .display-area .display:nth-child(2n+2) .display-text {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .display-board .display-area .display:nth-child(2n+2) .display-image {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1199px) {
  .display-board .display-area .display + .display {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .display-board .display-area .display + .display {
    margin-top: 0;
  }
}
.testimonial-area {
  padding: 15px 0 45px;
}
.testimonial-area .testimonial-slider {
  padding: 20px 0;
  margin-top: 50px;
  margin-bottom: 40px !important;
}
.testimonial-area .testimonial-slider .slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 90px 265px;
  grid-template-columns: auto 265px;
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  margin: 0 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
}
.testimonial-area .testimonial-slider .slide .quotation:before {
  content: "";
  display: block;
  height: 45px;
  width: 60px;
  background: url("../images/blockquote.png") no-repeat;
  background-size: 60px;
}
.testimonial-area .testimonial-slider .slide .quotation blockquote {
  margin: 30px 0;
  color: #1F173D;
  font-size: 1.14285em;
  line-height: 25px;
  font-weight: 500;
}
.testimonial-area .testimonial-slider .slide .quotation p {
  letter-spacing: 0.3px;
}
.testimonial-area .testimonial-slider .slide .quotation p .author {
  font-size: 1.42857em;
  line-height: 25px;
  color: #121212;
  display: inline-block;
  position: relative;
}
.testimonial-area .testimonial-slider .slide .quotation p .author.verified:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/verified.svg") no-repeat;
  background-size: 20px;
  position: absolute;
  bottom: 3px;
  right: -25px;
}
.testimonial-area .testimonial-slider .slide .quotation p .company {
  display: block;
  color: #767676;
  font-size: 1.14285em;
  line-height: 20px;
  margin-top: 5px;
}
.testimonial-area .testimonial-slider .slide .image {
  border-radius: 10px;
}

@media only screen and (max-width: 1199px) {
  .testimonial-area .testimonial-slider {
    padding: 20px;
  }
  .testimonial-area .testimonial-slider .slide {
    display: block;
  }
  .testimonial-area .testimonial-slider .slide .quotation {
    width: 100%;
  }
  .testimonial-area .testimonial-slider .slide .image {
    width: 100%;
    margin-top: 40px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-arrow {
  display: none !important;
}

.slick-slider:hover .slick-arrow {
  display: inline-block !important;
}

.slick-prev,
.slick-next {
  height: 65px;
  width: 65px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #fff;
  color: transparent;
  padding: 0;
  border: none;
  outline: none;
  top: 50%;
  position: absolute;
  margin-top: -32px;
  z-index: 999;
  background-position: center center !important;
  border: 1px solid #fff;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  border-color: #B3522C;
}

.slick-prev {
  left: -10px;
  background: #fff url("../icons/lucide/chevron-left.svg") no-repeat;
}

.slick-next {
  right: -10px;
  background: #fff url("../icons/lucide/chevron-right.svg") no-repeat;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 4px;
  width: 4px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 4px;
  cursor: pointer;
  width: 3px;
  height: 3px;
  background: #fff;
  border: 1px solid #B3522C;
  border-radius: 10px;
  margin: 2px 3px;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  background-color: #B3522C;
}

.cta-banner .banner {
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.cta-banner .banner.home-cta {
  background: url("../images/bg/jumbo.svg") no-repeat;
  background-size: cover;
  color: #fff;
}
.cta-banner .banner.home-cta .btn {
  -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
}
.cta-banner .banner h4 {
  font-size: 2.14285em;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 1199px) {
  .cta-banner .home-cta {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
  }
}
.footer {
  border-top: 1px solid #DDDDDD;
  padding: 30px 0;
}
.footer a, .footer p {
  color: #424F61;
}
.footer li {
  list-style-type: none;
}
.footer .footer-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-area .footer-logo img {
  margin-bottom: 20px;
  max-width: 214px;
}
.footer .footer-area .footer-logo .copyright {
  color: #424F61;
  font-size: 1.14285em;
  line-height: 1.71424em;
}
.footer .footer-area .footer-social .social-icons {
  margin-left: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.footer .footer-area .footer-social .social-icons li a {
  display: block;
  width: 26px;
  height: 26px;
  background: url("../images/footer-social-sprite.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
}
.footer .footer-area .footer-social .social-icons li a.facebook {
  background-position: 0 0;
}
.footer .footer-area .footer-social .social-icons li a.pinterest {
  background-position: 0 -36px;
}
.footer .footer-area .footer-social .social-icons li a.instagram {
  background-position: 0 -71px;
}
.footer .footer-area .footer-social .social-icons li a:hover {
  background-position-x: -32px !important;
}
.footer .footer-area .footer-social .newsletter {
  line-height: 1.71424em;
}
.footer .footer-area .footer-social .newsletter a i {
  display: block;
  width: 26px;
  height: 26px;
  background: url("../images/footer-social-sprite.png") no-repeat;
  background-position: 0 -107px;
}
.footer .footer-area .footer-social .newsletter a:hover {
  color: #B3522C;
}
.footer .footer-area .footer-social .newsletter a:hover i {
  background-position: -31px -107px;
}
.footer .footer-area .footer-social .newsletter i {
  float: left;
  margin-right: 10px;
}
.footer .footer-area .footer-links .links li {
  margin-bottom: 10px;
}
.footer .footer-area .footer-links .links li a {
  font-size: 14px;
  line-height: 1.14285em;
}
.footer .footer-area .footer-links .links li a:hover {
  color: #B3522C;
}

@media only screen and (max-width: 991px) {
  .footer .footer-area {
    max-width: 500px;
    margin: 0 auto;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-area .footer-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .footer .footer-area .footer-social, .footer .footer-area .footer-rating, .footer .footer-area .footer-links {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin: 20px auto;
    text-align: center;
  }
  .footer .footer-area .footer-social {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .footer .footer-area .footer-rating {
    text-align: right;
  }
  .footer .footer-area .footer-rating img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .footer .footer-area .footer-logo, .footer .footer-area .footer-social, .footer .footer-area .footer-rating, .footer .footer-area .footer-links {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: left;
  }
  .footer .footer-area .footer-social, .footer .footer-area .footer-rating, .footer .footer-area .footer-links {
    margin-top: 40px;
  }
  .footer .footer-area .footer-social .social-icons {
    max-width: 200px;
  }
  .footer .footer-area .footer-links ul {
    padding-left: 0;
  }
}
.page-heading-section .page-headline .section-title {
  text-align: left;
}
.page-heading-section .page-headline .section-title h2, .page-heading-section .page-headline .section-title h3, .page-heading-section .page-headline .section-title h4 {
  font-size: 2.57142em;
}
.page-heading-section .page-headline .section-title p {
  color: #514646;
  font-size: 1.14285em;
  line-height: 25px;
  font-weight: 400;
}
.page-heading-section .page-headline .section-title p + p {
  margin-top: 30px;
}
.page-heading-section .page-headline .button-area {
  text-align: right;
}
.page-heading-section .page-headline .button-area .btn {
  -webkit-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.page-heading-section .heading-text {
  margin-top: 60px;
  margin-bottom: 30px;
}
.page-heading-section .heading-text .head {
  font-size: 1.71424em;
  line-height: 30px;
  font-weight: 700;
  color: #121212;
}
.page-heading-section .heading-text p {
  color: #514646;
  font-size: 1.14285em;
  line-height: 25px;
}

.breadcrum-section + .page-heading-section {
  margin-top: 30px;
}

@media only screen and (max-width: 991px) {
  .page-heading-section .page-headline .button-area {
    text-align: center;
    margin-top: 20px;
  }

  .breadcrum-section + .page-heading-section {
    margin-top: 0px;
  }
}
.products-section {
  margin-bottom: 50px;
}
.products-section .products-area.type-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.products-section .products-area.type-a .product {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-bottom: 50px;
}
.products-section .products-area.type-a .product img {
  margin-bottom: 25px;
}
.products-section .products-area.type-a .product h3, .products-section .products-area.type-a .product h4 {
  font-size: 1.71424em;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
.products-section .products-area.type-a .product p {
  font-size: 1.14285em;
  line-height: 25px;
  color: #514646;
}
.products-section .products-area.type-b .product {
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
}
.products-section .products-area.type-b .product + .product {
  margin-top: 50px;
}
.products-section .products-area.type-b .product:last-child {
  border-bottom: none;
  padding-bottom: 30px;
}
.products-section .products-area.type-b .product .details img {
  margin-bottom: 20px;
}
.products-section .products-area.type-b .product .details p {
  font-size: 1.14285em;
  line-height: 26px;
  color: #121212;
}
.products-section .products-area.type-b .product .action-area .action {
  background-color: #F0F2F5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.products-section .products-area.type-b .product .action-area .action h4 {
  font-size: 1.42857em;
  line-height: 26px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 20px;
}
.products-section .products-area.type-b .product .action-area .action .features {
  color: #514646;
  font-size: 14px;
  line-height: 18px;
  padding-left: 0;
  margin-left: 20px;
}
.products-section .products-area.type-b .product .action-area .action .features li {
  margin-bottom: 10px;
}
.products-section .products-area.type-b .product .action-area .thumb-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.products-section .products-area.type-b .product .action-area .thumb-area li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media only screen and (max-width: 991px) {
  .products-section .products-area.type-a .product {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .products-section .products-area.type-b .product .action-area .action .features {
    min-height: 180px;
  }
}
.popular-section {
  margin: 100px 0;
}
.popular-section .section-title {
  margin-bottom: 40px;
}
.popular-section.type-box .popular-area .popular-sample {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  border-radius: 20px;
  border: 1px solid #DDDDDD;
  padding: 0;
  margin: 1%;
}
@media only screen and (max-width: 767px) {
  .popular-section.type-box .popular-area .popular-sample {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    margin: 3%;
  }
}
@media only screen and (max-width: 575px) {
  .popular-section.type-box .popular-area .popular-sample {
    -ms-flex-preferred-size: 94%;
        flex-basis: 94%;
    margin: 3%;
  }
}
.popular-section.type-box .popular-area .popular-sample .text {
  padding: 15px;
}
.popular-section.type-box .popular-area .popular-sample .text h4 {
  font-size: 1.42857em;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 15px;
}
.popular-section.type-box .popular-area .popular-sample .text p {
  font-size: 1.14285em;
  line-height: 25px;
  font-weight: 700;
  font-weight: 400;
}
.popular-section.type-row .popular-sample {
  margin: 20px 0;
  border: 1px solid #DDDDDD;
  padding: 20px;
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .popular-section.type-row .popular-sample {
    margin: 20px auto;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
.popular-section.type-row .popular-sample p {
  color: #514646;
  font-size: 1.14285em;
  line-height: 25px;
  font-weight: 400;
}
.popular-section.type-row .popular-sample .image {
  margin-bottom: 0;
  padding-left: 0;
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .popular-section.type-row .popular-sample .image {
    margin-bottom: 20px;
  }
}
.popular-section.type-row .popular-sample .sample-details h3 {
  font-size: 1.71424em;
  line-height: 31px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .popular-section.type-row .popular-sample .sample-details {
    margin-bottom: 20px;
    padding: 0;
  }
}
.popular-section.type-row .popular-sample .sample-use h4 {
  font-size: 1.28571em;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .popular-section.type-row .popular-sample .sample-use {
    padding: 0;
  }
}

.page-content p {
  font-size: 1.14285em;
  line-height: 25px;
  font-weight: 400;
}
.page-content p .primary {
  color: #B3522C;
}
.page-content .article {
  margin-bottom: 80px;
}
.page-content .article .rounded-samples {
  margin: 40px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style-type: none;
  padding-left: 0;
}
.page-content .article .rounded-samples li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.page-content .article .rounded-samples li img {
  max-width: 170px;
}
.page-content .article .rounded-samples li span, .page-content .article .rounded-samples li p {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.42857em;
  line-height: 26px;
  font-weight: 700;
  color: #121212;
}
@media only screen and (max-width: 767px) {
  .page-content .article .rounded-samples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content .article .rounded-samples li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .page-content .article .rounded-samples li img {
    display: block;
    margin: 0 auto;
  }
}

.order-confirmation-section .confirmation-box {
  margin-top: 80px;
  margin-bottom: 240px;
}
@media only screen and (max-width: 767px) {
  .order-confirmation-section .confirmation-box {
    margin: 20px 0 100px;
  }
}
.order-confirmation-section .confirmation-box h2 {
  font-size: 2.85714em;
  line-height: 150%;
  color: #121212;
  font-weight: 700;
}
.order-confirmation-section .confirmation-box h3 {
  font-size: 1.71424em;
  line-height: 31px;
  font-weight: 700;
  color: #121212;
}
.order-confirmation-section .confirmation-box h3 span {
  color: #B3522C;
}
.order-confirmation-section .confirmation-box p {
  font-size: 1.14285em;
  line-height: 1.71424em;
  color: #514646;
  margin-bottom: 40px;
}