@font-face {
  font-family: "helvetica";
  src: url("fonts/helvetica/helvetica-webfont.woff2") format("woff2"), url("fonts/helvetica/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************************************************************************************
************************************* Present CSS**********************************************/
body,
html {
  min-height: 100%;
  height: 100%;
}

b,
strong {
  font-weight: 700;
}

li {
  display: list-item;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

a {
  list-style: none;
  text-decoration: none;
  outline: 0;
  color: #627590;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  outline: none;
}

:focus {
  outline: 0;
}

img {
  width: auto\9 ;
  height: auto;
  border: none;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #121212;
  margin: 1em 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.tcenter {
  text-align: center;
}

.tright {
  text-align: right;
}

.central {
  margin: 0 auto;
}

.allcaps {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

section:before,
section:after,
header:after,
footer:before {
  clear: both;
}

/*Remove text-shadow in selection highlight: h5bp.com/i */
::-moz-selection {
  background: #B3522C;
  text-shadow: none;
}

::selection {
  background: #B3522C;
  text-shadow: none;
}

/********* placeholder color **********/
::-webkit-input-placeholder {
  color: #9DA8B7;
}

:-moz-placeholder {
  color: #9DA8B7;
}

::-moz-placeholder {
  color: #9DA8B7;
}

:-ms-input-placeholder {
  color: #9DA8B7;
}

.bold,
strong {
  font-weight: 700;
}

.italic,
em {
  font-style: italic;
}

.fix {
  overflow: hidden;
  *zoom: 1;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  line-height: 0;
  margin: 0;
  padding: 0;
  content: "";
}

.row:after,
.clearfix:after,
.content-wrap:after {
  clear: both;
}

a {
  text-decoration: none;
  color: #627590;
}

a,
button,
select,
input,
label {
  cursor: pointer;
}

img {
  width: 100%;
}

input,
select,
textarea {
  padding: 10px 15px;
  border: 1px solid gray;
  font-size: 1.1em;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #627590;
}

input[type=submit],
input[type=button],
select[type=submit],
select[type=button],
textarea[type=submit],
textarea[type=button] {
  background: #B3522C;
  color: #fff;
}

input[type=checkbox] {
  width: auto;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  margin-right: 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #4F4F4F;
}

::-webkit-scrollbar-thumb {
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3522C;
}

/* body preset */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.428571429em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
  color: #121212;
  background: #E5E5E5;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate_faster, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-duration: calc(1s / 2);
  animation-duration: calc(1s / 2);
  -webkit-animation-duration: calc(var(--animate-duration) / 2);
  animation-duration: calc(var(--animate-duration) / 2);
}

.animate_fast {
  -webkit-animation-duration: calc(1s * 0.8);
  animation-duration: calc(1s * 0.8);
  -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
  animation-duration: calc(var(--animate-duration) * 0.8);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.cabincon {
  display: inline-block;
}
.cabincon.phone-white {
  background: url("../icons/lucide/phone-white.svg");
}
.cabincon.mail-white {
  background: url("../icons/lucide/mail-white.svg");
}
.cabincon.search-gray {
  background: url("../icons/lucide/search-gray.svg");
}
.cabincon.shopping-cart-blue {
  background: url("../icons/lucide/shopping-cart-blue.svg");
}
.cabincon.size-15 {
  width: 15px;
  height: 15px;
  background-size: 15px;
}
.cabincon.size-15 + a {
  line-height: 15px;
}
.cabincon.size-20 {
  width: 20px;
  height: 20px;
  background-size: 20px;
}
.cabincon.size-20 + a {
  line-height: 20px;
}
.cabincon.size-22 {
  width: 22px;
  height: 22px;
  background-size: 22px;
}
.cabincon.size-22 + a {
  line-height: 22px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-white {
  background-color: #fff;
}
.btn.btn-white:hover {
  background-color: #121212;
  color: #fff;
}

.primary-gradient {
  background: #b3522c;
  background: -webkit-gradient(linear, left top, right top, from(#b3522c), to(rgba(179, 82, 44, 0)));
  background: linear-gradient(90deg, #b3522c 0%, rgba(179, 82, 44, 0) 100%);
}

.topbar-area {
  background: #627590;
  color: #fff;
  height: 40px;
}
.topbar-area li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topbar-area li a {
  color: white;
  padding: 10px;
  display: inline-block;
}
.topbar-area .topbar-nav {
  width: 60%;
  float: left;
}
.topbar-area .topbar-nav ul li {
  margin-right: 10px;
}
.topbar-area .topbar-nav ul li a {
  text-transform: capitalize;
}
.topbar-area .contact-area {
  width: 40%;
  float: left;
  text-align: right;
}
.topbar-area .contact-area .contact-details {
  padding: 10px;
}
.topbar-area .contact-area .contact-details li i {
  float: left;
  margin-right: 5px;
}
.topbar-area .contact-area .contact-details li a {
  padding: 0;
}
.topbar-area .contact-area .contact-details li + li {
  margin-left: 20px;
}

.header-area {
  background: #fff;
  padding: 22px 0;
}
.header-area .logo-area {
  width: 30%;
  margin-right: 6%;
  float: left;
}
.header-area .logo-area img {
  max-width: 350px;
}
.header-area .search-area {
  float: left;
  width: 42%;
  margin-right: 5%;
}
.header-area .search-area .searchform {
  position: relative;
  margin-top: 10px;
}
.header-area .search-area .searchform .cabincon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header-area .search-area .searchform input {
  width: 100%;
  border-radius: 20px;
  padding-left: 35px;
  border: 1px solid #C6CDD7;
  margin-bottom: 0;
}
.header-area .cart-area {
  width: 17%;
  float: left;
}
.header-area .cart-area .cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.header-area .cart-area .cart-list li a {
  display: inline-block;
}
.header-area .cart-area .cart-list li a i {
  position: relative;
}
.header-area .cart-area .cart-list li a i .counter {
  position: absolute;
  right: -4px;
  top: -4px;
  display: block;
  width: 12px;
  height: 14px;
  background: #B3522C;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.header-area .cart-area .cart-list li + li {
  margin-left: 35px;
}

.navigation-area {
  background: #F0F2F5;
  padding: 5px;
}
.navigation-area .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navigation-area .main-nav > li > a {
  color: #3F4B5C;
  font-weight: 500;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.285em;
  position: relative;
}
.navigation-area .main-nav > li > a:hover {
  text-decoration: none;
  color: #B3522C;
}
.navigation-area .main-nav > li > a:before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #3F4B5C;
  position: absolute;
  right: -2px;
  top: 50%;
  margin-top: -2px;
}
.navigation-area .main-nav > li > a:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  display: none;
}
.navigation-area .main-nav > li:last-child a:before {
  content: none;
}
.navigation-area .main-nav > li .submenu-block {
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: none;
}
.navigation-area .main-nav > li .submenu-block h3 {
  font-size: 1.714em;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.navigation-area .main-nav > li .submenu-block .submenu-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}
.navigation-area .main-nav > li .submenu-block .category h4 {
  font-size: 1.14em;
  line-height: 1em;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.navigation-area .main-nav > li .submenu-block .category .submenu {
  list-style-type: disc;
  margin-left: 15px;
}
.navigation-area .main-nav > li .submenu-block .submenu {
  list-style-type: none;
  list-style-position: inside;
  color: #B3522C;
  margin-left: 0px;
}
.navigation-area .main-nav > li .submenu-block .submenu li {
  margin: 12px 0;
}
.navigation-area .main-nav > li .submenu-block .submenu li a {
  color: #B3522C;
  font-size: 1.14em;
  font-weight: 500;
}
.navigation-area .main-nav > li:hover > a:after {
  display: block;
}
.navigation-area .main-nav > li:hover > .submenu-block {
  display: block;
  top: 100%;
}

.header-banner {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.header-banner .primary-gradient {
  background: #b3522c;
  background: -webkit-gradient(linear, left top, right top, from(#b3522c), to(rgba(179, 82, 44, 0)));
  background: linear-gradient(90deg, #b3522c 0%, rgba(179, 82, 44, 0) 100%);
}
.header-banner .banner-text {
  color: #fff;
  margin: 10vw 0;
  width: 60%;
}
@media only screen and (max-width: 767px) {
  .header-banner .banner-text {
    width: 100%;
  }
}
.header-banner .banner-text .tagline {
  font-size: 2.14em;
  line-height: 1.6em;
  font-weight: 400;
}
.header-banner .banner-text .heading {
  font-size: 3.857em;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 26px;
}
.header-banner .banner-text .btn {
  width: 200px;
  font-size: 1.14em;
}