@font-face {
  font-family: "helvetica";
  src: url("fonts/helvetica/helvetica-webfont.woff2") format("woff2"), url("fonts/helvetica/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************************************************************************************
************************************* Present CSS**********************************************/
body,
html {
  min-height: 100%;
  height: 100%;
}

b,
strong {
  font-weight: 700;
}

li {
  display: list-item;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

a {
  list-style: none;
  text-decoration: none;
  outline: 0;
  color: #627590;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  outline: none;
}

:focus {
  outline: 0;
}

img {
  width: auto\9 ;
  height: auto;
  border: none;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #121212;
  margin: 1em 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.tcenter {
  text-align: center;
}

.tright {
  text-align: right;
}

.central {
  margin: 0 auto;
}

.allcaps {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

section:before,
section:after,
header:after,
footer:before {
  clear: both;
}

/*Remove text-shadow in selection highlight: h5bp.com/i */
::-moz-selection {
  background: #B3522C;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #B3522C;
  text-shadow: none;
  color: #fff;
}

/********* placeholder color **********/
::-webkit-input-placeholder {
  color: #9DA8B7;
}

:-moz-placeholder {
  color: #9DA8B7;
}

::-moz-placeholder {
  color: #9DA8B7;
}

:-ms-input-placeholder {
  color: #9DA8B7;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.bold,
strong {
  font-weight: 700;
}

.italic,
em {
  font-style: italic;
}

.fix {
  overflow: hidden;
  *zoom: 1;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  line-height: 0;
  margin: 0;
  padding: 0;
  content: "";
}

.row:after,
.clearfix:after,
.content-wrap:after {
  clear: both;
}

a {
  text-decoration: none;
  color: #627590;
}

a,
button,
select,
input,
label {
  cursor: pointer;
}

img {
  width: 100%;
}

input,
select,
textarea {
  padding: 10px 50px;
  border: 1px solid gray;
  font-size: 14px;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #627590;
}

input[type=submit],
input[type=button],
select[type=submit],
select[type=button],
textarea[type=submit],
textarea[type=button] {
  background: #B3522C;
  color: #fff;
}

input[type=checkbox] {
  width: auto;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  margin-right: 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #4F4F4F;
}

::-webkit-scrollbar-thumb {
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3522C;
}

/* body preset */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.428571429em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
  color: #121212;
  background: #fff;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate_fastest {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.animate_faster, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.animate_fast {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.animate_slow {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn, .navigation-area .main-nav > li .submenu-block, .navigation-area .main-nav > li > a:after {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 20px;
}

.section-title {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.section-title span {
  color: #B3522C;
}
.section-title h2, .section-title h3, .section-title h4 {
  font-size: 3.14285em;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
}

.cabincon {
  display: inline-block;
}
.cabincon.phone-white {
  background: url("../icons/lucide/phone-white.svg");
}
.cabincon.mail-white {
  background: url("../icons/lucide/mail-white.svg");
}
.cabincon.mail-blue {
  background: url("../icons/lucide/mail-blue.svg");
}
.cabincon.search-gray {
  background: url("../icons/lucide/search-gray.svg");
}
.cabincon.shopping-cart-blue {
  background: url("../icons/lucide/shopping-cart-blue.svg");
}
.cabincon.size-15 {
  width: 15px;
  height: 15px;
  background-size: 15px;
}
.cabincon.size-15 + a {
  line-height: 15px;
}
.cabincon.size-20 {
  width: 20px;
  height: 20px;
  background-size: 20px;
}
.cabincon.size-20 + a {
  line-height: 20px;
}
.cabincon.size-22 {
  width: 22px;
  height: 22px;
  background-size: 22px;
}
.cabincon.size-22 + a {
  line-height: 22px;
}
.cabincon.size-24 {
  width: 24px;
  height: 24px;
  background-size: 24px;
}
.cabincon.size-24 + a {
  line-height: 24px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.btn.btn-white {
  background-color: #fff;
  color: #121212;
}
.btn.btn-primary {
  background-color: #B3522C;
}
.btn.btn-blue {
  background-color: #627590;
}
.btn.btn-large {
  padding: 20px 60px;
  font-size: 1.14285em;
}
.btn.btn-medium {
  padding: 15px 40px;
  font-size: 14px;
}
.btn.btn-wide {
  padding: 10px 60px;
  font-size: 14px;
}
.btn:hover {
  text-decoration: none;
  background-color: #121212;
  color: #fff;
}

.primary-gradient {
  background: #b3522c;
  background: -webkit-gradient(linear, left top, right top, from(#b3522c), to(rgba(179, 82, 44, 0)));
  background: linear-gradient(90deg, #b3522c 0%, rgba(179, 82, 44, 0) 100%);
}

.topbar-area {
  background: #627590;
  color: #fff;
  height: 40px;
}
.topbar-area li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topbar-area li a {
  color: white;
  padding: 10px;
  display: inline-block;
}
.topbar-area .topbar-nav {
  width: 60%;
  float: left;
}
.topbar-area .topbar-nav ul li {
  margin-right: 10px;
}
.topbar-area .topbar-nav ul li a {
  text-transform: capitalize;
}
.topbar-area .contact-area {
  width: 40%;
  float: left;
  text-align: right;
}
.topbar-area .contact-area .contact-details {
  padding: 10px;
}
.topbar-area .contact-area .contact-details li i {
  float: left;
  margin-right: 5px;
}
.topbar-area .contact-area .contact-details li a {
  padding: 0;
}
.topbar-area .contact-area .contact-details li + li {
  margin-left: 20px;
}

.header-area {
  background: #fff;
  padding: 22px 0;
}
.header-area .logo-area {
  width: 30%;
  margin-right: 6%;
  float: left;
}
.header-area .logo-area img {
  max-width: 350px;
}
.header-area .logo-area a {
  font-size: 0;
}
.header-area .search-area {
  float: left;
  width: 42%;
  margin-right: 5%;
}
.header-area .search-area .searchform {
  position: relative;
  margin-top: 10px;
}
.header-area .search-area .searchform .cabincon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header-area .search-area .searchform input {
  width: 100%;
  border-radius: 20px;
  padding-left: 35px;
  border: 1px solid #C6CDD7;
  margin-bottom: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header-area .cart-area {
  width: 17%;
  float: left;
}
.header-area .cart-area .cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.header-area .cart-area .cart-list li a {
  display: inline-block;
}
.header-area .cart-area .cart-list li a i {
  position: relative;
}
.header-area .cart-area .cart-list li a i .counter {
  position: absolute;
  right: -4px;
  top: -4px;
  display: block;
  width: 12px;
  height: 14px;
  background: #B3522C;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.header-area .cart-area .cart-list li + li {
  margin-left: 35px;
}

.navigation-area {
  background: #F0F2F5;
  padding: 5px;
}
.navigation-area .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navigation-area .main-nav > li {
  position: relative;
}
.navigation-area .main-nav > li > a {
  color: #3F4B5C;
  font-weight: 500;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.28571em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.navigation-area .main-nav > li > a:hover {
  text-decoration: none;
  color: #B3522C;
}
.navigation-area .main-nav > li > a:before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #3F4B5C;
  position: absolute;
  right: -2px;
  top: 50%;
  margin-top: -2px;
}
.navigation-area .main-nav > li > a:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  display: none;
}
.navigation-area .main-nav > li:last-child a:before {
  content: none;
}
.navigation-area .main-nav > li .submenu-block {
  position: absolute;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  display: none;
  min-width: 300px;
}
.navigation-area .main-nav > li .submenu-block.full-width {
  width: 100%;
}
.navigation-area .main-nav > li .submenu-block h3 {
  font-size: 1.71424em;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.navigation-area .main-nav > li .submenu-block .category h4 {
  font-size: 1.14285em;
  line-height: 100%;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.navigation-area .main-nav > li .submenu-block .category .submenu {
  list-style-type: disc;
  margin-left: 15px;
}
.navigation-area .main-nav > li .submenu-block .submenu {
  list-style-type: none;
  list-style-position: inside;
  color: #B3522C;
  margin-left: 0px;
}
.navigation-area .main-nav > li .submenu-block .submenu li {
  margin: 12px 0;
}
.navigation-area .main-nav > li .submenu-block .submenu li a {
  color: #B3522C;
  font-size: 1.14285em;
  font-weight: 500;
}
.navigation-area .main-nav > li.megamenu {
  position: static;
}
.navigation-area .main-nav > li.megamenu .submenu-block {
  width: 100%;
}
.navigation-area .main-nav > li.megamenu .submenu-block .submenu-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}
.navigation-area .main-nav > li:hover > a {
  color: #B3522C;
}
.navigation-area .main-nav > li:hover > a:after {
  display: block;
}
.navigation-area .main-nav > li:hover > .submenu-block {
  display: block;
  top: 100%;
}

.header-banner {
  background-position: center center;
  background-size: cover;
}
.header-banner .primary-gradient {
  background: #b3522c;
  background: -webkit-gradient(linear, left top, right top, from(#b3522c), to(rgba(179, 82, 44, 0)));
  background: linear-gradient(90deg, #b3522c 0%, rgba(179, 82, 44, 0) 100%);
}
.header-banner .banner-text {
  color: #fff;
  margin: 10vw 0;
  width: 60%;
}
@media only screen and (max-width: 767px) {
  .header-banner .banner-text {
    width: 100%;
  }
}
.header-banner .banner-text .tagline {
  font-size: 2.14285em;
  line-height: 160%;
  font-weight: 400;
}
.header-banner .banner-text .heading {
  font-size: 3.85714em;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 25px;
}
.header-banner .banner-text .btn {
  width: 200px;
  font-size: 1.14285em;
}

.choice-points {
  padding: 50px 0px;
  background-color: #fff;
}
.choice-points .section-title {
  margin-top: 20px;
  margin-bottom: 0px;
}
.choice-points .points-area {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
  grid-column-gap: 80px;
  margin-top: 80px;
}
.choice-points .points-area .point {
  text-align: left;
}
.choice-points .points-area .point .icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #B3522C;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.choice-points .points-area .point .icon img {
  width: 50%;
}
.choice-points .points-area .point .icon i {
  width: 40px;
  height: 40px;
  background-size: 75px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.choice-points .points-area .point .icon i.extensive-collection {
  background: url("../images/points/extensive-collection.svg");
}
.choice-points .points-area .point .icon i.heirloom-quality {
  background: url("../images/points/heirloom-quality.svg");
}
.choice-points .points-area .point .icon i.affordable-elegance {
  background: url("../images/points/affordable-elegance.svg");
}
.choice-points .points-area .point .icon i.custom-options {
  background: url("../images/points/custom-options.svg");
}
.choice-points .points-area .point .icon i.trusted-source {
  background: url("../images/points/trusted-source.svg");
}
.choice-points .points-area .point .icon i.stellar-service {
  background: url("../images/points/stellar-service.svg");
}
.choice-points .points-area .point h3 {
  font-size: 1.71424em;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 20px;
}
.choice-points .points-area .point p {
  font-size: 1.14285em;
  line-height: 1.85714em;
  color: #4F4F4F;
}
.choice-points .action-area {
  text-align: center;
  margin-top: 100px;
}
.choice-points .action-area .btn {
  font-weight: 700;
}

.display-board .display-area {
  margin: 30px 0 50px;
}
.display-board .display-area .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.display-board .display-area .display + .display {
  margin-top: 150px;
}
.display-board .display-area .display .display-image {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}
.display-board .display-area .display .display-image img {
  border-radius: 10px;
}
.display-board .display-area .display .display-text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  padding-left: 6%;
}
.display-board .display-area .display .display-text .section-title {
  text-align: left;
}
.display-board .display-area .display .display-text p {
  color: #121212;
  font-size: 1.28571em;
  line-height: 160%;
  opacity: 0.7;
}
.display-board .display-area .display .display-text .btn {
  margin-top: 30px;
}
.display-board .display-area .display:nth-child(2n+2) .display-text {
  padding-right: 6%;
  padding-left: 0;
}

.testimonial-area {
  padding: 40px 0;
}
.testimonial-area .testimonial-slider {
  padding: 20px 0;
  margin-top: 50px;
  margin-bottom: 40px !important;
}
.testimonial-area .testimonial-slider .slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 90px 265px;
  grid-template-columns: auto 265px;
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  margin: 0 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
}
.testimonial-area .testimonial-slider .slide .quotation:before {
  content: "";
  display: block;
  height: 45px;
  width: 60px;
  background: url("../images/blockquote.png") no-repeat;
  background-size: 60px;
}
.testimonial-area .testimonial-slider .slide .quotation blockquote {
  margin: 30px 0;
  color: #1F173D;
  font-size: 1.14285em;
  line-height: 25px;
  font-weight: 500;
}
.testimonial-area .testimonial-slider .slide .quotation p {
  letter-spacing: 0.3px;
}
.testimonial-area .testimonial-slider .slide .quotation p .author {
  font-size: 1.42857em;
  line-height: 25px;
  color: #121212;
  display: inline-block;
  position: relative;
}
.testimonial-area .testimonial-slider .slide .quotation p .author.verified:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/verified.svg") no-repeat;
  background-size: 20px;
  position: absolute;
  bottom: 3px;
  right: -25px;
}
.testimonial-area .testimonial-slider .slide .quotation p .company {
  display: block;
  color: #767676;
  font-size: 1.14285em;
  line-height: 20px;
  margin-top: 5px;
}
.testimonial-area .testimonial-slider .slide .image {
  border-radius: 10px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-arrow {
  display: none !important;
}

.slick-slider:hover .slick-arrow {
  display: inline-block !important;
}

.slick-prev,
.slick-next {
  height: 65px;
  width: 65px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #fff;
  color: transparent;
  padding: 0;
  border: none;
  outline: none;
  top: 50%;
  position: absolute;
  margin-top: -32px;
  z-index: 999;
  background-position: center center !important;
  border: 1px solid #fff;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  border-color: #B3522C;
}

.slick-prev {
  left: 190px;
  background: #fff url("../icons/lucide/chevron-left.svg") no-repeat;
}

.slick-next {
  right: 190px;
  background: #fff url("../icons/lucide/chevron-right.svg") no-repeat;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 4px;
  width: 4px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 4px;
  cursor: pointer;
  width: 3px;
  height: 3px;
  background: #fff;
  border: 1px solid #B3522C;
  border-radius: 10px;
  margin: 2px 3px;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  background-color: #B3522C;
}

.cta-banner .banner {
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.cta-banner .banner.home-cta {
  background: url("../images/bg/jumbo.svg") no-repeat;
  background-size: cover;
  color: #fff;
}
.cta-banner .banner h4 {
  font-size: 2.14285em;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 700;
}

.footer {
  border-top: 1px solid #DDDDDD;
  padding: 30px 0;
}
.footer a, .footer p {
  color: #424F61;
}
.footer .footer-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-area .footer-logo img {
  margin-bottom: 20px;
}
.footer .footer-area .footer-logo .copyright {
  color: #424F61;
  font-size: 1.14285em;
  line-height: 1.71424em;
}
.footer .footer-area .footer-social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.footer .footer-area .footer-social .social-icons li a {
  display: block;
  width: 26px;
  height: 26px;
  background: url("../images/footer-social-sprite.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
}
.footer .footer-area .footer-social .social-icons li a.facebook {
  background-position: 0 0;
}
.footer .footer-area .footer-social .social-icons li a.pinterest {
  background-position: 0 -36px;
}
.footer .footer-area .footer-social .social-icons li a.instagram {
  background-position: 0 -71px;
}
.footer .footer-area .footer-social .social-icons li a:hover {
  background-position-x: -32px !important;
}
.footer .footer-area .footer-social .newsletter {
  line-height: 1.71424em;
}
.footer .footer-area .footer-social .newsletter a:hover {
  color: #B3522C;
}
.footer .footer-area .footer-social .newsletter i {
  float: left;
  margin-right: 10px;
}
.footer .footer-area .footer-links .links li {
  margin-bottom: 10px;
}
.footer .footer-area .footer-links .links li a {
  font-size: 14px;
  line-height: 1.14285em;
}
.footer .footer-area .footer-links .links li a:hover {
  color: #B3522C;
}