// This is custom css
// base scss
@import 'base/variables';
@import 'base/mixin';
@import 'base/reset';
@import 'base/preset';
@import 'base/fonts';
// @import 'base/animation';
.container{
    width:100%;
    max-width:1200px;
    margin:$m-0 auto;
    padding:$m-0 $m-20;
    &.small{
        max-width: 720px;
    }
}
.grid{
    display: grid;
    grid-column-gap:20px;
    width: 100%;
    &.two-column{
        grid-template-columns: 1fr 1fr;
    }
    @include upto-phone{
        grid-template-columns: 1fr !important;
    }
}
// components scss
@import "components/typography";
@import "components/utilities";

// section scss
@import 'sections/header-area';

.search_submit, .cart{
    display: inline-block;
    background: url(../icons/sprite-icons.svg) no-repeat !important;
}

// only for 404 page
.header-area {
    border-bottom:1px solid #DDDDDD;
    .header-grid{
        display: grid;
        width: 100%;
        grid-column-gap:20px;
        grid-template-columns: 33.3fr 41.6fr 25%;
    }
    .search_submit, .cart {
        @include square(28px);
    }
    .search-area{
        @include upto-tablet{
            display: none;
        }
    }
    .search_submit{
        top:10px !important;
        background-size: 155px !important;
        background-position: -124px -11px !important;
    }
    
    .cart-link{
        .cart {
            background-size: 145px !important;
            background-position: -44px -7px !important;
            @include upto-tablet{
                background-position-x: -81px !important;
            }
        } 
        &:hover{
            .cart{
                background-position-x: -6.65px !important;  
                @include upto-tablet{
                    background-position-x: -81px !important;
                }
            }
        } 
    }
    .cart-area{
        @include upto-tablet{
            margin-right:15px;
        }
    }
}

.not-found-section{
    .container{
        padding:50px 20px 110px;
    }
    .page-head{
        .superheading{
            text-align: center;
            font-family: 'Inter', sans-serif;
            @include font(164px,130%,900);
            @include upto-tablet{
                @include font(8rem,1.5em,900);
            }
            margin-bottom:50px;
            color: #FFFFFF;
            text-shadow: 4px 12px 12px rgba(214, 214, 214, 0.6);
            animation: appear 4s;
        }
        h3{
            color:$blue-darkest;
            @include font(48px,130%,700);
            @include upto-tablet{
                @include font(2.25rem,1.3em,700);
            }
            margin-bottom:30px;
        }
        p{
            @include font(24px,130%);
            color:#4F4F4F;
        }
    }
    .search-area{
        margin:60px 0;
        .searchform{
            position:relative;
        }
        .search_submit{
            position:absolute;
            left: 18px;
            top: 16px;
            border: 0;
            background: transparent;
            background-size: 186px !important;
            background-position: -151px -12px !important;
            @include square(28px);
            &:hover{
                box-shadow: none;
            }
        }
        input{
            width:100%;
            border-radius: 40px;
            padding: 16px 10px 16px 55px;
            border:$thin solid $blue-light-2;
            margin-bottom:0;
            appearance: none;
            font-size:20px;
            &:focus{
                outline:0;
                border-color:$brand-color;
                
            }
        }
    }
    .links-area{
        h4{
            @include font(24px,31px,700);
            margin-bottom:10px;
        }
        .links{
            margin-bottom:40px;
            display: block;
            li{
                display: inline;
                font-size:16px;
                line-height: 24px;
                a{
                    color:$brand-color;
                }
                &:after{
                    content:"|";
                    color:$brand-color;
                    margin:0 5px;
                }
                &:last-child{
                    &:after{
                        content:none;
                    }
                }
                @include upto-phone{
                    margin-bottom:10px;
                    display: inline-block;
                }
            }
        }
    }
}



.footer{
    border-top: $thin solid $gray;
    padding:$m-30 0;
    padding-bottom:80px;
    a,p{
        color:$blue-darker-2;
    }
    li{
        list-style-type: none;
    }
    
    .footer-logo{
        flex-basis:20%;
        margin-right: 5%;
        img{
            @include upto-phone{
                // margin:0 auto $m-20;
            }
            @include above-phone{
                margin-bottom:20px;
            }
            max-width:214px;
        }
        .copyright{
            color:$blue-darker-2;
            @include font($font-16,$font-24);
            @include upto-tablet{
                color:$brand-color;
            }
        }
    }
    .links{
        a{
            @include font(14px,18px);
        }
    }
    .footer-links{
        .links{
            text-align:right;
            li{
                display: inline-block;
                margin-left:25px;
                margin-bottom:10px;
            }
        }
        @include upto-phone{
            margin-top:50px;
            .links{
                text-align:left;
                li{
                    margin-left:0;
                    margin-right:25px;
                }
            }
        }
    }
    .footer-bottom{
        border-top:1px solid #DDDDDD;
        padding:15px 0 15px;
        margin-top:25px;
        .links{
            li{
                display: inline;
                &:after{
                    content:"|";
                    margin:0 5px;
                    font-size:14px;
                }
                @include upto-phone{
                    margin-bottom:10px;
                    display: inline-block;
                }
            }
        }
    }
}

@keyframes appear{
    0%{opacity: 0;}
    60%{opacity: 0.4;}
    95%{opacity: 0.7;}
    100%{opacity: 1;}
}