// base scss
@import 'base/variables';
@import 'base/mixin';
@import 'base/reset';
@import 'base/preset';

.front-page{
    background: $whitish-2;
    padding:20px;
    .container{
        width:100%;
        max-width: 600px;
        margin:0 auto;
        .header{
            margin-top:20px;
            text-align:center;
            h1{
                font-size:2em;
                font-weight: 700;
                margin-bottom:0;
                text-transform: uppercase;
                color:$brand-color;
                img{
                    max-width: 180px;
                }
                span{
                    color:$blue-darkest;
                    text-transform: capitalize;
                }
            }
            margin-bottom:25px;
        }
        .content{
            border:1px solid $blue-darkest;
            padding:20px;
            background: $white;
            margin-bottom: 100px;
            .page-list{
                list-style-type: decimal;
                list-style-position: outside;
                padding-left:20px;
                li{
                    @include font(16px,26px);
                    margin-bottom:10px;
                    a{
                        font-weight: 500;
                        padding: 5px;
                        display: inline-block;
                        color: #fff !important;
                    }
                    &:after{
                        margin-left:15px;
                        color:inherit;
                        font-size:0.9em;
                        color: #fff !important;
                    }
                    
                    
                    &.working{
                        background-color: #2b47b9;
                        &:after{
                            content:"(On Develop)";
                        }
                    }
                    &.check{
                        background-color: $brand-color;
                        
                        &:after{
                            content:"(Fixes done, Please check)";
                        }
                    }
                    &.done{
                        background-color: #167702;
                        &:after{
                            content:"(Completed)";
                        }
                    }
                    &.hold{
                        background-color: #ac00c3;
                        &:after{
                            content:"(On Hold)";
                        }
                    }
                    &.next{
                        background-color: #ff0000;
                        &:after{
                            content:"(Next in routine)";
                        }
                    }
                }
            }
        }
    }
}