// base scss
@import 'base/variables';
@import 'base/mixin';
@import 'base/reset';
@import 'base/preset';

.front-page{
    background: $whitish-2;
    padding:$m-20;
    .container{
        width:100%;
        max-width: 600px;
        margin:0 auto;
        .header{
            padding:20px;
            margin-top:30px;
            text-align:center;
            h1{
                font-size:2em;
                font-weight: $font-bold;
                margin-bottom:0;
                text-transform: uppercase;
                color:$brand-color;
                span{
                    color:$blue-darkest;
                    text-transform: capitalize;
                }
            }
            margin-bottom:25px;
        }
        .content{
            border:1px solid $blue-darkest;
            padding:20px;
            background: $white;
            margin-bottom: 100px;
            .page-list{
                list-style-type: decimal;
                list-style-position: outside;
                padding-left:$m-20;
                li{
                    @include font($font-16,$line-26);
                    margin-bottom:10px;
                    a{
                        font-weight: $font-medium;
                        padding: 5px;
                        display: inline-block;
                    }
                    &:after{
                        margin-left:15px;
                        color:inherit;
                        font-size:0.8em;
                    }
                    &.working{
                        &:after{
                            content:"(On Develop)";
                        }
                        &:after, a{color:#2b47b9;}
                    }
                    &.review{
                        &:after{
                            content:"(On Review)";
                        }
                        &:after, a{color:$brand-color;}
                    }
                    &.check{
                        border:1px solid $brand-color;
                        background-color: rgba($brand-color, 0.2);
                        &:after{
                            content:"(Please check)";
                        }
                        &:after, a{
                            color:$black;}
                    }
                    &.done{
                        border:1px solid darken(#167702, 20);
                        background-color: #167702;
                        &:after{
                            content:"(Completed)";
                        }
                        &:after, a{color:$white;}
                    }
                    &.hold{
                        &:after{
                            content:"(On Hold)";
                        }
                        &:after, a{color:#ac00c3;}
                    }
                    &.next{
                        &:after{
                            content:"(Next in routine)";
                        }
                        &:after, a{color:#ff0000;}
                    }
                }
            }
        }
    }
}