@import 'base/variables';
@import 'base/mixin';
// @import 'base/reset';
@import 'base/preset';

html,body{
    padding:0;
    margin:0;
    // height:100%;
}
.giftpage{
    min-height: 100%;
    background:url('../images/certificate-bg.jpg') no-repeat;
    background-position: top center;
    background-size:cover;
    p,a{
        font-family: 'DM Sans', serif;
        margin:0;
    }
    .certificate{
        min-height: 100%;
        padding-top:35px;
        // background-color: #f7f5f6;
        .container{
            width:100%;
            max-width: 1020px;
            margin:0px auto;
            @include upto-phone{
                padding:0 20px;
                margin:0 auto;
            }
        }
        .gift_logo{
            text-align:center;
            // background-color: #f7f5f6;
            margin-bottom:67px;
            a{
                display:block;
                width: 160px; 
                margin:0 auto;
            }
        }
        .main_content{
            // background:url('../images/shape-logo.jpg') no-repeat;
            // background-size:cover;
        }
        .heading{
            margin-bottom:38px;
            text-align: center;
            h2{
                font-family: 'Playfair Display', serif;
                @include font(93px,1.2em,400);
                color:$brand-color;
                margin:0;
            }
        }
        .text{
            margin-bottom:77px;
            p{
                @include font(24px,1.25em);
                margin-bottom:0;
                color:#828282;
            }
        }
        .gift_fields{
            margin-bottom:70px;
            .field{
                margin-bottom:45px;
                p{
                    display:block;
                    @include font(22px,1.2em);
                    span{
                        float:left;
                        &.label{
                        color: #444444; 
                            
                        }
                        &.value{
                            border-bottom:1px solid #828282;
                            color:#828282;
                            margin-top: -6px;
                        }
                    }
                }
            }
            .label{
                $sizes: 30,57,105,124,186;
                @each $size in $sizes{
                    $margin: 20;
                    $field_width : $size + $margin;
                    &.w#{$size}{
                        width:#{$size}px;
                        margin-right:#{$margin}px;
                        &+span{
                            width: calc(100% - #{$field_width}px);
                            padding-left:3px;
                        }
                    }
                }
                
            }
            .half_field{
                float:left;
                width:49%;
                margin-right:2%;
                &:nth-child(2n){
                    margin-right:0;
                }
                @include upto-phone{
                    display: block;
                    float:none;
                    width:100%;
                    margin-right:0 !important;
                }
            }
            .full_field{
                width:100%;
                @include upto-phone{
                    span{
                        &.value{
                            width:100% !important;
                            margin-top:5px !important;
                        }
                    }
                }
            }
        }
        .footnote{
            p{
                color:$brand-color;
                @include font(22px,1.2em);
            }
        }
    }
}
.certificate_footer{
    margin:70px auto 0px;
    padding:18px 0 35px;
    .container{
        width:100%;
        max-width: 1520px;
        margin:0 auto;
    }
    .copyright{
        float:left;
        @include upto-phone{
            float:none;
            margin-bottom:30px;
            text-align: center;
        }
        ul{
            list-style-type:none;
            margin:0;
            padding-left:0;
            li{
                display: inline;
                margin-right:10px;
                a{
                    text-decoration: none;
                    color:#828282;
                    @include font(20px,1.2em);
                }
            }
        }
    }
    .slogan{
        float:right;
        width:120px;
        margin-top: -7px;
        @include upto-phone{
            float:none;
            margin:0 auto;
        }
    }
}