@import 'base/variables';
@import 'base/mixin';
// @import 'base/reset';
@import 'base/preset';

body{
    padding:0;
    margin:0;
}
.giftpage{
    h2,h3,h4{
        font-family: 'Playfair Display', serif;
        margin:0;
    }
    .giftcard{
        width:100%;
        max-width: 580px;
        margin:40px auto;
        @include upto-phone{
            margin:0 auto;
        }
        background-color: #f7f5f6;
        .container{
            padding:0 45px;
        }
        .gift_logo{
            text-align:center;
            background-color: #f7f5f6;
            padding-top:30px;
            a{
                display:block;
                width: 155px; 
                margin:0 auto;
            }
        }
        .main_content{
            background:url('../images/shape-logo.jpg') no-repeat;
            background-size:cover;
        }
        .heading{
            margin-top:60px;
            margin-bottom:80px;
            text-align: center;
            h2{
                @include font(40px,1.2em,400);
                color:$brand-color;
                margin:0;
            }
            img{
                max-width: 365px;
            }
        }
        .gift_text{
            p{
                @include font(16px,18px);
                margin-bottom:45px; 
                color:#828282;
            }
        }
        .gift_item{
            text-align: center;
            padding:0 40px;
            @include upto-phone{
                padding:0;
            }
            .item_header{
                @include above-phone{
                    padding:0 20px;
                }
                h3{
                    @include font(22px,1.3em,400);
                    color:$brand-color;
                }
            }
            .item_image{
                margin:40px auto;
                img{
                    border:3px solid $brand-color;
                }
            }
        }
        .gift_footer{
            background-color: #f7f5f6;
            padding:30px 0;
            .copyright{
                float:left;
                @include upto-phone{
                    float:none;
                    margin-bottom:30px;
                    text-align: center;
                }
                ul{
                    list-style-type:none;
                    margin:0;
                    padding-left:0;
                    li{
                        display: inline;
                        margin-right:10px;
                        a{
                            text-decoration: none;
                            color:$brand-color;
                            font-size:12px;
                        }
                    }
                }
            }
            .slogan{
                float:right;
                width:90px;
                margin-top: -7px;
                @include upto-phone{
                    float:none;
                    margin:0 auto;
                }
            }
        }
    }
}