.auth-section{
    padding:$m-80 0;
    @include upto-phone{
        padding:$m-55 0;
    }
    .auth-forms-area{
        margin-top:50px;
        .header{
            h3,h4{
                padding-bottom: 20px;
                border-bottom: 1px solid #C4C4C4;
                margin-bottom: 20px;
            }
            p{
                @include font($font-16,$line-26);
                color:$gray-dark-3;
                margin-bottom:30px;
            }
        }
        
        .login-section{
            @include from-pc{
                form{
                    margin-top:20px;
                }
            }
            .forgot-link{
                font-size: 12px;
                line-height: 26px;
                color: $brand-color;
                margin-top:10px;
            }
        }
        .register-section{
            @include upto-phone{
                margin-top:48px;
            }
        }
        .btn{
            padding-top:20px;
            padding-bottom:20px;
            font-size:16px;
        }
    }
}