.auth-section{
    padding:$m-80 0;
    @include upto-phone{
        padding:$m-55 0;
        .section-title{
            h2,h3,h4{
                @include font(36px,130%,$font-bold);
            }
        }
    }
    .auth-forms-area{
        margin-top:50px;
        .header{
            h3,h4{
                padding-bottom: 20px;
                border-bottom: 1px solid #C4C4C4;
                margin-bottom: 20px;
            }
            p{
                @include font($font-16,$line-26);
                color:$gray-dark-3;
                margin-bottom:30px;
            }
        }
        
        .login-section{
            @include from-pc{
                form{
                    margin-top:20px;
                }
            }
            .forgot-link{
                font-size: 12px;
                line-height: 26px;
                color: $brand-color;
                margin-top:10px;
            }
        }
        .register-section{
            @include upto-phone{
                margin-top:48px;
            }
            .submit-button{
                @include from-pc{
                    margin-top:43px;
                }
            }
        }
        .btn{
            padding-top:17px;
            padding-bottom:17px;
            font-size:16px;
        }
        .form-check-label{
            color:$blue-darkest;
        }
        input{
            &.form-control{
                height: 46px;
            }
        }
    }
    .user-links-area{
        margin-top:20px;
        margin-bottom:20px;
        .user-links{
            margin-left:0;
            padding-left:17px;
            @include font($font-18,$line-26);
            color:$brand-color;
            li{
                &+li{
                    margin-top:5px;
                }
                a{
                    color:$brand-color;
                }
            }
        }
    }
    .order-list-area{
        margin-top:40px;
        .order-list-table{
            margin-top:20px;
            border-color:#C4C4C4;
            @include upto-phone{
                margin-top:0;
            }
        }
        .order-list{
            th{
                @include font($font-20,$line-23,$font-bold);
                color:$blue-darker-3;
                text-align: left;
                padding:0px 0 25px
            }
            &>:not(:first-child){
                border-top:0;
            }
            td{
                padding:25px 0;
                color:$blue-darker-3;
                @include font($font-16,$line-18);
                a{
                    color:$brand-color;
                    &:hover{
                        color:$blue;
                    }
                }
            }
            
            @include upto-phone{
                thead{
                    display:none;
                }
                td{
                    display: block;
                    padding:8px 0;
                    border:0;
                    &:nth-child(1){
                        margin-top:10px;
                        &:before{
                            content: "Order Number:"
                        }
                    }
                    &:nth-child(2){
                        &:before{
                            content: "Order Date:"
                        }
                    }
                    &:nth-child(3){
                        &:before{
                            content: "Order Amount:"
                        }
                    }
                    &:nth-child(4){
                        margin-bottom:10px;
                        &:before{
                            content: "Order Status:"
                        }
                    }
                    &:before{
                        @include font($font-20,$line-21,$font-bold);
                        color:$blue-darker-3;
                        margin-right:10px;
                    }
                }
                tr{
                    border-bottom:1px solid #C4C4C4;
                }
            }
        }
    }
}