.choice-points{
    padding:$m-20 0;
    margin-top:$m-40;
    background-color: $white;
    .section-title{
        margin-top:$m-20;
        margin-bottom:$m-0;
        
    }
    .points-area{
        display: grid;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: stretch;
        justify-items: stretch;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: $m-100;
        grid-column-gap: $m-80;
        margin-top:$m-80;
        .point{
            text-align:left;
            .icon{
                width:$m-65;
                height:$m-65;
                border-radius:50%;
                background-color: $primary-color;
                margin-bottom:$m-30;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                img{
                    width:50%;
                }
                i{
                    width: 40px;
                    height: 40px;
                    background-size: 75px !important;
                    background-position: center center !important;
                    background-repeat: no-repeat !important;
                    
                    $icons : 
                        'extensive-collection', 
                        'heirloom-quality',
                        'affordable-elegance',
                        'custom-options',
                        'trusted-source',
                        'stellar-service'
                        ;
                    
                    @each $icon in $icons{
                        &.#{$icon}{
                            background: url('../images/points/#{$icon}.svg');
                            
                        }
                    } 
                }
            }
            h3{
                font-size:$font-24;
                line-height: 100%;
                font-weight: $font-bold;
                margin-bottom:$m-20;
            }
            p{
                font-size:$font-16;
                line-height:$font-26;
                color:$gray-light;
            }
        }
    }
    
    .action-area{
        text-align: center;
        margin-top:$m-100;
        .btn{
            font-weight: $font-bold;
        }
    }
}


@include until-normal{
    .choice-points{
        .points-area{
            display:block;
            .point{
                text-align: center;
                .icon{
                    margin:0 auto 30px;
                }
                &+.point{
                    margin-top:$m-40;
                }
            }
        }
    }
}