.choice-points{
    padding:20px 0;
    margin-top:40px;
    background-color: $white;
    .section-title{
        margin-top:20px;
        margin-bottom:0px;
        
    }
    .points-area{
        display: grid;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: stretch;
        justify-items: stretch;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 100px;
        grid-column-gap: 80px;
        margin-top:80px;
        .point{
            text-align:left;
            .icon{
                width:65px;
                height:65px;
                border-radius:50%;
                background-color: $brand-color;
                margin-bottom:30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                img{
                    width:50%;
                }
                i{
                    width: 40px;
                    height: 40px;
                    background-size: 75px !important;
                    background-position: center center !important;
                    background-repeat: no-repeat !important;
                    
                    $icons : 
                        'extensive-collection', 
                        'heirloom-quality',
                        'affordable-elegance',
                        'custom-options',
                        'trusted-source',
                        'stellar-service';
                    
                    @each $icon in $icons{
                        &.#{$icon}{
                            background: url('../images/points/#{$icon}.svg');
                            
                        }
                    } 
                }
            }
            h3{
                font-size:24px;
                line-height: 100%;
                font-weight: 700;
                margin-bottom:20px;
            }
            p{
                font-size:16px;
                line-height:26px;
                color:$gray-dark-2;
            }
        }
    }
    
    .action-area{
        text-align: center;
        margin-top:100px;
        margin-bottom:40px;
        @include upto-tablet{
            margin-top:30px;
        }
        .btn{
            @include font(16px,160%,700);
        }
    }
    
    &.smaller{
        .points-area{
            .point{
                .icon{
                    i{
                        width: 22px;
                        height: 22px;
                        background-size: 22px !important;
                        background-position: center center !important;
                        background-repeat: no-repeat !important;
                        $icons_snall : 
                        'empty-wallet', 
                        'bag',
                        'format-square',
                        'layer',
                        'quote-down',
                        'search-status';
                    
                        @each $icon in $icons_snall{
                            &.#{$icon}{
                                background: url('../images/points/small/#{$icon}.svg');
                                
                            }
                        }
                    }
                }
                h3{
                    @include font(24px,35px,500);
                }
            }
        }
    }
    &.with-counter{
        @include upto-tablet{
            margin-bottom:0 !important;
            padding-bottom:0;
        }
        .points-area{
            @include upto-tablet{
                grid-column-gap: 40px;
            }
            .point{
                position: relative;
                @include upto-tablet{
                    text-align:center;
                    padding:0 50px;
                    &+.point{
                        margin-top:80px;
                    }
                }
                &:before{
                    content:"";
                    display: block;
                    height:50px;
                    width:80px;
                    position:absolute;
                    background:url('../images/number-sprite.png') no-repeat;
                    background-position:0 0;
                    top: -15px;
                    left: -74px;
                    z-index:100;
                    @include upto-tablet{
                        left:50%;
                        margin-left:-107px;
                    }
                }
                .icon{
                    position:relative;
                    z-index:200;
                    @include upto-tablet{
                        margin-left:auto;
                        margin-right:auto;
                        margin-bottom:20px;
                    }
                }
                &:nth-child(2){
                    &:before{
                        background-position-y:-68px
                    }
                }
                &:nth-child(3){
                    &:before{
                        background-position-y:-140px
                    }
                }
                &:nth-child(4){
                    &:before{
                        background-position-y:-210px
                    }
                }
                &:nth-child(5){
                    &:before{
                        background-position-y:-280px
                    }
                } 
                &:nth-child(6){
                    &:before{
                        background-position-y:-348px;
                    }
                }
            }
        }
    }
    &.home-choice{
        margin:105px 0 100px;
        padding:0;
        .section-title{
            margin-top:0;
            h2{
                margin-bottom:0;
            }
        }
        .action-area{
            margin-bottom:0;
        }
    }
    
}


@include upto-pc{
    .choice-points{
        .points-area{
            display:block;
            .point{
                text-align: center;
                .icon{
                    margin:0 auto 30px;
                }
                &+.point{
                    margin-top:40px;
                }
            }
        }
        &.home-choice{
            margin:60px 0 20px;
            .section-title{
                margin-top:0;
                h2{
                    margin-bottom:0;
                }
            }
            .points-area{
                margin-top:40px;
            }
        }
        &.about-choice{
            margin-top:0 !important;
            padding-top:0;
        }
    }
}