.collection-area{
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    // gap: 20px;
    // @include upto-tablet{
    //     grid-template-columns: repeat(3,1fr);
    // }
    // @include upto-phone{
    //     grid-template-columns: repeat(2,1fr);
    // }
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    .collection{
        flex-basis:18%;
        margin-right:2.5%;
        margin-bottom:20px;
        transition: all 0.5s ease-in;
        @include above-phone{
            &:nth-child(5n){
                margin-right:0;
            }
        }
        img{
            transition: all 0.5s ease-in;
        }
        &:hover{
            text-decoration: none;
            border-color: $brand-color;
            img{
                transform: scale(1.05);
            }
        }
        @include upto-phone{
            flex-basis:30%;
            margin-right:5%;
            &:nth-child(3n){
                margin-right:0;
            }
        }
        @include phone-small{
            flex-basis:48%;
            margin-right:4% !important;
            &:nth-child(2n){
                margin-right:0 !important;
            }
            
        }
        
        border:1px solid $gray;
        text-align:center;
        @include rounded($m-20);
        // margin-bottom:$m-20;
        h3,h4{
            @include font($font-18,$font-26,$font-medium);
            padding: $m-20 $m-15;
            margin-bottom: 0;
        }
        &.image_padding{
            padding-top:10px;
        }
    }
    &.image_padding{
        .collection{
            padding-top:10px;
        }
        .no_image_padding{
            padding:0;
        }
    }
}