.collection-area{
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    // gap: 20px;
    // @include upto-tablet{
    //     grid-template-columns: repeat(3,1fr);
    // }
    // @include upto-phone{
    //     grid-template-columns: repeat(2,1fr);
    // }
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    .collection{
        flex-basis:19%;
        margin-right:1.25%;
        margin-bottom:20px;
        @include upto-phone{
            margin-bottom:15px;
        }
        transition: all 0.5s ease-in;
        .title{
            min-height:90px;
            padding:20px 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            align-content: center;
            @include upto-phone{
                padding:10px;
                align-items: center;
                min-height:70px;
            }
        }
        @include above-phone{
            &:nth-child(5n){
                margin-right:0;
            }
        }
        img{
            transition: all 0.5s ease-in;
        }
        &:hover{
            text-decoration: none;
            border-color: $brand-color;
            img{
                transform: scale(1.05);
            }
        }
        @include upto-phone{
            flex-basis:30%;
            margin-right:5%;
            &:nth-child(3n){
                margin-right:0;
            }
        }
        @include phone-small{
            flex-basis:49%;
            margin-right:2% !important;
            &:nth-child(2n){
                margin-right:0 !important;
            }
            
        }
        
        border:1px solid $gray;
        text-align:center;
        @include rounded(20px);
        // margin-bottom:20px;
        h3,h4{
            @include font(18px,26px,500);
            margin-bottom: 0;
            @include upto-phone{
                @include font(16px,21px,500);
            }
        }
        &.image_padding{
            padding-top:10px;
        }
    }
    &.image_padding{
        .collection{
            padding-top:10px;
        }
        .no_image_padding{
            padding:0;
        }
    }
}