.cta-banner{
    .banner{
        padding:$m-100;
        border-radius:$m-20;
        text-align:center;
        margin-top:$m-50;
        margin-bottom:$m-100;
        &.home-cta{
            background: url('../images/bg/jumbo.svg') no-repeat;
            background-size: cover;
            color:$white;
            .btn{
                box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.14);
            }
        }
        h2,h3,h4,h5,p,a{
            color:$white;
        }
        h3{
            @include font($font-44,140%,$font-bold);
            margin-bottom:$m-30;
            @include upto-phone{
                @include font($font-36,$line-47,$font-bold); 
            }
        }
        h4{
            @include font($font-30,$m-40,$font-bold);
            margin-bottom:$m-40;
        }
        p{
            @include font($font-18,160%);
            margin-bottom:$m-20;
            font-weight: $font-normal;
            a{
                font-weight: $font-bold;
            }
        }
    }
}

@include upto-pc{
    .cta-banner{
        .home-cta{
            width:90%;
            margin-left:auto;
            margin-right:auto;
            padding:$m-50 $m-20;
        }
    }
}