.cta-banner{
    margin-top:60px;
    margin-bottom:100px;
    .banner{
        
        @include upto-tablet{
            padding:63px 25px;
            width:90%;
            margin:0 5%;
        }
        border-radius:20px;
        background: url('../images/bg/jumbo.svg') no-repeat;
        background-size: cover;
        color:$white;
        position:relative;
        
        h2,h3,h4,h5,p,a{
            color:$white;
        }
        
        &.home-cta{
            padding:95px 100px 77px;
            @include upto-phone{
                margin-top:0;
                padding:63px 25px;
                height: 663px;
            }
            .btn{
                box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.14);
                @include font(16px,21px);
                @include from-pc{
                    padding:15px 50px;
                }
                @include upto-phone{
                    padding:15px 20px;
                    width:100%;
                }
            }
            .heading{
                @include font(30px,42px,700);
                margin-bottom:40px;
                @include upto-phone{
                    @include font(24px,33px,70h0); 
                }
            }
            .logo{
                position:absolute;
                right:100px;
                bottom:84px;
                width:222px;
                @include upto-phone{
                    display:none;
                }
            }
            .success-message{
                max-width: 280px;
                display: none;
                margin-top:232px;
                p{
                    @include font(26px,36px,700);
                    margin-bottom:0;
                    
                }
                @include upto-phone{
                    margin-top:0px;
                    
                    p{
                        @include font(24px,33px,700);
                    }
                    .logo{
                        display: block;
                        left: 50%;
                        bottom: 63px;
                        margin-left: -111px;
                    }
                }
            }
        }
        
        &.about-cta{
            text-align:center;
            padding:80px 65px 113px;
            @include upto-phone{
                margin-top:0;
                padding:65px 22px;
            }
            .heading{
                @include font(44px,62px,700);
                margin-bottom:30px;
                @include upto-phone{
                    @include font(32px,44px,700); 
                }
            }
            
            p{
                @include font(18px,28px);
                margin-bottom:0px;
                &+p{
                    margin-top:24px;
                }
                a{
                    font-weight: 700;
                }
            }
        }
        
        
        .cta-form{
            width:100%;
            @include above-phone{
                max-width: 370px;
            }
            fieldset{
                margin-bottom:24px;
                label{
                    display:block;
                    margin-bottom:10px;
                    @include font(20px,22px,700);
                }
                input{
                    width:100%;
                    border:1px solid #D4DAE2;
                    border-radius:6px;
                    background:#fff;
                    padding:12px;
                    @include font(16px,22px,500);
                    outline:0;
                    &:focus{
                        border-color: $blue-darkest;
                    }
                }
            }
            button{
                margin-top:5px;
            }
        }
    }
}