.cta-banner{
    .banner{
        padding:10px0;
        border-radius:20px;
        text-align:center;
        margin-top:5px0;
        margin-bottom:10px0;
        &.home-cta{
            background: url('../images/bg/jumbo.svg') no-repeat;
            background-size: cover;
            color:$white;
            @include upto-phone{
                margin-top:0;
                padding:90px 25px;
            }
            .btn{
                box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.14);
                @include font(16px,21px);
                @include from-pc{
                    padding:15px 5px0;
                }
                @include upto-phone{
                    padding:15px 20px;
                    width:100%;
                }
            }
        }
        h2,h3,h4,h5,p,a{
            color:$white;
        }
        h3{
            @include font(44px,140%,700);
            margin-bottom:30px;
            @include upto-phone{
                @include font(36px,47px,700); 
            }
        }
        h4{
            @include font(30px,40px,700);
            margin-bottom:40px;
            @include upto-phone{
                @include font(18px,180&,500); 
            }
        }
        p{
            @include font(18px,160%);
            margin-bottom:20px;
            font-weight: 400;
            a{
                font-weight: 700;
            }
        }
    }
}

@include upto-pc{
    .cta-banner{
        .home-cta{
            width:90%;
            margin-left:auto;
            margin-right:auto;
            padding:5px0 20px;
        }
    }
}