.display-board{
    .display-area{
        margin:$m-30 0 $m-50;
        .display{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
            align-items: center;
            justify-content: space-between;
            &+.display{
                margin-top:2 * $m-75;
            }
            .display-image{
                // margin-right:5%;
                // width:49%;
                // float:left;
                flex-basis: 49%;
                img{
                    border-radius:$m-10;
                }
            }
            .display-text{
                flex-basis: 51%;
                padding-left:6%;
                .section-title{
                    text-align:left;
                }
                p{
                    color:$gray-dark;
                    font-size:$font-18;
                    line-height:160%;
                    opacity:0.7;
                }
                .btn{
                    margin-top:$m-30;
                    box-shadow: 0 $m-10 $m-10 rgb($black, 0.1);
                }
            }
            &:nth-child(2n+2){
                .display-text{
                    padding-right:6%;
                    padding-left:0;
                }
            }
           
        }
    }
}

