.display-board{
    margin-top:$m-30;
    margin-bottom:$m-30;
    .display-area{
        margin:$m-30 0 $m-50;
        .display{
            margin-bottom:2 * $m-75;
            width:100%;
            &:last-child{
                margin-bottom:$m-55;
            }
            .display-image{
                // width: 49%;
                padding-left:0;
                float:left;
                img{
                    border-radius:$m-10;
                }
            }
            .display-text{
                // width: 51%;
                float:right;
                padding-left:6%;
                padding-top: 6vw;
                .section-title{
                    text-align:left;
                }
                p{
                    color:$gray-dark;
                    font-size:$font-18;
                    line-height:160%;
                    opacity:0.7;
                }
                .btn{
                    margin-top:$m-30;
                    box-shadow: 0 $m-10 $m-10 rgb($black, 0.1);
                }
            }
            &:nth-child(2n+2){
                .display-text{
                    padding-right:6%;
                    padding-left:0;
                    float:left;
                }
                .display-image{
                    float:right;
                    padding-right:0;
                    padding-left:15px;
                }
            }
           
        }
    }
}

@include upto-pc{
    .display-board{
        .display-area{
            .display{
                display:block;
                .display-text{
                    padding-left:20px;
                    margin-top:20px;
                    float:none;
                    width:100%;
                    @include upto-phone{
                        padding-left:0px;
                    }
                }
                .display-image{
                    width:100%;
                    float:none;
                }
                &:nth-child(2n+2){
                    .display-text{
                        padding-left:20px;
                        margin-top:20px;
                        @include upto-phone{
                            padding-left:0px;
                        }
                    }
                    .display-image{
                        @include upto-phone{
                            padding-left:0px;
                        }
                    }
                }
                &+.display{
                    margin-top:$m-50;
                    @include upto-phone{
                        margin-top:0;
                    }
                }
            }
        }
    }
}

