.display-board{
    margin-top:$m-30;
    margin-bottom:$m-30;
    .display-area{
        margin:$m-30 0 $m-50;
        .display{
            margin-bottom:2 * $m-75;
            width:100%;
            padding: 0;
            &:last-child{
                margin-bottom:$m-55;
            }
            .display-image{
                // width: 49%;
                padding-left:0;
                float:left;
                margin-bottom:0;
                img{
                    border-radius:$m-10;
                }
            }
            .display-text{
                // width: 51%;
                float:right;
                padding-left:6%;
                padding-top: 6vw;
                .section-title{
                    text-align:left;
                    @include upto-phone{
                        text-align:center;
                    }
                }
                p{
                    color:$blue-darkest;
                    font-size:$font-18;
                    line-height:160%;
                    opacity:0.7;
                    margin-bottom:2rem;
                }
                .btn{
                    @include from-pc{
                        margin-top:$m-30;
                    }
                    box-shadow: 0 $m-10 $m-10 rgb($black, 0.1);
                }
            }
            &:nth-child(2n+2){
                .display-text{
                    padding-right:6%;
                    padding-left:0;
                    float:left;
                }
                .display-image{
                    float:right;
                    padding-right:0;
                    padding-left:15px;
                }
            }//dd
           
        }
    }
    
    &.type-row{
        margin-bottom:$m-30;
        @include upto-phone{
            margin-top:$m-0;
        }
        .page-headline{
            margin-bottom:$m-60;
            @include upto-phone{
                margin-bottom:$m-20;
            }
        }
        .section-sub-title{
            margin-bottom: $m-40;
            @include upto-phone{
                margin-bottom:$m-0;
            }
        }
        .display-area{
            margin-top:0;
            .display{
                border-bottom:$thin dashed #c4c4c4;
                padding-bottom:$m-70;
                margin-bottom:$m-70;
                @include upto-phone{
                    padding-bottom:$m-0;
                    margin-bottom:$m-40;
                    margin-top:$m-40;
                }
                &:last-child{
                    border-bottom:0;
                    padding-bottom:$m-30;
                    margin-bottom:$m-20;
                }
            }
            .display-text{
                .counter{
                    display: inline-block;
                    text-align: center;
                    border: $thin solid $brand-color;
                    padding:3px;
                    border-radius:20px;
                    margin-bottom:$m-30;
                    span{
                        line-height: 28px;
                        display: block;
                        border-radius:20px;
                        background-color: $brand-color;
                        color:$white;
                        width: 28px;
                        height: 28px;
                    }
                    
                }
                p{
                    color:$gray-dark-3;
                    @include font($font-16,$line-26);
                }
            }
            .display-image{
                img{
                    border-radius:$m-20;
                }
            }
        }
    }
    
    &.text-on-top{
        .display-area{
            .display{
                .display-text{
                    padding-top:0;
                }
            }
        }
    }
}

@include upto-tablet{
    .display-board{
        .display-area{
            .display{
                display:block;
                text-align: center;
                @include upto-phone{
                    margin-bottom:$m-80;
                    &:last-child{
                        margin-bottom:0;
                    }
                }
                .display-text{
                    float:none;
                    width:100%;
                    text-align: center;
                    @include upto-phone{
                        padding-left:0px;
                    }
                }
                .display-image{
                    width:100%;
                    float:none;
                }
                &:nth-child(2n+2){
                    .display-text{ 
                        padding:0px;
                        padding-top:20px;
                    }
                    .display-image{
                        @include upto-phone{
                            padding-left:0px;
                        }
                    }
                }
                &+.display{
                    margin-top:$m-50;
                    @include upto-phone{
                        margin-top:0;
                        
                    }
                }
            }
        }
    }
}

