.footer{
    border-top: 1px solid $gray;
    padding:30px 0;
    padding-bottom:80px;
    a,p{
        color:$blue-darker-2;
    }
    li{
        list-style-type: none;
    }
    .footer-area{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        @include upto-tablet{
            justify-content: flex-start
        }
        @include from-pc{
            padding-left:0;
            padding-right:0;
        }
        ul{
            padding-left:0;
        }
        .footer-logo{
            flex-basis:24%;
            // margin-right: 5%;
            img{
                @include upto-phone{
                    margin:0 auto 20px;
                }
                @include above-phone{
                    margin-bottom:20px;
                }
                max-width:185px;
            }
            .copyright{
                color:$blue-darker-2;
                @include font(16px,24px);
                @include upto-tablet{
                    color:$brand-color;
                    @include font(14px,16px);
                }
            }
        }
        .footer-links{
            &.large{
                flex-basis: 23%;
                // margin-right: 4%;
            }
            &.small{
                flex-basis: 15%;
                // margin-right:3%;
            }
            
            .links{
                padding-left:0;
                li{
                    margin-bottom:7px;
                    a{
                        font-size:14px;
                        line-height:16px;
                        &:hover{
                            color:$brand-color;
                            
                        }
                    }
                }
            }
            
        }
        
        .footer-social{
            flex-basis: 23.5%;
            // margin-right: 3%;
            @include upto-tablet{
                flex-basis:49%;
                margin-top:30px;
                // max-width: 200px;
                margin-right:10%;
            }
            .social-icons{
                margin-left:0;
                padding-left:0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin-bottom:19px;
                li{
                    margin-right:20px;
                    a{
                        display:block;
                        width:30px;
                        height:30px;
                        background:url('../images/footer-social-sprite.svg') no-repeat;
                        background-size: 120px;
                        background-position:0 0;
                        font-size:0;
                        &.facebook{
                            background-position:-7px -6px;
                        }
                        &.pinterest{
                            background-position:-7px -40px;
                        }
                        &.instagram{
                            background-position:-7px -74px;
                        }
                        &.youtube{
                            width:38px;
                            background-size: 125px;
                            background-position:-6px -146px;
                            &:hover{
                                background-position-x: -44.8px !important;
                            }
                        }
                        &.email{
                            background-position:-7px -107px;
                        }
                        &:hover{
                            background-position-x: -44px !important;
                        }
                    }
                }
                
            }
            .newsletter{
                padding-left:30px;
                a{
                    font-size:16px;
                    &.email{
                        position:relative;
                        
                        &:before{
                            content:"";
                            display: inline-block;
                            height: 24px;
                            width:24px;
                            background:url('../images/footer-social-sprite.png') no-repeat;
                            background-size:86px;
                            background-position:0 -103px;
                            position: absolute;
                            left: -30px;
                        }
                    }
                    &:hover{
                        color:$brand-color;
                        &:before{
                            background-position-x:-29.7px;
                        }
                    }
                }
                
            }
        }
        .footer-rating{
            flex-basis: 14.5%;
            img{
                max-width: 100%;
            }
            ul{
                padding-left:0;
            }
            li{
                &+li{
                    margin-top:5px;
                }
            }
            @include upto-tablet{
                flex-basis:33%;
                margin-top:30px;
            }
        }
        
    }
}

@include upto-tablet{
    .footer{
        font-family: $helvetica;
        font-display: swap;
        margin-bottom: 80px;
        .footer-area{
            max-width:500px;
            margin:0 auto;
            align-items: normal;
            flex-wrap: wrap;
            position:relative;
            .footer-logo,.footer-links{
                flex-basis:100% !important;
                text-align:center;
            }
            .footer-links{
                &+.footer-links{
                    border-top:1px solid #DDDDDD;
                }
            }
            .footer-logo{
                padding-bottom: 20px;
                img{
                    max-width: 161px;
                }
            }
            .footer-links{
                .links{
                    padding-left:0;
                    margin-bottom:0;
                    li{
                        border-bottom:1px solid $gray;
                        margin:0px;
                        a{
                            display:block;
                            padding:8px 0;
                            color:#3A4555;
                            font-weight: 500;
                        }
                        
                    }
                }
                &.large{
                    li{
                        &:last-child{
                            border-bottom:0;
                        }
                    }
                }
            }
        }
    }
}

// @include phone-small{
//     .footer{
//         .footer-area{
//             .footer-logo, .footer-social, .footer-rating, .footer-links{
//                 flex-basis:100%;
//                 text-align:left;
//             }
//             .footer-social, .footer-rating, .footer-links{
//                 margin-top:40px;
//             }
//             .footer-social{
//                 .social-icons{
//                     max-width: 200px;
//                 }
//             }
//             .footer-links{
//                 ul{
//                     padding-left:0;
//                 }
//             }
//         }
//     }
// }
