.footer{
    border-top: $thin solid $gray;
    padding:$m-30 0;
    a,p{
        color:$blue-darker-2;
    }
    li{
        list-style-type: none;
    }
    .footer-area{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        
        .footer-logo{
            img{
                margin-bottom:$m-20;
                max-width:214px;
            }
            .copyright{
                color:$blue-darker-2;
                @include font($font-16,$font-24);
            }
        }
        
        .footer-social{
            .social-icons{
                margin-left:0;
                padding-left:0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                margin-bottom:$m-25;
                li{
                    a{
                        display:block;
                        width:$m-25+1px;
                        height:$m-25+1px;
                        background:url('../images/footer-social-sprite.png') no-repeat;
                        background-position:0 0;
                        font-size:0;
                        &.facebook{
                            background-position:0 0;
                        }
                        &.pinterest{
                            background-position:0 -36px;
                        }
                        &.instagram{
                            background-position:0 -71px;
                        }
                        &:hover{
                            background-position-x: -32px !important;
                        }
                    }
                }
                
            }
            .newsletter{
                @include upto-tablet{
                    display: flex;
                    text-align:left;
                    align-items: center;
                }
                a{
                    line-height:$font-24;
                    i{
                        
                        // display:block;
                        // width:$m-25+1px;
                        // height:$m-25+1px;
                        // background:url('../images/footer-social-sprite.png') no-repeat;
                        // background-position:0 -107px;
                    }
                    &:hover{
                        color:$brand-color;
                        i{
                            // background-position: -31px -107px;
                        }
                    }
                }
                i{
                    font-size:22px;
                    color:$blue;
                    margin-right:$m-10;
                }
            }
        }
        .footer-rating{
            img{
            }
        }
        .footer-links{
            .links{
                li{
                    margin-bottom:$m-10;
                    a{
                        font-size:$font-14;
                        line-height:$font-16;
                        &:hover{
                            color:$brand-color;
                            
                        }
                    }
                }
            }
        }
    }
}

@include upto-tablet{
    .footer{
        .footer-area{
            max-width:500px;
            margin:0 auto;
            align-items: normal;
            flex-wrap: wrap;
            position:relative;
            .footer-logo,.footer-links{
                flex-basis:100%;
                text-align:center;
            }
            .footer-logo{
                padding-bottom: 60px;
            }
            .footer-social{
                flex-basis:49%;
                margin:$m-20 auto;
                text-align:center;
                max-width: 200px;
                .social-icons{
                    position: absolute;
                    width: 200px;
                    top: 175px;
                    left: calc(50% - 100px);
                }
                .telephone{
                    text-align:left;
                    a{
                        color:$blue-darkest;
                    }
                    p{
                        color:$gray-dark-3;
                    }
                }
            }
            .footer-rating{
                flex-basis:30%;
                text-align:right;
                margin:$m-20 auto;
                img{
                    max-width:100px;
                }
            }
            .footer-links{
                .links{
                    padding-left:0;
                    margin-bottom:0;
                    li{
                        border-bottom:1px solid $gray;
                        margin:$m-5;
                        a{
                            display:block;
                            padding:$m-10 0;
                        }
                    }
                }
            }
        }
    }
}

// @include phone-small{
//     .footer{
//         .footer-area{
//             .footer-logo, .footer-social, .footer-rating, .footer-links{
//                 flex-basis:100%;
//                 text-align:left;
//             }
//             .footer-social, .footer-rating, .footer-links{
//                 margin-top:$m-40;
//             }
//             .footer-social{
//                 .social-icons{
//                     max-width: 200px;
//                 }
//             }
//             .footer-links{
//                 ul{
//                     padding-left:0;
//                 }
//             }
//         }
//     }
// }
