.header-area{
    background: $white;
    @include upto-tablet{
        background-color: $blue;
        height: 70px;
        padding: 18px 0;
    }
    padding:22px 0;
    .logo-area {
        float: left;
        
        .logo-block{
            display: flex;
            margin-bottom:0;
            .logo{
                // width:290px;
                display: block;
                img{
                    width: 350px;
                    @include upto-tablet{
                        width:161px;
                    }
                }
            }
            
            // .slogan{
            //     color:$brand-color;
            //     border-left: 3px solid $brand-color;
            //     padding: 15px 0 10px $m-20;
            //     margin-left: $m-20;
            //     font-weight: 400;
            //     letter-spacing: 2px;
            //     word-spacing:-2px;
            //     font-size: 12px;
            //     @include upto-tablet{
            //         display: none;
            //     }
            // }
        }
       
    }
    .search-area {
        float: left;
        .searchform{
            position:relative;
            // margin-top: 7px;
            i{
                position:absolute;
                left:$m-10;
                top:12px;
                font-size:$m-20;
                color:$gray-light-2;
                font-weight: 700;
                
            }
            input{
                width:100%;
                border-radius: $m-20;
                padding-left: $m-35;
                border:$thin solid $blue-light-2;
                margin-bottom:0;
                appearance: none;
                &:focus{
                    outline:0;
                    border-color:$brand-color;
                    
                }
            }
        }
    }
    .cart-area{
        // width:21%;
        float:left;
        .cart-list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-end;
            list-style-type: none;
            // margin-top: 18px;
            margin-bottom:0;
            padding-left: 0;
            li{
                a{
                    display:inline-block;
                    position:relative;
                    i{
                        position:relative;
                        font-size:$font-20;
                        // &.shopping-cart-white{
                        //     display: none;
                        // }
                    }
                    .counter{
                        position:absolute;
                        right: -4px;
                        top: -10px;
                        display: block;
                        background: $brand-color;
                        border-radius: 50%;
                        color: #fff;
                        font-size: $m-10;
                        text-align: center;
                        line-height: $m-15;
                        padding: 1px 4px;
                    }
                }
                &+li{
                    margin-left:$m-35;
                }
                &:hover{
                    .counter{
                        background: $blue-darkest;
                    }
                }
            }
        }
    }
    ::marker{
        display:none;
    }
}

@include upto-tablet{
    .header-area{
        background-color: $blue;
        .logo-area{
            width:100%;
            text-align:center;
            margin-bottom:0px;
            .logo-block{
                width:170px;
                
            }
        }
        .search-area{
            width: calc(100% - 80px);
            max-width: 325px !important;
            z-index: 2000;
            padding:14px 0;
            position:absolute;
            top: 70px;
            right: 20px;
            max-width: 500px;
            .searchform{
                margin-top:0;
                i{
                    top:10px;
                    right:18px;
                    left:auto;
                }
                input{
                    padding-left:$m-15;
                    padding-right:$m-45;
                    height:37px;
                    font-size: 16px;
                }
            }
        }
        .cart-area{
            right: 10px;
            position: absolute;
            top: 26px;
            z-index: 200;
            width: 160px;
            .cart-list{
                padding-left:0;
                margin:0;
                
                li{
                    
                    a{
                        color:$white;
                        i{
                            color:$white;
                        }
                    }
                    &+li{
                        margin-left:7vw;
                    }
                }
            }
        }
    }
}

@include tablet-to-pc{
    .header-area{
        .search-area{
            .searchform{
                width: 300px;
                float: right;
            }
        }
    }
}