.header-banner{
    // background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin-bottom:20px;
    position: relative;
    overflow: hidden;
    .breadcrumb{
        margin-bottom:0;
        li{
            &.active{
                color:$white;
            }
        }
    }
    
    .banner-text{
        color:$white;
        padding:46px 0 52px;
        position: relative;
        // width: 60%;
        @include upto-tablet{
            width:100%;
            text-align:center;
        }
        span{
            display: block
        }
        .tagline{
            @include font(30px,130%);
            margin-bottom:0.5rem;
        }
        .heading{
            @include font(54px,66px,700);
            margin-bottom: 20px;
        }
        .btn{
            padding:15px 50px;
            @include font(16px,26px,500);
            color:$blue-darker-2;
            &:hover{
                color:$white;
            }
        }
        p{
            @include font(16px,26px);
            // letter-spacing: 0.2px;
            margin-bottom:0;
            &+p{
                margin-top:1rem;
            }
        }
    }
    .banner-slider{
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        margin-bottom: 0 !important;
        .slick-list{
            z-index: -10;
            margin-bottom: 0 !important;
            .slide{
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                    @include from-pc{
                        min-height: 630px;
                    }
                    
                    @include upto-pc{
                        min-height: 350px;
                    }
                    @include phone-small{
                        min-height:470px;
                    }
            }
        }
        .slick-dots{
            bottom: 25px;
            z-index: 100;
        }
    }
    &.mobile-mb-55{
        @include upto-phone{
            margin-bottom:55px !important;
        }
    }
}


@include upto-pc{
    .header-banner{
        .banner-text{
            margin: 33px 0 0;
            padding: 0 30px 60px;
            .tagline{
                @include font(18px,160%,500);
            }
            .heading{
                @include font(36px,160%,700);
            }
            .btn{
                min-width: 60%;
            }
        }
        &.home-banner{
            .banner-text{
                padding-bottom: 30px;
            }
            .heading{
                @include font(32px,130%,700);
            }
        }
    }
}