.header-area{
    background: $white;
    padding:22px 0;
    .logo-area {
        width: 30%;
        margin-right: 6%;
        float: left;
        img{
            max-width: 350px;
        }
    }
    .search-area {
        float: left;
        width: 42%;
        margin-right: 5%;
        .searchform{
            position:relative;
            margin-top: 10px;
            .cabincon{
                position:absolute;
                left:$m-10;
                top:$m-10;
            }
            input{
                width:100%;
                border-radius: $m-20;
                padding-left: $m-35;
                border:$thin solid $gray-border;
                margin-bottom:0;
                appearance: none;
            }
        }
    }
    .cart-area{
        width:17%;
        float:left;
        .cart-list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-end;
            margin-top: $m-20;
            li{
                a{
                    display:inline-block;
                    i{
                        position:relative;
                        .counter{
                            position:absolute;
                            right: -4px;
                            top: -4px;
                            display: block;
                            width: 12px;
                            height: 14px;
                            background: $primary-color;
                            border-radius: 50%;
                            color: #fff;
                            font-size: $m-10;
                            text-align: center;
                            line-height: $m-15;
                        }
                    }
                }
                &+li{
                    margin-left:$m-35;
                }
            }
        }
    }
}