.header-banner{
    // background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin-bottom:20px;
    
    .breadcrumb{
        li{
            &.active{
                color:$white;
            }
        }
    }
    
    .banner-text{
        color:$white;
        margin:12vw 0;
        // width: 60%;
        @include upto-tablet{
            width:100%;
            text-align:center;
        }
        .tagline{
            @include font(30px,160%);
        }
        .heading{
            @include font(54px,130%,700);
            margin-bottom: 25px;
        }
        .btn{
            padding:15px 50px;
            @include font(16px,26px,500);
            color:$blue-darker-2;
            &:hover{
                color:$white;
            }
        }
        p{
            @include font(16px,26px);
            letter-spacing: 0.2px;
        }
    }
}


@include upto-pc{
    .header-banner{
        .banner-text{
            margin: 33px 0;
            padding: 0 30px 60px;
            .tagline{
                @include font(18px,160%,500);
            }
            .heading{
                @include font(36px,160%,700);
            }
            .btn{
                min-width: 60%;
            }
        }
        &.home-banner{
            .banner-text{
                padding-bottom: 0px;
            }
            .heading{
                @include font(32px,130%,700);
            }
        }
    }
}