.header-area{
    background: $white;
    @include upto-tablet{
        background-color: $blue;
        height: 70px;
        padding: 18px 0;
    }
    padding:22px 0;
    .logo-area {
        float: left;
        
        .logo-block{
            display: flex;
            margin-bottom:0;
            .logo{
                // width:290px;
                display: block;
                img{
                    width: 350px;
                    @include upto-tablet{
                        width:161px;
                    }
                }
            }
            
            // .slogan{
            //     color:$brand-color;
            //     border-left: 3px solid $brand-color;
            //     padding: 15px 0 10px $m-20;
            //     margin-left: $m-20;
            //     font-weight: 400;
            //     letter-spacing: 2px;
            //     word-spacing:-2px;
            //     font-size: 12px;
            //     @include upto-tablet{
            //         display: none;
            //     }
            // }
        }
       
    }
    
    .cart-area{
        // width:21%;
        float:left;
        .cart-list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-end;
            list-style-type: none;
            // margin-top: 18px;
            margin-bottom:0;
            padding-left: 0;
            li{
                a{
                    display:inline-block;
                    position:relative;
                    i{
                        position:relative;
                        font-size:$font-20;
                        // &.shopping-cart-white{
                        //     display: none;
                        // }
                    }
                    .counter{
                        position:absolute;
                        right: -4px;
                        top: -10px;
                        display: block;
                        background: $brand-color;
                        border-radius: 50%;
                        color: #fff;
                        font-size: $m-10;
                        text-align: center;
                        line-height: $m-15;
                        padding: 1px 4px;
                        min-width: 17px;
                    }
                }
                &+li{
                    margin-left:$m-35;
                }
                &:hover{
                    .counter{
                        background: $blue-darkest;
                    }
                }
            }
        }
    }
    ::marker{
        display:none;
    }
}


@include upto-tablet{
    .header-area{
        background-color: $blue;
        .logo-area{
            width:100%;
            text-align:center;
            margin-bottom:0px;
            .logo-block{
                width:170px;
                
            }
        }
        
        .cart-area{
            right: 10px;
            position: absolute;
            top: 26px;
            z-index: 200;
            width: 160px;
            .cart-list{
                padding-left:0;
                margin:0;
                
                li{
                    
                    a{
                        color:$white;
                        i{
                            color:$white;
                        }
                    }
                    &+li{
                        margin-left:7vw;
                    }
                }
            }
        }
    }
    
}

