.navigation-area{
    background: $whitish-1;
    padding:$m-5;
    .top-nav-on-phone, .nav-toggle-area, #nav-close{
        display:none;
        @include upto-tablet{
            display: block;
        }
    }
    
    .main-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position:relative;
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        &>li{
            position:relative;
            display:block;
            .heading-link{
                color:$blue-darker-3 !important;
                font-weight: $font-medium;
                display:inline-block;
                padding:$m-10 $m-30;
                font-size:$font-18;
                position:relative;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                    color:$brand-color !important;
                }
                &:before{
                    content:"";
                    display:inline-block;
                    height: $m-5;
                    width: $m-5;
                    border-radius: $m-5;
                    background-color: $blue-darker-3;
                    position: absolute;
                    right: -2px;
                    top: 50%;
                    margin-top: -2px;
                }
                &:after{
                    content:"";
                    @include triangle($m-10, up, #fff);
                    border-top:0;
                    position: absolute;
                    left: 50%;
                    margin-left: -5px;
                    display: none;
                    @extend .animate;
                    @extend .fadeIn;
                    @extend .animate_faster;
                }
            }
            &:last-child{
                .heading-link{
                    &:before{
                        content:none;
                    }
                }
            }
            .submenu-block{
                position:absolute;
                left:0;
                width:fit-content;
                background:$white;
                padding:$m-30;
                border-radius:$m-10;
                box-shadow: 0 7px $m-10 rgb(0 0 0 / 10%);
                margin-top: 0;
                border: none;
                @extend .animate;
                @extend .fadeIn;
                @extend .animate_faster;
                display: none;
                min-width:440px;
                &.full-width{
                    width:100%;
                }
                h3{
                    @include font($font-24,$line-31,$font-bold);
                    text-transform: capitalize;
                    margin-bottom:$m-25;
                    a{
                        color:$blue-darkest;
                    }
                }
                .stock-link{
                    position: absolute;
                    right: 30px;
                    top: 35px;
                    text-decoration: underline;
                    color:$brand-color;
                    width: auto;
                    @include font($font-16,$line-21,$font-bold);
                    &:hover{
                        color:$blue-darkest;
                    }
                    @include upto-tablet{
                        position:relative;
                        top:15px;
                        left:0;
                        padding:0 !important;
                        color:$blue !important;
                    }
                }
                .category{
                    h4{
                        margin-bottom:$m-15;
                        @include font($font-16,$line-21,$font-medium);
                        text-transform: capitalize;
                    }
                    .submenu{
                        list-style-type: disc; 
                        list-style-position: outside;
                        margin-left: 20px;
                    }
                }
                .submenu_accordion{
                    margin-top:20px;
                    .accordion-item{
                        margin-bottom:5px;
                        border:0;
                        &:last-child{
                            margin-bottom:0;
                        }
                    }
                    .accordion-button{
                        padding:0;
                        color:$brand-color;
                        background-color: transparent;
                        box-shadow: none;
                        @include font(16px,32px,500);
                        &:after{
                            content: ">";
                            color:$brand-color;
                            background-image: none;
                            font-size: 20px;
                            margin-left:20px;
                            width: 10px;
                            height: 15px;
                            transform: rotate(90deg);
                            transform-origin: center;
                        }
                        &:not(.collapsed):after{
                            transform: rotate(-90deg);
                        }
                    }
                    .accordion-body{
                        padding:5px;
                        padding-left:0;
                    }
                }
                .submenu{
                    list-style-type: none;
                    list-style-position: inside;
                    color:$blue;
                    margin-left:$m-0;
                    padding-left:0;
                    li{
                        margin:12px 0;
                        a{
                            @include font($font-16,$line-18,$font-medium);
                            text-transform: capitalize;
                        }
                    }
                    
                }
            }
            &.megamenu{
                position:static;
                .submenu-block{
                    width:100%;
                    .submenu-area{
                        display: grid;
                        grid-template-columns: repeat(4,1fr);
                        grid-column-gap: $m-25;
                        grid-row-gap: $m-30;
                    }
                }
            }
            &:hover{
                &>.heading-link{
                    color:$brand-color !important;
                    &:after{
                        display: block;
                    }
                }
                .submenu-block{
                    display: block;
                    top:100%;
                }
            }
            &.nav-item{
                &>a{
                    padding:$m-10 $m-30;
                }
                
            }
        }
    }
    .has_submenu{
        &:hover{
            &>.dropdown-menu{
                display:block;
            }
        }
    }
    
    
    #nav-close{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 27px;
        color:$blue-darkest;
        display: none;
        cursor: pointer;
        @include upto-tablet{
            display: inline-block;
            z-index: 999;
        }
    }
}

@include from-tablet{
    .main-navigation{display:block !important}
}

@include upto-tablet{
    .navigation-area{
        padding:0;
        background-color: $white;
        box-shadow: 0px 6px 20px 10px rgb(98 117 144 / 14%);
        .nav-toggle-area{
            margin-top: 10px;
            margin-left: -10px;
            text-align:left;
            .nav-toggle{
                font-size: 25px;
            }
        }
    }
    
    .nav-area{
        padding: 10px;
        height: 65px;
    }
    .main-navigation{
        display: none;
        background: #fff;
        position: absolute;
        left: 0;
        top: -10px;
        padding:20px;
        padding-top: 70px;
        z-index: 9999;
        box-shadow: 0px 7px 14px 8px rgb(0 0 0 / 40%);
        .main-nav{
            flex-wrap: wrap;
            justify-content: left;
            padding-left: 0;
            li{
                width:100%;
                a, .heading-link{
                    padding: 10px 0;
                    color:#121212;
                }
                &.menu-item{
                    margin-bottom: 5px;
                    border-bottom: 1px solid #DDDDDD;
                    width: 100%;
                    position: relative;
                    .heading-link{
                        display: block;
                        @include font(18px,18px, $font-medium);
                        text-transform: uppercase;
                        letter-spacing: 2.5px;
                        &:before{
                            content:none;
                        }
                        .arrow{
                            float:right;
                        }
                        &.active{
                            font-weight: 700;
                            color:$brand-color;
                            .arrow{
                                transform: rotate(90deg);
                            }
                        }
                    }
                    h3{
                        display: none;
                    }
                    .submenu-block{
                        position: relative;
                        display: none;
                        box-shadow: none;
                        padding: 20px 0 20px;
                        min-width: 100%;
                        &.active{
                            display: block;
                        }
                        .submenu-area{
                            margin-top: 30px;
                            display: grid !important;
                            width:100%;
                            grid-template-columns: repeat(2, 1fr) !important;
                            grid-row-gap: $m-10 !important;
                            margin-bottom:$m-15;
                            grid-column-gap: $m-15;
                            .category{
                                margin-top:$m-10;
                                .submenu{
                                    color:rgba($blue-darkest,60%) !important;
                                    li{
                                        margin:5px 0;
                                    }
                                    a{
                                        padding:5px 0;
                                    }
                                }
                                h4,.accordion-button{
                                    @include font($font-16,$line-26,$font-medium);
                                }
                                li{
                                    a{
                                        @include font($font-14,$line-23);
                                        color:rgba($blue-darkest,60%) !important;
                                        margin-left: -5px;
                                    }
                                }
                            }
                        }
                        .stock-link{
                            position: absolute;
                            top: 15px;
                            right: 10px;
                        }
                    }
                }
                &.megamenu{
                    .submenu-block{
                        .submenu-area{
                            grid-template-columns: repeat(2,1fr);
                            padding:0;
                        }
                    }
                }
            }
        }
        &.active{
            display: block;
            
            
        }
    }
    .nav-toggle-area{
        display:block;
        text-align:right;
        width:100%;
    }
    .top-nav-on-phone{
        display: block;
        margin-top:25px;
        .title{
            @include font($font-16,$line-21,$font-medium);
            color:rgba($blue-darkest,0.4);
        }
        ul{
            list-style-type: none;
            padding-left:0;
            li{
                border-bottom:1px solid $gray;
                a{
                    display: block;
                    padding: 10px 0;
                    @include font($font-16,$line-21,$font-medium);
                    color:$blue-darkest;
                }
            }
        }
    }
}