.navigation-area{
    background: $whitish-1;
    padding:$m-5;
    .navbar{
        padding:0;
    }
    .toogle-button-area{
        display:none;
        @include upto-tablet{
            text-align: left !important;
            left:0;
        }
    }
    .main-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position:relative;
        list-style-type: none;
        margin-bottom:0;
        &>li{
            position:relative;
            display:block;
            &>a{
                color:$blue-darker-3 !important;
                font-weight: $font-medium;
                display:inline-block;
                padding:$m-10 $m-30;
                font-size:$font-18;
                position:relative;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                &:hover{
                    text-decoration: none;
                    color:$brand-color !important;
                }
                
                &:before{
                    content:"";
                    display:inline-block;
                    height: $m-5;
                    width: $m-5;
                    border-radius: $m-5;
                    background-color: $blue-darker-3;
                    position: absolute;
                    right: -2px;
                    top: 50%;
                    margin-top: -2px;
                }
                &:after{
                    content:"";
                    @include triangle($m-10, up, #fff);
                    border-top:0;
                    position: absolute;
                    left: 50%;
                    margin-left: -5px;
                    display: none;
                    @extend .animate;
                    @extend .fadeIn;
                    @extend .animate_faster;
                }
            }
            &:last-child{
                a{
                    &:before{
                        content:none;
                    }
                }
            }
            .submenu-block{
                position:absolute;
                left:0;
                width:fit-content;
                background:$white;
                padding:$m-30;
                border-radius:$m-10;
                box-shadow: 0 7px $m-10 rgb(0 0 0 / 10%);
                margin-top: 0;
                border: none;
                @extend .animate;
                @extend .fadeIn;
                @extend .animate_faster;
                display: none;
                min-width:440px;
                &.full-width{
                    width:100%;
                }
                h3{
                    @include font($font-24,$line-31,$font-bold);
                    text-transform: capitalize;
                    margin-bottom:$m-25;
                    a{
                        color:$blue-darkest;
                    }
                }
                .stock-link{
                    position: absolute;
                    right: 30px;
                    top: 35px;
                    text-decoration: underline;
                    color:$brand-color;
                    width: auto;
                    @include font($font-16,$line-21,$font-bold);
                    &:hover{
                        color:$blue-darkest;
                    }
                    @include upto-phone{
                        position:relative;
                        top:15px;
                        left:0;
                        padding:0 !important;
                        color:$blue !important;
                    }
                }
                .submenu-area{
                }
                .category{
                    h4{
                        margin-bottom:$m-15;
                        @include font($font-16,$line-18,$font-medium);
                        text-transform: capitalize;
                    }
                    .submenu{
                        list-style-type: disc; 
                        // margin-left:$m-15;
                    }
                }
                .submenu{
                    list-style-type: none;
                    list-style-position: inside;
                    color:$blue;
                    margin-left:$m-0;
                    padding-left:0;
                    li{
                        margin:12px 0;
                        a{
                            @include font($font-16,$line-18,$font-medium);
                        }
                    }
                    
                }
            }
            &.megamenu{
                position:static;
                .submenu-block{
                    width:100%;
                    .submenu-area{
                        display: grid;
                        grid-template-columns: repeat(4,1fr);
                        grid-column-gap: $m-25;
                        grid-row-gap: $m-30;
                    }
                }
            }
            &:hover{
                &>a{
                    color:$brand-color !important;
                    &:after{
                        display: block;
                    }
                }
                .submenu-block{
                    display: block;
                    top:100%;
                }
            }
            &.nav-item{
                &>a{
                    padding:$m-10 $m-30;
                }
                
            }
        }
    }
    .top-nav-on-phone{
        display: none;
    }
}

@include upto-tablet{
    .navigation-area{
        padding:0;
        .toogle-button-area{
            display:block;
            text-align:right;
            width:100%;
        }
        .main-nav{
            flex-wrap: wrap;
            padding-right: 0;
            width: 100%;
            li{
                a{
                    width:100%;
                    color:$blue-darkest !important;
                    &:before, &:after{
                        content:none !important;
                    }
                }
                .submenu-block{
                    position:relative;
                    box-shadow:none;
                    width:100%;
                    display:none !important;
                    border-radius:0;
                    min-width: 200px;
                    &.show{
                        display:block !important;
                    }
                    h3{
                        display:none;
                    }
                    .submenu-area{
                        display: grid !important;
                        width:100%;
                        grid-template-columns: repeat(2, 1fr) !important;
                        grid-row-gap: $m-10 !important;
                        .category{
                            margin-top:$m-10;
                            li{
                                a{
                                    font-size:$font-14;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar{
            padding:10px;
            .navbar-toggler{
                border:none;
                color:$blue-darkest;
                padding-left:0;
                &:focus{
                    box-shadow: none !important;
                }
            }
            .navbar-collapse{
                position: absolute;
                width: 100%;
                height: auto;
                top: -109px;
                left: 0;
                background: #fff;
                z-index: 999999;
                padding: 20px;
                padding-top: 70px;
                box-shadow: 0px 10px 10px 0 rgb(0 0 0 / 20%);
                #nav-close{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-size: 27px;
                    color:$blue-darkest;
                }
            }
            .navbar-nav{
                .nav-item{
                    margin-bottom: 5px;
                    border-bottom: 1px solid $gray;
                    width:100%;
                    position:relative;
                    a{
                        padding:10px 0;
                    }
                }
                .dropdown-menu{
                    padding:0;
                    .submenu-area{
                        margin-top:$m-30;
                    }
                }
                .dropdown-toggle{
                    .arrow{
                        float:right;
                    }
                    &.show{
                        font-weight: $font-bold;
                        .arrow{
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
        .top-nav-on-phone{
            display: block;
            margin-top:25px;
            h3{
                @include font($font-16,$line-21,$font-medium);
                color:rgba($blue-darkest,0.4);
            }
            ul{
                list-style-type: none;
                padding-left:0;
                li{
                    border-bottom:1px solid $gray;
                    a{
                        display: block;
                        padding: 10px 0;
                        @include font($font-16,$line-21,$font-medium);
                        color:$blue-darkest;
                    }
                }
            }
        }
        
    }
    // .dropdown-toggle{
    //     display: block;
    //     &:before{
    //         content: ">";
    //         position: absolute;
    //         right: 12px;
    //         @include font($font-18,$line-23);
    //         top: 14px;
    //         display: inline-block;
    //         height: 16px;
    //         width: 10px;
    //         // transform: rotate(90deg);
    //     }
    //     &.show{
    //         &:after{
    //             color:$brand-color;
    //             transform: rotate(90deg);
    //         }
    //     }
    // }
}