.navigation-area{
    background: $whitish-1;
    padding:5px;
    .top-nav-on-phone, .nav-toggle-area, #nav-close{
        display:none;
        @include upto-tablet{
            display: block;
        }
    }
    
    .main-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position:relative;
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        &>li{
            position:relative;
            display:block;
            .heading-link{
                color:$blue-darker-3 !important;
                font-weight: 500;
                display:inline-block;
                padding:9px 29px;
                font-size:18px;
                position:relative;
                text-transform: uppercase;
                letter-spacing: 2.6px;
                @include tablet-to-pc{
                    padding:10px 20px;
                    letter-spacing: 1px;
                }
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                    color:$brand-color !important;
                }
                &:before{
                    content:"";
                    display:inline-block;
                    height: 5px;
                    width: 5px;
                    border-radius: 5px;
                    background-color: $blue-darker-3;
                    position: absolute;
                    right: -2px;
                    top: 50%;
                    margin-top: -2px;
                }
                &:after{
                    content:"";
                    @include triangle(10px, up, #fff);
                    border-top:0;
                    position: absolute;
                    left: 50%;
                    margin-left: -5px;
                    display: none;
                    @extend .animate;
                    @extend .fadeIn;
                    @extend .animate_faster;
                }
            }
            &:last-child{
                .heading-link{
                    &:before{
                        content:none;
                    }
                }
            }
            .submenu-block{
                position:absolute;
                left:0;
                width:fit-content;
                background:$white;
                padding:30px;
                border-radius:10px;
                box-shadow: 0 7px 10px rgb(0 0 0 / 10%);
                margin-top: 0;
                border: none;
                @extend .animate;
                @extend .fadeIn;
                @extend .animate_faster;
                display: none;
                min-width:440px;
                top:calc(100% - 1px);
                &.full-width{
                    width:100%;
                }
                &.visible{
                    display:block;
                }
                h3{
                    @include font(24px,31px,700);
                    text-transform: capitalize;
                    margin-bottom:25px;
                    a{
                        color:$blue-darkest;
                    }
                    span{
                        font-size:0.9em;
                        font-weight: 400;
                        color:$blue;
                    }
                }
                .stock-link{
                    position: absolute;
                    right: 30px;
                    top: 35px;
                    text-decoration: underline;
                    color:$brand-color;
                    width: auto;
                    @include font(16px,21px,700);
                    &:hover{
                        color:$blue-darkest;
                    }
                    @include upto-tablet{
                        position:relative;
                        top:15px;
                        left:0;
                        padding:0 !important;
                        color:$blue !important;
                    }
                    &+.submenu-area{
                        margin-top:36px;
                    }
                }
                .category{
                    h4{
                        margin-bottom:15px;
                        @include font(16px,21px,500);
                        text-transform: capitalize;
                        a{
                            color:$black;
                            &:hover{
                                color:$brand-color;
                            }
                        }
                    }
                    .submenu{
                        list-style-type: disc; 
                        list-style-position: outside;
                        margin-left: 20px;
                        &+h4{
                            margin-top: 25px;
                        }
                    }
                    .additional-menu{
                        list-style-type: none;
                        padding-left: 0;
                        margin-top: 25px;
                        a{
                            @include font(16px,32px,500); 
                            color:$brand-color;
                        }
                    }
                    &+.category{
                        margin-top:0px;
                        h4{
                            margin-bottom:0;
                        }
                    }
                }
                .submenu{
                    list-style-type: none;
                    list-style-position: inside;
                    color:$blue;
                    margin-left:0px;
                    padding-left:0;
                    li{
                        margin:12px 0;
                        a{
                            @include font(16px,18px,500);
                            text-transform: capitalize;
                            &.featured{
                                color:#B3522C;
                                &:hover{
                                    text-decoration:underline;
                                }
                            }
                        }
                        &.featured{
                            color:#B3522C;
                            a{
                                color:#B3522C;
                                &:hover{
                                    text-decoration:underline;
                                }
                            }
                        }
                    }
                    
                }
            }
            &.megamenu{
                position:static;
                .submenu-block{
                    width:100%;
                    .submenu-area{
                        display: grid;
                        grid-template-columns: repeat(4,1fr);
                        grid-column-gap: 25px;
                        grid-row-gap: 30px;
                    }
                }
            }
            &:hover{
                &>.heading-link{
                    color:$brand-color !important;
                    &:after{
                        display: block;
                    }
                }
                .submenu-block{
                    display: block;
                    
                }
            }
            &.nav-item{
                &>a{
                    padding:10px 30px;
                }
                
            }
        }
    }
    .has_submenu{
        &:hover{
            &>.dropdown-menu{
                display:block;
            }
        }
    }
    
    
    #nav-close{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 27px;
        color:$blue-darkest;
        display: none;
        cursor: pointer;
        @include upto-tablet{
            display: inline-block;
            z-index: 999;
        }
    }
}

@include from-tablet{
    .main-navigation{display:block !important}
}

@include upto-tablet{
    .navigation-area{
        padding:0;
        background-color: $white;
        box-shadow: 0px 6px 20px 10px rgb(98 117 144 / 14%);
        .nav-toggle-area{
            margin-top: 10px;
            margin-left: -8px;
            text-align:left;
            .nav-toggle{
                font-size: 22px;
            }
        }
    }
    
    .nav-area{
        padding: 10px;
        height: 65px;
    }
    .main-navigation{
        display: none;
        background: #fff;
        position: absolute;
        left: 0;
        top: -10px;
        padding:20px;
        padding-top: 70px;
        z-index: 9999;
        box-shadow: 0px 7px 14px 8px rgb(0 0 0 / 40%);
        .main-nav{
            flex-wrap: wrap;
            justify-content: left;
            padding-left: 0;
            li{
                width:100%;
                a, .heading-link{
                    padding: 10px 0;
                    color:#121212;
                }
                &.menu-item{
                    margin-bottom: 5px;
                    border-bottom: 1px solid #DDDDDD;
                    width: 100%;
                    position: relative;
                    .heading-link{
                        display: block;
                        @include font(18px,18px, 500);
                        text-transform: uppercase;
                        letter-spacing: 2.5px;
                        &:before{
                            content:none;
                        }
                        .arrow{
                            float:right;
                            &.active{
                                transform: rotate(90deg);
                            }
                        }
                        &.active{
                            font-weight: 700;
                            color:$brand-color;
                            .arrow{
                                
                            }
                        }
                    }
                    h3{
                        display: none;
                    }
                    .submenu-block{
                        position: relative;
                        display: none;
                        box-shadow: none;
                        padding: 5px 0 20px;
                        min-width: 100%;
                        &.active{
                            display: block;
                        }
                        .submenu-area{
                            // margin-top: 30px;
                            display: grid !important;
                            width:100%;
                            grid-template-columns: repeat(1, 1fr) !important;
                            grid-row-gap: 10px !important;
                            margin-bottom:15px;
                            grid-column-gap: 15px;
                            .category{
                                margin-top:10px;
                                .submenu{
                                    color:rgba($blue-darkest,60%) !important;
                                    li{
                                        margin:5px 0;
                                    }
                                    a{
                                        padding:5px 0;
                                    }
                                }
                                .additional-menu{
                                    margin-top:15px;
                                    li{
                                        margin:5px 0;
                                        a{
                                            margin-left:0;
                                            line-height: 1.8em;
                                            color:$brand-color !important;
                                        }
                                    }
                                }
                                h4{
                                    @include font(16px,26px,500);
                                }
                                li{
                                    a{
                                        @include font(14px,23px);
                                        color:rgba($blue-darkest,60%) !important;
                                        margin-left: -5px;
                                    }
                                }
                                
                            }
                        }
                        .stock-link{
                            position: absolute;
                            top: 15px;
                            right: 10px;
                        }
                    }
                }
                &.megamenu{
                    .submenu-block{
                        .submenu-area{
                            grid-template-columns: repeat(2,1fr);
                            padding:0;
                        }
                    }
                }
            }
        }
        &.active{
            display: block;
            
            
        }
    }
    .nav-toggle-area{
        display:block;
        text-align:right;
        width:100%;
    }
    .top-nav-on-phone{
        display: block;
        margin-top:25px;
        .title{
            @include font(16px,21px,500);
            color:rgba($blue-darkest,0.4);
        }
        ul{
            list-style-type: none;
            padding-left:0;
            li{
                border-bottom:1px solid $gray;
                a{
                    display: block;
                    padding: 10px 0;
                    @include font(16px,21px,500);
                    color:$blue-darkest;
                }
            }
        }
    }
}