.page-heading-section{
    .page-headline{
        @include upto-phone{
            padding:0 20px;
        }
        .section-title{
            text-align:left;
            @include upto-phone{
                text-align: center;
                margin-top:40px;
            }
            h1,h2,h3,h4{
                @include font(36px,120%,700);
            }
            
        }
        .button-area{
            text-align:right;
            .btn{
                box-shadow: 0 10px 15px 5px rgba($black,0.1);
                @include upto-phone{
                    padding:15px 30px;
                }
            }
        }
    }
    .heading-text{
        margin-top:60px;
        margin-bottom:30px;
        .head{
            @include font(24px,31px,700);
            color:$blue-darkest;
            @include upto-phone{
                text-align: center;
                padding: 0 10vw;
                margin-bottom:15px;
            }
        }
        p{
            color:$gray-dark-3;
            @include font(16px,26px);
        }
    }
}
.section-title{
    p{
        color:$gray-dark-3;
        @include font(16px,26px);
        &+p{
            margin-top:30px;
        }
    }
}

.breadcrumb-section{
    &+.page-heading-section{
        margin-top:30px;
    }
}


@include upto-tablet{
    .page-heading-section{
        .page-headline{
            .button-area{
                text-align:center;
                margin-top:20px;
            }
        }
    }
    .breadcrumb-section{
        &+.page-heading-section{
            margin-top:0px;
        }
    }
}