.page-sidebar{
    .sorting-box{
        &:after{
            content:"";
            height:1px;
            width:90%;
            max-width: 250px;
            display: block;
            background: #DDDDDD;
            margin:20px 0;
        }
        .sort-listing{
            padding-left: 20px;
            margin:10px 0 0 0;
        }
        li{
            color:#627590;
        }
        &:last-child{
            &:after{
                content:none;
            }
        }
    }
    .cabinform{
        &.filter-form{
            .form-check-label{
                position:relative;
                padding-right:20px;
                display: block ;
                max-width: 100%;
            }
        }

    }
    .product-tips{
        position:absolute;
        right:-4px;
        top:6px;
        &:hover{
            i{color:$brand-color}
        }
    }
}