.page-content{
    padding:$m-20 0 $m-50;
    p{
        @include font($font-16,$line-26);
        // color:$gray-dark-3;
        color:$blue-darkest;
        .primary{
            color:$brand-color;
        }
        a{
            text-decoration: underline;
            &:hover{
                color:$brand-color;
                text-decoration: none;
            }
        }
    }
    .article{
        margin-bottom:$m-80;
        .rounded-samples{
            margin:$m-40 auto $m-30;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            list-style-type: none;
            padding-left: 0;
            li{
                flex-basis:25%;
                img{
                    max-width:170px;

                }
                span,p{
                    display:inline-block;
                    margin-top:$m-20;
                    @include font($font-20, $line-26, $font-bold);
                    color:$blue-darkest;
                }
            }
            @include upto-phone{
                flex-direction: column;
                margin-bottom:$m-0;
                li{
                    img{
                        display: block;
                        margin:0 auto;
                    }
                    flex-basis:100%;
                    text-align:center;
                    margin-bottom:$m-50;
                    &:last-child{
                        margin-bottom:0;
                    }
                }
            }
        }
    }
    .edit-icon{
        width:$m-40;
        height:$m-40;
        display: inline-block;
        padding:$m-10;
    }
    .review-item{
        margin-bottom:$m-40;
        @include from-pc{
            padding-right:15%;
        }
    }
    .authized-seal{
        width:100%;
        text-align:center;
        img{
            max-width: 200px;
            @include upto-phone{
                max-width: 160px;
                margin-top:$m-20;
            }
        }
    }
    .quotation-area{
        margin:$m-30 0 $m-80;
        .quotation{
            border-top:1px solid $gray;
            padding:$m-50 0 $m-40;
            &:last-child{
                border-bottom:1px solid $gray;
            }
            &:before{
                width:$m-40;
                height:$m-35;
                background-size: $m-40;
            }
            blockquote{
                margin:$m-10 0 $m-15;
                font-weight: $font-medium;
                color:$blue-darker-4;
            }
            p{
                .author{
                    @include font($font-16,$line-23,$font-medium);
                    color:$blue-darkest;
                    margin-bottom:0;
                    &.verified{
                        &:after{
                            background-size: 16px;
                            height:18px;
                        }
                    }
                }
                .address{
                    @include font($font-14,$line-18);
                }
                &.history{
                    @include font($font-16,$line-23,$font-bold);
                    a{
                        color:$brand-color;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
    .page-sidebar{
        @include upto-phone{
            margin-bottom:$m-50;
        }
        .card-body{
            padding:$m-25;
            @include rounded($m-15);
        }
        .page-list{
            padding-left:0;
            list-style-type: none;
            li{
                border-bottom:1px solid $gray;
                padding:$m-15 0;
                a{
                    @include font($font-16,$m-20);
                    @include upto-phone{
                        display: block;
                        padding:3px 0;
                    }
                    color:$blue-darkest;
                    &:hover{
                        text-decoration: none;
                        color:$brand-color;
                    }
                }
                &.active{
                    a{
                        font-weight: $font-medium;
                        color:$brand-color;
                    }
                }
            }
        }
    }
    
    .accordion-area{
        .accordion{
            margin-bottom:$m-40;
            &.no-section-heading{
                .accordion-button{
                    @include font($font-20,$line-23,$font-bold);
                    color:$blue-darkest;
                }
                .accordion-item{
                    border-bottom:none !important;
                }
            }
        }
        .accordion-button:not(.collapsed), .accordion-button:focus{
            color:$blue-darkest;
            box-shadow: none;
            background-color: $white;
        }
        .accordion-button{
            padding-left:0;
            position:relative;
            padding-right:$m-50;
            
            border-bottom:$thin solid $brand-color;
            color:$brand-color;
            &:after{
                content:">";
                background-image: none;
                @include font($font-20,$font-20,$font-bold);
                position: absolute;
                right: 20px;
                top: 23px;
                transform-origin: center;
                width: 10px;
                height: 15px;
                line-height: 15px;
                color:$brand-color;
                transform:rotate(-90deg);
            }
            &.collapsed{
                border-bottom:0;
                color:$gray-dark-3;
                &:after{
                    transform:rotate(90deg);
                    color:$gray-dark-3;
                }
            }
            &:hover{
                box-shadow: none !important;
            }
        }
        .accordion-collapse{
            .accordion-body{
                padding-left:0;
                
            }
        }
        .accordion-flush{
            .accordion-item{
                border-bottom: $thin solid $gray-light-1;
            }
        }
        &.faq-accordion{
            .accordion-button{
                border-color:$gray-light-1;
            }
            .accordion-collapse{
                .accordion-body{
                    padding-left:$m-25;
                    background-color: #F7F7F7;
                    p{
                        color:$gray-dark-3;
                    }
                }
            }
        }
    }
    
    .main-content{
        p{
            color:$blue-darkest;
        }
        .sub-article{
            margin-bottom:$m-40;
            
            @include from-pc{
                &:last-child{
                    margin-bottom:$m-90;
                }
            }
        }
    }
    
    .work-points-section{
        border:1px solid $gray;
        border-left:0;
        border-right:0;
        padding:$m-50 0;
        .work-point{
            text-align:center;
            padding:0 $m-25;
            
            .icon{
                display:inline-block;
                width: $m-65;
                height:$m-65;
                @include rounded($m-40);
                background: $brand-color;
                padding:$m-15;
                margin-bottom:$m-30;
            }
            h3,h4{
                @include font($font-24,$line-31,$font-bold);
                color:$blue-darkest;
            }
            &+.work-point{
                @include upto-phone{
                    margin-top:$m-40;
                }
            }
        }
    }
    
    .balanceform{
        .form-control{
            padding: 10px;
        }
        .btn{
            @include rounded($m-5);
        }
    }
    
    .filter-buttons{
        padding-left:0;
        list-style-type:none;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: nowrap;
        // align-content: center;
        // justify-content: flex-end;
        // align-items: center;
        li{
            margin-left:$m-20;
        }
        .btn{
            @include font($font-16,160%,$font-medium);
            &.btn-white{
                background-color: $white;
                color:$blue-darkest;
                i{
                    color:$brand-color;
                    margin-right:$m-15;
                } 
                &:hover{
                    color:$brand-color;
                }
                &:focus{
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
                }
            }
        }
        
        .sort-by{
            span{
                @include font($font-16,$m-50,$font-medium);
                margin-right: $m-20;
            }
            select{
                text-align:left;
            }
        }
    }
    
    
}


.collection-area{
    // display: grid;
    // grid-template-columns: repeat(5,1fr);
    // gap: 20px;
    // @include upto-tablet{
    //     grid-template-columns: repeat(3,1fr);
    // }
    // @include upto-phone{
    //     grid-template-columns: repeat(2,1fr);
    // }
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    .collection{
        flex-basis:18%;
        margin-right:2.5%;
        margin-bottom:20px;
        transition: all 0.5s ease-in;
        @include above-phone{
            &:nth-child(5n){
                margin-right:0;
            }
        }
        img{
            transition: all 0.5s ease-in;
        }
        &:hover{
            text-decoration: none;
            border-color: $brand-color;
            img{
                transform: scale(1.05);
            }
        }
        @include upto-phone{
            flex-basis:30%;
            margin-right:5%;
            &:nth-child(3n){
                margin-right:0;
            }
        }
        @include phone-small{
            flex-basis:48%;
            margin-right:4% !important;
            &:nth-child(2n){
                margin-right:0 !important;
            }
            
        }
        
        border:1px solid $gray;
        text-align:center;
        @include rounded($m-20);
        // margin-bottom:$m-20;
        h3,h4{
            @include font($font-18,$font-26,$font-medium);
            padding: $m-20 $m-15;
            margin-bottom: 0;
        }
        &.image_padding{
            padding-top:10px;
        }
    }
    &.image_padding{
        .collection{
            padding-top:10px;
        }
        .no_image_padding{
            padding:0;
        }
    }
}

.shopping-cart-section{
    margin-bottom:$m-70;
    .section-title{
        p{
            @include font($font-18,$line-23);
            color:$gray-dark-3;
        }
    }
    @include upto-phone{
        margin-bottom: $m-20;
    }
    .cart-item{
        border-bottom:1px solid $gray;
        
        &:last-child{
            border-bottom:0;
        }
        padding:$m-40 0;
        @include from-pc{
            margin-right:$m-20;
            .action{
                padding-right:0;
            }
        }
        @include upto-phone{
            img{
                max-width: 205px;
            }
        }
        .item-details{
            @include font($font-18,$line-23);
            @include from-pc{
                width:38%;
            }
            .title{
                margin-bottom:$m-15;
                p{
                    @include font($font-18,$line-23,$font-bold);
                    margin-bottom:5px;
                    color:$blue-darkest;
                }
                h3,h4{
                    @include font($font-18,$line-23,$font-medium);
                    color:$brand-color;
                }
                a{
                    color:$brand-color;
                }
            }
            .price{
                margin:25px 0;
                padding-bottom:25px;
                border-bottom:1px solid $gray;
                p{
                    color:$blue-darkest;
                    @include font($font-18,$line-23,$font-bold);
                    @include upto-phone{
                       margin-bottom:$m-20;
                    }
                    span{
                        display: block;
                        font-weight: $font-normal;
                        margin-top:5px;
                        color:$blue;
                        @include upto-phone{
                            display: inline;
                        }
                    }
                }
                .counter{
                    display: flex;
                    span{
                        display: inline-block;
                    }
                    .btn{
                        @include square(44px);
                        @include rounded($m-30);
                        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
                        padding:0;
                        background-color: $white;
                        color:$blue-darker-2;
                        @include font($font-40,41px);
                        cursor:pointer;
                        &:hover{
                            background-color: $brand-color;
                            color:$white;
                        }
                    }
                    .count{
                        margin:0 $m-20;
                        @include square(44px);
                        text-align: center;
                        @include font($font-20,44px,$font-medium);
                        color:$black;
                        border:0;
                    }
                }
            }
            .detail{
                margin:0;
                padding:0;
                list-style-type: none;
                &.wider{
                    width:175%;
                    @include upto-phone{
                        width:100%;
                    }
                }
                li{
                    color:$blue-darkest;
                    margin-bottom:15px;
                    font-weight: $font-medium;
                    &:last-child{
                        margin-bottom:0px;
                    }
                    span{
                        font-weight: $font-normal;
                        color:$blue;
                    }
                }
            }
        }
        .action{
            @include from-pc{
                width:28.33%;
            }
            @include upto-phone{
                margin-top:15px;
            }
            .price-title{
                @include font($font-18,$line-23,$font-bold);
                margin-bottom:$m-10;
                color:$blue-darkest;
                @include upto-phone{
                    margin-top:$m-20;
                }
                span{
                    @include font($font-22,$line-26,$font-medium);
                    color:$brand-color;
                    display: block;
                    margin:$m-10 0;
                }
            }
            .price-details{
                display: flex;
                margin-bottom:20px;
                @include phone-to-pc{
                    flex-direction: column;
                    span{
                        flex-basis: 100%;
                    }
                }
                span{
                    @include font($font-22,$line-26,$font-medium);
                    display: inline-block;
                    margin-right:10px;
                    flex-basis: 48%;
                    @include phone-to-pc{
                        margin-bottom:10px;
                        &.current{
                            margin-bottom:0;
                        }
                    }
                    &.old{
                        text-decoration: line-through;
                        color:$blue;
                    }
                    &.current{
                        margin-right:0;
                        color:$brand-color;
                    }
                }
            }
            .buttons{
                .btn{
                    font-size: 16px;
                    margin-top:$m-20;
                    padding:15px 10px;
                    max-width: 180px;
                    &.cart-item-remover{
                        margin-top:0;
                    }
                    @include upto-phone{
                        max-width:100%;
                    }
                }
            }
        }
        .thanks-note{
            margin-top:40px;
            p{
                color:$brand-color;
                margin-bottom:0;
                @include font(22px,29px,$font-medium);
                .greeting{
                    color:$black;
                }
            }
        }
        
        .only-details{
            p{
                @include font($font-20,$font-26,$font-medium);
                color:$blue-darkest;
                span{
                    color:$brand-color;
                }
            }
        }
    }
    
    .card{
        .btn{
            @include font($font-16,$line-18);
        }
    }
    .sample-item{
        padding-top:40px;
        // border-top:1px solid $gray;
        @include from-tablet{
            .col-md-9{
                width:69%;
            }
        }
        .heading{
            margin-bottom:40px;
            h3{
                @include font(36px,47px,700);
                color:$blue-darkest;
                margin-bottom:0;
            }
        }
        .sample-text{
            margin-left:0;
            padding-left:0;
            list-style-type: none;
            li{
                @include font(20px,26px);
                color:$blue-darkest;
                margin-bottom:15px;
            }
        }
        .action{
            @include upto-phone{
                margin-top:30px;
                border-bottom:1px solid $gray;
                margin-bottom:20px;
            }
            .price-title{
                color: #57687F;
                @include font(20px,22px);
                span{
                    color:$brand-color;
                    @include font(22px,29px,700);
                }
            }
            .btn{
                font-size: 16px;
                padding: 15px 10px;
                max-width: 180px;
                margin-bottom:20px;
                @include upto-phone{
                    max-width:100%;
                }
            }
        }
    }
}
.shopping-sample-area{
    
}

// @include upto-phone{
//     .review-section{
//         .section-title{
//             h2,h3,h4{
//                 margin-bottom:$m-40;
//             }
//         }
//     }
// }

.payment-text{
    margin:20px 0 60px;
    h4,h3,h5{
        color:$blue-darkest;
        margin-bottom:15px;
    }
    p{
        color:$gray-dark-3;
        @include font(16px,28px);
        &+h4,&+h3,&+h5{
            margin-top:26px;
        }
    }
}
