.page-heading-section{
    .page-headline{
        .section-title{
            text-align:left;
            h2,h3,h4{
                @include font($font-36,120%,$font-bold);
            }
            
        }
        .button-area{
            text-align:right;
            .btn{
                box-shadow: 0 $m-10 $m-15 $m-5 rgba($black,0.1);
            }
        }
    }
    .heading-text{
        margin-top:$m-60;
        margin-bottom:$m-30;
        .head{
            @include font($font-24,$line-31,$font-bold);
            color:$blue-darkest;
        }
        p{
            color:$gray-dark-3;
            @include font($font-16,$line-26);
        }
    }
}
.section-title{
    p{
        color:$gray-dark-3;
        @include font($font-16,$line-26);
        &+p{
            margin-top:$m-30;
        }
    }
}

.breadcrumb-section{
    &+.page-heading-section{
        margin-top:$m-30;
    }
}


@include upto-tablet{
    .page-heading-section{
        .page-headline{
            .button-area{
                text-align:center;
                margin-top:$m-20;
            }
        }
    }
    .breadcrumb-section{
        &+.page-heading-section{
            margin-top:$m-0;
        }
    }
}