.page-content{
    padding:$m-20 0 $m-50;
    p{
        @include font($font-16,$m-25);
        color:$gray-dark-3;
        .primary{
            color:$brand-color;
        }
        a{
            text-decoration: underline;
            &:hover{
                color:$brand-color;
                text-decoration: none;
            }
        }
    }
    .article{
        margin-bottom:$m-80;
        &+article{
            
        }
        .rounded-samples{
            margin:$m-40 auto $m-30;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            list-style-type: none;
            padding-left: 0;
            li{
                flex-basis:25%;
                img{
                    max-width:170px;

                }
                span,p{
                    display:inline-block;
                    margin-top:$m-20;
                    @include font($font-20, $line-26, $font-bold);
                    color:$blue-darkest;
                }
            }
            @include upto-phone{
                flex-direction: column;
                li{
                    img{
                        display: block;
                        margin:0 auto;
                    }
                    flex-basis:100%;
                    text-align:center;
                    margin-bottom:$m-30;
                    
                }
            }
        }
    }
    .edit-icon{
        width:$m-40;
        height:$m-40;
        display: inline-block;
        padding:$m-10;
    }
    .review-item{
        margin-bottom:$m-40;
        @include from-pc{
            padding-right:15%;
        }
    }
    .authized-seal{
        width:100%;
        text-align:center;
        img{
            max-width: 300px;
        }
    }
    .quotation-area{
        margin:$m-30 0 $m-80;
        .quotation{
            border-top:1px solid $gray;
            padding:$m-50 0 $m-40;
            &:last-child{
                border-bottom:1px solid $gray;
            }
            &:before{
                width:$m-40;
                height:$m-35;
                background-size: $m-40;
            }
            blockquote{
                margin:$m-10 0 $m-15;
                font-weight: $font-medium;
                color:$blue-darker-4;
            }
            p{
                .author{
                    @include font($font-16,$line-23,$font-medium);
                    color:$blue-darkest;
                    margin-bottom:0;
                    &.verified{
                        &:after{
                            background-size: 16px;
                            height:18px;
                        }
                    }
                }
                .address{
                    @include font($font-14,$line-18);
                }
                &.history{
                    @include font($font-16,$line-23,$font-bold);
                    a{
                        color:$brand-color;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
    .page-sidebar{
        .card-body{
            padding:$m-25;
            @include rounded($m-15);
        }
        .page-list{
            padding-left:0;
            list-style-type: none;
            li{
                border-bottom:1px solid $gray;
                padding:$m-15 0;
                a{
                    @include font($font-16,$m-20);
                    color:$blue-darkest;
                    &:hover{
                        text-decoration: none;
                        color:$brand-color;
                    }
                }
                &.active{
                    a{
                        font-weight: $font-medium;
                        color:$brand-color;
                    }
                }
            }
        }
    }
    
    .accordion-area{
        .accordion{
            margin-bottom:$m-40;
            &.no-section-heading{
                .accordion-button{
                    @include font($font-20,$line-23,$font-bold);
                    color:$blue-darkest;
                }
                .accordion-item{
                    border-bottom:none !important;
                }
            }
        }
        .accordion-button:not(.collapsed), .accordion-button:focus{
            color:$blue-darkest;
            box-shadow: none;
            background-color: $white;
        }
        .accordion-button{
            padding-left:0;
            position:relative;
            padding-right:$m-50;
            
            border-bottom:$thin solid $brand-color;
            color:$brand-color;
            &:after{
                content:">";
                background-image: none;
                @include font($font-20,$font-20,$font-bold);
                position: absolute;
                right: 20px;
                top: 23px;
                transform-origin: center;
                width: 10px;
                height: 15px;
                line-height: 15px;
                color:$brand-color;
                transform:rotate(-90deg);
            }
            &.collapsed{
                border-bottom:0;
                color:$gray-dark-3;
                &:after{
                    transform:rotate(90deg);
                    color:$gray-dark-3;
                }
            }
        }
        .accordion-body{
            padding-left:0;
        }
        .accordion-flush{
            .accordion-item{
                border-bottom: $thin solid $gray-light-1 !important;
            }
        }
    }
    
    .main-content{
        p{
            color:$blue-darkest;
        }
        .sub-article{
            margin-bottom:$m-40;
        }
    }
    
    
}
