.page-content{
    padding:$m-20 0 $m-50;
    p{
        @include font($font-16,$m-25);
        color:$text-primary-color;
        .primary{
            color:$primary-color;
        }
        a{
            text-decoration: underline;
            &:hover{
                color:$primary;
                text-decoration: none;
            }
        }
    }
    .article{
        margin-bottom:$m-80;
        &+article{
            
        }
        .rounded-samples{
            margin:$m-40 auto $m-30;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            list-style-type: none;
            padding-left: 0;
            li{
                flex-basis:25%;
                img{
                    max-width:170px;

                }
                span,p{
                    display:inline-block;
                    margin-top:$m-20;
                    @include font($font-20, $line-26, $font-bold);
                    color:$gray-dark;
                }
            }
            @include upto-phone{
                flex-direction: column;
                li{
                    img{
                        display: block;
                        margin:0 auto;
                    }
                    flex-basis:100%;
                    text-align:center;
                    margin-bottom:$m-30;
                    
                }
            }
        }
    }
    .edit-icon{
        width:$m-40;
        height:$m-40;
        display: inline-block;
        padding:$m-10;
    }
    .review-item{
        margin-bottom:$m-40;
        @include from-pc{
            padding-right:15%;
        }
    }
    .authized-seal{
        width:100%;
        text-align:center;
        img{
            max-width: 300px;
        }
    }
    .quotation-area{
        margin:$m-30 0 $m-80;
        p{
            font-size:1em;
        }
        .quotation{
            border-top:1px solid $border-gray-light;
            padding:$m-50 0 $m-40;
            &:last-child{
                border-bottom:1px solid $border-gray-light;
            }
            &:before{
                width:$m-40;
                height:$m-35;
                background-size: $m-40;
            }
            blockquote{
                margin:$m-10 0 $m-15;
                font-weight: $font-medium;
                color:$blue-2;
            }
            p{
                .author{
                    @include font($font-16,$line-23,$font-medium);
                    color:$gray-dark;
                    margin-bottom:0;
                    &.verified{
                        &:after{
                            background-size: 16px;
                            height:18px;
                        }
                    }
                }
                .address{
                    @include font($font-14,$line-18);
                }
                &.history{
                    @include font($font-16,$line-23,$font-bold);
                    a{
                        color:$primary;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
