.popular-section{
    margin:$m-100 0;
    .section-title{
        margin-bottom:$m-40;
    }
    &.type-box{
        .popular-area{
            .popular-sample{
                flex-basis:23%;
                border-radius:$m-20;
                border:1px solid $gray-4;
                padding:0;
                margin:1%;
                
                @include upto-phone{
                    flex-basis:44%;
                    margin:3%;
                }
                @include phone-small{
                    flex-basis:94%;
                    margin:3%;
                }
                .text{
                    padding:$m-15;
                    h4{
                        font-size:$font-20;
                        line-height:$line-26;
                        font-weight: $font-bold;
                        margin-bottom:$m-10;
                        margin-top:$m-15;
                    }
                    p{
                        font-size:$font-16;
                        line-height:$m-25;
                        font-weight: $font-bold; 
                        font-weight: $font-normal;
                    }
                }
            }
        }
    }
    
    &.type-row{
        .popular-sample{
            margin:$m-20 0;
            border:$thin solid $border-gray-light;
            padding:$m-20;
            @include rounded($m-20);
            @include upto-phone{
                margin:$m-20 auto;
                flex-basis: 90%;
            }
            p{
                color:$text-primary-color;
                @include font($font-16, $m-25);
            }
            .image{
                margin-bottom:0;
                padding-left:0;
                @include rounded($m-20);
                @include upto-phone{
                    margin-bottom:$m-20;
                }
            }
            
            .sample-details{
                h3{
                    @include font($font-24, $line-31,$font-bold);
                    color:$gray-dark;
                    margin-bottom:$m-10;
                }
                @include upto-phone{
                    margin-bottom:$m-20;
                    padding:0;
                }
            }
            .sample-use{
                h4{
                    @include font($font-18, $line-23,$font-bold);
                    margin-bottom:$m-15;
                }
                @include upto-phone{
                    padding:0;
                }
            }
        }
    }
}