.product-slider-section{
    .slider-row{
        position:relative;
        margin-bottom:$m-60;
        .more{
            position:absolute;
            top:7px;
            right:20px;
            color:$brand-color;
            @include font($font-16,$line-21);
            @include upto-phone{
                display: none;
            }
        }
    }
    .product-slider{
        .slick-track{
            margin-left:0;
        }
        .slick-list{
            overflow:hidden;
        }
        .product{
            position:relative;
            @include above-phone{
                max-width: 254px;
                margin:1px $m-20;
            }
            @include upto-phone{
                padding:10px;
                border: 1px solid #dedede;
                border-right: 0;
                &:only-child{
                    border-right: 1px solid #dedede;
                }
            }
            .figure{
                text-align: center;
                // background: $whitish-1;
                width:100%;
                padding:$m-0;
                
                @include above-phone{
                    box-shadow: 0 0 2px rgba(3, 1, 1, 0.2);
                    &:hover{
                        box-shadow: 0 0 4px rgba(3, 1, 1, 0.3);
                    }
                }
                img{
                    // max-width: 160px;
                    margin:0 auto;
                    transition: all 0.5s ease-in-out;
                    @include above-phone{
                        &:hover{
                            transform: scale(1.04);
                        }
                    }
                }
                
                a{display: block;}
            }
            .icon{
                display: block;
                text-align:center;
                background-color: $white;
                position: absolute;
                top: 15px;
                right: 20px;
                @include rounded($m-30);
                box-shadow: 0 0 10px rgba($black,0.1);
                a,button{
                    display: block;
                    @include square($m-40);
                    @include rounded($m-30);
                    border:none;
                    i{
                        @include font($font-18,$m-40);
                        color:$blue;
                    }
                    &:hover, &.selected{
                        background:$brand-color;
                        i{
                            color:$white;
                        }
                    }
                }
            }
            .title{
                @include font($font-18,$line-26,$font-bold);
                color:$blue-darkest;
                a{
                    color:$blue-darkest;
                }
            }
            .details{
                color:$gray-dark-3;
                @include font($font-14,$line-18);
                margin-bottom:10px;
            }
            .price{
                text-transform: capitalize;
                color:$gray-dark-3;
                font-weight: bold;
                .value{
                    color:$brand-color;
                    @include font($font-18,$line-18,$font-medium);
                }
            }
            .availability{
                display:inline-block;
                @include font(12px,100%,$font-medium);
                padding:5px $m-10;
                background: rgba(179, 82, 44, 0.14);
                color:$brand-color;
                @include rounded($m-30);
            }
        }
        .slick-arrow{
            top:110px;
        }
    }
}