.promotion{
    background-color: #CC7654;
    background: linear-gradient(90deg, #213241 0%, #213241 50%, #dedede 51%, #dedede 100%);
    .above-phone{
        position: relative;
        &::before{
            content:"";
            display: block;
            width:60px;
            height: 100%;
            position:absolute;
            top:0;
            left:-23px;
            z-index: 2;
            background: linear-gradient(90deg,rgba(33,50,65,0) 0%, #918475 60%,rgba(145,132,117,0) 100%)
        }
    }
}