.products-section{
    margin-bottom:$m-50;
    .products-area{
        &.type-a{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            align-content: space-around;
            .product{
                flex-basis:48%;
                margin-bottom:$m-50;
                img{
                    margin-bottom:$m-25;
                }
                h3,h4{
                    font-size:$font-24;
                    line-height:$m-30;
                    font-weight: $font-bold;
                    margin-bottom:$m-5;
                }
                p{
                    font-size:$font-16;
                    line-height:$m-25;
                    color:$text-primary-color;
                }
            }
        }
        &.type-b{
            .product{
                border-bottom: $thin solid #ccc;
                padding-bottom:$m-50;
                &+.product{
                    margin-top:$m-50;
                }
                &:last-child{
                    border-bottom:none;
                    padding-bottom:$m-30;
                }
                .details{
                    img{
                        margin-bottom:$m-20;
                    }
                    p{
                        font-size:$font-16;
                        line-height:$line-26;
                        color:$text-dark-color;
                    }
                }
                .action-area{
                    .action{
                        background-color: $bg-gray-1;
                        padding:$m-20;
                        border-radius: $m-10;
                        margin-bottom:$m-20;
                        h4{
                            font-size:$font-20;
                            line-height:$line-26;
                            font-weight: $font-bold;
                            color:$text-dark-color;
                            margin-bottom:$m-20;
                        }
                        .features{
                            color:$text-primary-color;
                            font-size:$font-14;
                            line-height: $line-18;
                            padding-left:0;
                            margin-left:$m-20;
                            li{
                                margin-bottom:$m-10;
                            }
                        }
                        .btn{
                            
                        }
                    }
                    .thumb-area{
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        list-style-type: none;
                        padding-left:0;
                        li{
                            flex-basis: 30%;
                        }
                    }
                }
            }
        }
    }
}


.order-summary-section{
    
    .ordered-items-list{
        margin-top:0;
        .ordered-item{
            padding:$m-20 0;
            border-bottom: $thin solid $border-gray-light;
            &:last-child{
                border-bottom:0;
            }
            .image{
                @include upto-phone{
                    margin-bottom:$m-25;
                }
                img{
                    max-width: 190px;
                }
            }   
            .description{
                h4,h3{
                    @include font($font-24, $line-31,$font-bold);
                    margin-bottom:$m-15;
                }
            } 
        }
    }
}

@include upto-tablet{
    .products-section{
        .products-area{
            &.type-a{
                .product{
                    flex-basis:100%;
                }
            }
        }
    }
}

@include from-pc{
    .products-section{
        .products-area{
            &.type-b{
                .product{
                    .action-area{
                        .action{
                            .features{
                                min-height: 180px;
                            }
                        }
                    }
                }
            }
        }
    }
}