.products-section{
    margin-bottom:50px;
    .products-area{
        &.type-a{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            align-content: space-around;
            .product{
                flex-basis:48%;
                margin-bottom:30px;
                @include upto-phone{
                    margin-bottom:50px;
                }
                @include upto-tablet{
                    flex-basis:100%;
                }
                &>a{
                    display: block;
                    overflow: hidden;
                    margin-bottom:25px;
                    @include upto-phone{
                        margin-bottom:35px;
                    }
                    // img{
                    //     transition: all 0.4s ease;
                    // }
                    // &:hover{
                    //     img{
                    //         transform:scale(1.05);
                    //     }
                    // }
                }
                figure{
                    box-shadow: 0 0 2px rgba(3, 1, 1, 0.2);
                    transition: all 0.5s ease-in-out;
                    margin-bottom:25px;
                    &:hover{
                        box-shadow: 0 0 4px rgba(3, 1, 1, 0.3);
                        img{
                            transform: scale(1.04);
                        }
                    }
                    @include upto-phone{
                        margin-bottom:35px;
                    }
                    a{
                        display: block;
                        margin-bottom:0;
                    }
                }
                p{
                    a{display: inline;}
                }
                h3,h4{
                    @include font(24px,31px,700);
                    margin-bottom:5px;
                    @include upto-phone{
                        text-align:center;
                        margin-bottom:15px;
                    }
                    a{
                        color:$blue-darkest;
                    }
                }
                p{
                    @include font(16px,25px);
                    color:$gray-dark-3;
                }
            }
        }
        &.type-b{
            .product{
                border-bottom: 1px solid #ccc;
                padding-bottom:50px;
                @include upto-phone{
                    &:first-child{
                        border-top: 1px solid #ccc;
                        padding-top:50px;
                    }
                }
                &+.product{
                    margin-top:50px;
                }
                &:last-child{
                    border-bottom:none;
                    padding-bottom:30px;
                }
                .details{
                    img{
                        margin-bottom:20px;
                    }
                    p{
                        @include font(16px,26px);
                        color:$blue-darkest;
                    }
                }
                .action-area{
                    .action{
                        background-color: $whitish-1;
                        padding:20px;
                        border-radius: 10px;
                        margin-bottom:20px;
                        h4{
                            @include font(20px,26px,700);
                            color:$blue-darkest;
                            margin-bottom:20px;
                            @include upto-phone{
                                text-align:center;
                            }
                        }
                        .features{
                            @include from-pc{
                                min-height: 180px;
                            }
                            ul,ol{
                                color:$gray-dark-3;
                                @include font(14px,18px);
                                padding-left:0;
                                margin-left:20px;
                                li{
                                    margin-bottom:10px;
                                }
                            }
                        }
                        .btn{
                            padding:15px;
                            box-shadow: 0 10px 15px 5px rgba($black,0.1);
                            @include upto-phone{
                                display: block;
                                width:80%;
                                margin:45px auto 0;
                            }
                        }
                    }
                    .thumb-area{
                        ul,ol{
                            
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            grid-column-gap: 20px;
                            list-style-type: none;
                            padding-left:0;
                            margin-bottom:0;
                            li{
                                a{
                                    display: block;
                                    border:1px solid $gray;
                                    @include rounded(10px);
                                    &:hover{
                                        border-color:$brand-color;
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
        &.type-c{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap:50px;
            grid-column-gap:40px;
            @include upto-phone{
                grid-template-columns: 1fr;
            }
            .product{

                figure{
                    box-shadow: 0 0 2px rgba(3, 1, 1, 0.2);
                    transition: all 0.5s ease-in-out;
                    margin-bottom:25px;
                    &:hover{
                        box-shadow: 0 0 4px rgba(3, 1, 1, 0.3);
                        img{
                            transform: scale(1.04);
                        }
                    }
                    @include upto-phone{
                        margin-bottom:35px;
                    }
                    a{
                        display: block;
                        margin-bottom:0;
                    }
                }
                p{
                    a{display: inline;}
                    &:last-child{
                        margin-bottom:0;
                    }
                }
                h3,h4{
                    @include font(24px,31px,700);
                    margin-bottom:5px;
                    @include upto-phone{
                        // text-align:center;
                        margin-bottom:15px;
                    }
                    a{
                        color:$blue-darkest;
                    }
                }
                p{
                    @include font(16px,25px);
                    color:$gray-dark-3;
                }
            }
        }
    }
}

.product{
    img{
        transition: all 0.4s ease;
    }
    figure,.figure,a{
        overflow: hidden;
        cursor: pointer;
        &:hover{
            img{
                transform:scale(1.05);
            }
        }
    }
}

.order-summary-section{
    .container{
        @include upto-phone{
            padding:0 20px;
        }
    }
    .ordered-items-list{
        margin-top:0;
        .ordered-item{
            padding:20px 0;
            border-bottom: 1px solid $gray;
            @include upto-phone{
                border-bottom:0;
            }
            &:last-child{
                border-bottom:0;
            }
            .image{
                @include upto-phone{
                    margin-bottom:25px;
                    border-top: 1px solid $gray;
                }
                img{
                    max-width: 190px;
                }
            } 
            &:first-child{
                .image{
                    @include upto-phone{
                        border-top: 0;
                    }
                }
            }  
            .description{
                h4,h3{
                    @include font(24px, 31px,700);
                    margin-bottom:15px;
                }
                .subtotal{
                    @include font(16px,23px);
                    color: $blue;
                    span{
                        color:$brand-color;
                        font-weight: 700;
                        @include font(22px,29px,700);
                        margin-top:3px;
                    }
                }
            } 
        }
    }
}


