.promotion{
    background-color: #CC7654;
    &.memorial-brand{
        background-color: #c27e63;
    }
    &.memorial-blue{
        background-color: #74859b;
    }
    &.july-sale{
        background-color: #2D9AD3;
    }
    &.labor-day{
        background-color: #C27F66;
    }
    &.veteran-day{
        background-color: #6c7f96;
        background: linear-gradient(90deg, rgba(126,143,165,1) 0%, rgba(126,143,165,1) 46%, rgba(108,127,150,1) 60%, rgba(108,127,150,1) 100%);
    }
}