.product-slider-section{
    .slider-row{
        position:relative;
        margin-bottom:60px;
        .more{
            position:absolute;
            top:7px;
            right:20px;
            color:$brand-color;
            @include font(16px,21px);
            @include upto-phone{
                display: none;
            }
        }
    }
    .product-slider{
        .slick-track{
            margin-left:0;
        }
        .slick-list{
            overflow:hidden;
        }
        .product{
            position:relative;
            @include above-phone{
                max-width: 254px;
                margin:1px 20px;
            }
            @include upto-phone{
                padding:10px;
                border: 1px solid #dedede;
                border-right: 0;
                &:only-child{
                    border-right: 1px solid #dedede;
                }
            }
            .figure{
                text-align: center;
                // background: $whitish-1;
                width:100%;
                padding:10px;
                @include above-phone{
                    &:hover{
                        box-shadow: 0 0 4px rgba(3, 1, 1, 0.3);
                    }
                }
                img{
                    // max-width: 160px;
                    margin:0 auto;
                    transition: all 0.5s ease-in-out;
                    @include above-phone{
                        &:hover{
                            transform: scale(1.04);
                        }
                    }
                }
                
                a{display: block;}
            }
            .icon{
                display: block;
                text-align:center;
                background-color: $white;
                position: absolute;
                top: 15px;
                right: 20px;
                @include rounded(30px);
                box-shadow: 0 0 10px rgba($black,0.1);
                a,button{
                    display: block;
                    @include square(40px);
                    @include rounded(30px);
                    border:none;
                    background-color: white;
                    i{
                        @include font(18px,40px);
                        color:$blue;
                    }
                    &:hover, &.selected{
                        background:$brand-color;
                        i{
                            color:$white;
                        }
                    }
                }
            }
            .title{
                @include font(18px,26px,700);
                color:$blue-darkest;
                a{
                    color:$blue-darkest;
                }
            }
            .details{
                color:$gray-dark-3;
                @include font(14px,18px);
                margin-bottom:10px;
            }
            .price{
                text-transform: capitalize;
                color:$gray-dark-3;
                font-weight: bold;
                .value{
                    color:$brand-color;
                    @include font(18px,18px,500);
                }
            }
            .availability{
                display:inline-block;
                @include font(12px,100%,500);
                padding:5px 10px;
                background: rgba(179, 82, 44, 0.14);
                color:$brand-color;
                @include rounded(30px);
            }
        }
        .slick-arrow{
            top:110px;
        }
    }
}