.shopping-cart-section{
    margin-bottom:70px;
    .section-title{
        p{
            @include font(18px,23px);
            color:$gray-dark-3;
        }
    }
    @include upto-phone{
        margin-bottom: 20px;
    }
    .cart-item{
        border-bottom:1px solid $gray;
        
        &:last-child{
            border-bottom:0;
        }
        padding:40px 0;
        @include from-pc{
            margin-right:20px;
            .action{
                padding-right:0;
            }
        }
        @include upto-phone{
            img{
                max-width: 205px;
            }
        }
        .item-details{
            @include font(18px,23px);
            @include from-pc{
                width:38%;
            }
            .title{
                margin-bottom:15px;
                p{
                    @include font(18px,23px,700);
                    margin-bottom:5px;
                    color:$blue-darkest;
                }
                h3,h4{
                    @include font(18px,23px,500);
                    color:$brand-color;
                }
                a{
                    color:$brand-color;
                }
            }
            .price{
                margin:25px 0;
                padding-bottom:25px;
                border-bottom:1px solid $gray;
                p{
                    color:$blue-darkest;
                    @include font(18px,23px,700);
                    @include upto-phone{
                       margin-bottom:20px;
                    }
                    span{
                        display: block;
                        font-weight: 400;
                        margin-top:5px;
                        color:$blue-darkest;
                        @include upto-phone{
                            display: inline;
                        }
                    }
                }
                .counter{
                    display: flex;
                    span{
                        display: inline-block;
                    }
                    .btn{
                        @include square(44px);
                        @include rounded(30px);
                        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
                        padding:0;
                        background-color: $white;
                        color:$blue-darker-2;
                        @include font(40px,41px);
                        cursor:pointer;
                        &:hover, &:focus{
                            // background-color: $brand-color;
                            color:$brand-color !important;
                        }
                    }
                    .count{
                        margin:0 20px;
                        @include square(44px);
                        text-align: center;
                        @include font(20px,44px,500);
                        color:$black;
                        border:0;
                    }
                }
            }
            .detail{
                margin:0;
                padding:0;
                list-style-type: none;
                &.wider{
                    width:175%;
                    @include upto-phone{
                        width:100%;
                    }
                }
                li{
                    color:$blue-darkest;
                    margin-bottom:15px;
                    font-weight: 500;
                    &:last-child{
                        margin-bottom:0px;
                    }
                    span{
                        font-weight: 400;
                        color:$blue;
                    }
                }
            }
            
        }
        .card-figure{
            width:71.3%;
        }
        .action{
            @include from-pc{
                width:28.33%;
            }
            @include upto-phone{
                margin-top:15px;
            }
            .price-title{
                @include font(18px,23px,700);
                margin-bottom:10px;
                color:$blue-darkest;
                @include upto-phone{
                    margin-top:20px;
                }
                span{
                    @include font(22px,26px,500);
                    color:$brand-color;
                    display: block;
                    margin:10px 0;
                }
            }
            .price-details{
                display: flex;
                margin-bottom:20px;
                @include phone-to-pc{
                    flex-direction: column;
                    span{
                        flex-basis: 100%;
                    }
                }
                span{
                    @include font(22px,26px,500);
                    display: inline-block;
                    margin-right:10px;
                    flex-basis: 48%;
                    @include phone-to-pc{
                        margin-bottom:10px;
                        &.current{
                            margin-bottom:0;
                        }
                    }
                    &.old{
                        text-decoration: line-through;
                        color:$blue;
                    }
                    &.current{
                        margin-right:0;
                        color:$brand-color;
                    }
                }
            }
            .buttons{
                .btn{
                    font-size: 16px;
                    margin-top:20px;
                    padding:15px 10px;
                    max-width: 180px;
                    &.cart-item-remover{
                        margin-top:0;
                    }
                    @include upto-phone{
                        max-width:100%;
                    }
                }
            }
        }
        .thanks-note{
            margin-top:40px;
            p{
                color:$brand-color;
                margin-bottom:0;
                @include font(22px,29px,500);
                .greeting{
                    color:$black;
                }
            }
        }
        
        
    }
    .only-details{
        p{
            @include font(20px,26px,500);
            color:$blue-darkest;
            span, a{
                color:$brand-color;
                &.link{
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .pre-gift-form{
        // border-bottom:1px solid $gray;
        // margin-bottom:24px;
        // padding-bottom:24px;
        .form-area{
            // margin-top:15px;
            .form-line{
                margin-bottom:20px;
                select{
                    color:#6B7481;
                    &:focus{
                        color:$blue-darkest;
                    }
                }
            }
            p{
                @include font(14px,18px);
                color:#514646;
                padding-top:10px;
            }
            .form-label{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }
            a{
                color:$brand-color;
                font-weight: 700;
                margin-top:20px;
                display: block;
                text-decoration: underline;
                &.link{
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .pre-gift-trigger{
        margin-top:30px;
        .trigger{
            margin-bottom:0;
            color:$brand-color;
            span{
                font-weight: 700;
                text-decoration: underline;
            }
        }
    }
    
    .card{
        .btn{
            @include font(16px,18px);
        }
    }
    .sample-item{
        padding-top:40px;
        @include from-tablet{
            .col-md-9{
                width:69%;
            }
        }
        .heading{
            margin-bottom:50px;
            h3{
                @include font(30px,39px,700);
                color:$blue-darkest;
                margin-bottom:0;
            }
        }
        .sample-text{
            margin-left:0;
            padding-left:0;
            list-style-type: none;
            li{
                @include font(20px,26px);
                color:$blue-darkest;
                margin-bottom:15px;
            }
        }
        .action{
            @include upto-phone{
                margin-top:30px;
                border-bottom:1px solid $gray;
                margin-bottom:20px;
            }
            .price-title{
                color: #57687F;
                @include font(20px,22px);
                span{
                    color:$brand-color;
                    @include font(22px,29px,700);
                    display: inline-block;
                }
            }
            .btn{
                font-size: 16px;
                padding: 15px 10px;
                max-width: 180px;
                margin-bottom:20px;
                @include upto-phone{
                    max-width:100%;
                }
            }
        }
    }

}