.testimonial-area{
    padding:15px 0 45px;
    overflow: hidden;
    @include upto-pc{
        padding:20px;
    }
    .testimonial-slider{
        padding:20px 0;
        margin-top:50px;
        margin-bottom:40px !important;
        @include from-pc{
            max-height:395px;
        }
        .slide{
            display: grid;
            grid-template-columns: auto 265px;
            grid-column-gap:90px;
            grid-row-gap:90px;
            margin:0 20px;
            border-radius:20px;
            box-shadow: 0px 18px 64px rgba(98, 117, 144, 0.18);
            padding: 40px 50px;
            @include upto-pc{
                box-shadow: 0 0 25px rgba($black,0.1);
                // box-shadow: none;
                // border:1px solid rgba($black,0.1);
                margin:18px !important;
                padding:30px 20px 20px;
            }
            @include upto-phone{
                min-height:330px;
            }
            @include above-phone{
                min-height:350px;
            }
            @include phone-to-pc{
                padding-left:50px;
                padding-right:50px;
            }
            p{
                margin-bottom:0;
            }
            .image{
                border-radius:10px;
            }
            blockquote{
                font-style: italic;
            }
        }
        .slick-list{
            margin-bottom:0 !important;
        }
    }
}

.quotation-area{
    .quotation{
        &:before{
            content:'';
            display: block;
            height:45px;
            width:60px;
            background: url('../images/blockquote.png') no-repeat;
            background-size:60px;
        }
        blockquote, &>p{
            margin:30px 0;
            color:$blue-darker-4;
            @include font(16px,25px,500);
            em, span{
                display: block;
            }
        }
        p{
            letter-spacing: 0.3px;
            .author{
                @include font(20px,25px);
                color:$blue-darkest;
                display: inline-block;
                position:relative;
                i{
                    color:$blue-royal;
                }
                &.verified{
                    &:after{
                        content:"";
                        display: block;
                        width:20px;
                        height:20px;
                        background:url('../images/verified.svg') no-repeat;
                        background-size:20px;
                        position:absolute;
                        bottom:3px;
                        right: -25px;
                    }
                }
            }
            .address{
                display:block;
                color:$gray-dark-1;
                @include font(16px,20px);
                margin-top:5px;
            }
            img{
                width: auto;
            }
        }
    }
}

@include upto-pc{
    .testimonial-area{
        .testimonial-slider{
            padding: 20px;
            @include upto-pc{
                padding:0 !important;
            }
            .slide{
                display: block;
                .quotation{
                    width:100%;
                }
                .image{
                    display: none;
                }
            }
        }
    }
}