.testimonial-area{
    padding:$m-15 0 $m-45;
    @include upto-pc{
        padding:$m-20;
    }
    .testimonial-slider{
        padding:$m-20 0;
        margin-top:$m-50;
        margin-bottom:$m-40 !important;
        
        .slide{
            display: grid;
            grid-template-columns: auto 265px;
            grid-column-gap:$m-90;
            grid-row-gap:$m-90;
            margin:0 $m-20;
            border-radius:$m-20;
            box-shadow: 0px 18px 64px rgba(98, 117, 144, 0.18);
            padding: $m-40 $m-50;
            @include upto-phone{
                box-shadow: 0 0 $m-25 rgba($black,0.1);
                // box-shadow: none;
                // border:$thin solid rgba($black,0.1);
                margin:18px !important;
                padding:30px 20px 20px;
            }
            p{
                margin-bottom:0;
            }
            .image{
                border-radius:$m-10;
            }
        }
    }
}

.quotation{
    &:before{
        content:'';
        display: block;
        height:$m-45;
        width:$m-60;
        background: url('../images/blockquote.png') no-repeat;
        background-size:$m-60;
    }
    blockquote{
        margin:$m-30 0;
        color:$blue-darker-4;
        @include font($font-16,$m-25,$font-medium);
    }
    p{
        letter-spacing: 0.3px;
        .author{
            @include font($font-20,$m-25);
            color:$blue-darkest;
            display: inline-block;
            position:relative;
            i{
                color:$blue-royal;
            }
            &.verified{
                &:after{
                    content:"";
                    display: block;
                    width:$m-20;
                    height:$m-20;
                    background:url('../images/verified.svg') no-repeat;
                    background-size:$m-20;
                    position:absolute;
                    bottom:3px;
                    right: -$m-25;
                }
            }
        }
        .address{
            display:block;
            color:$gray-dark-1;
            @include font($font-16,$m-20);
            margin-top:$m-5;
        }
    }
}

@include upto-pc{
    .testimonial-area{
        .testimonial-slider{
            padding: 20px;
            @include upto-pc{
                padding:0 !important;
            }
            .slide{
                display: block;
                @include upto-phone{
                    // margin:0 !important;
                }
                .quotation{
                    width:100%;
                }
                .image{
                    display: none;
                    // width:100%;
                    // margin-top:$m-40;
                }
            }
        }
    }
}