.topbar-area{
    background: $blue;
    color:$white;
    height:40px;
    @include upto-tablet{
        display:none;
    }
    .toogle-button-area{
        display:none;
    }
    .navbar{
        padding:0;
    }
    li{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        a{
            color:white;
            display: inline-block;
            @include upto-pc{
                padding: 2px 3px;
            }
        }
        @include from-pc{
            &+li{
                margin-left:20px;
            }
        }
    }
    .topbar-nav{
        padding-left:10px;
        .top-nav{
            // width:60%;
            // float:left;
            padding-left:0;
            margin-bottom:0;
            li{
                a{
                    text-transform: capitalize;
                }
            }
        }
        .contact-details{
            // width:40%;
            margin-bottom:0;
            text-align: right;
            padding: 10px 0;
            li{
                i{
                    margin-right:5px;
                }
                a{
                    padding:0;
                }
                &+li{
                    margin-left:15px;
                }
            }
        }
    }
}