.topbar-area{
    background: $blue;
    color:$white;
    height:$m-40;
    @include upto-tablet{
        display:none;
    }
    .toogle-button-area{
        display:none;
    }
    .navbar{
        padding:0;
    }
    li{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        a{
            color:white;
            padding: $m-10;
            display: inline-block;
        }
    }
    .topbar-nav{
        .top-nav{
            // width:60%;
            float:left;
            padding-left:0;
            li{
                margin-right: $m-10;
                a{
                   text-transform: capitalize;
                }
            }
        }
        .contact-details{
            // width:40%;
            float:left;
            text-align: right;
            padding: $m-10;
            li{
                i{
                    margin-right:$m-5;
                }
                a{
                    padding:0;
                }
                &+li{
                    margin-left:$m-20;
                }
            }
        }
    }
}