.contact-section{
    .contact-area{
        background:$blue;
        padding:25px;
        padding-bottom:0;
        position:relative;
        overflow:hidden;
        &:after{
            content:"";
            display: block;
            height: 250px;
            width: 100%;
            background: url(../images/bg/circle.png) no-repeat;
            position: absolute;
            left: -150px;
            bottom: 0;
            @include upto-phone{
                content:none;
            }
        }
        h4,h5{
            margin-bottom:0;
        }
        .tag{
            display: block;
            @include font(14px,18px);
            text-transform: uppercase;
            letter-spacing: 2px;
            color:rgba($white,50%);
        }
        .number{
            display: block;
            color:$white;
            @include font(16px,21px);
            a{
                color:$white;
            }
        }
        p{
            margin:0;
            @include font(16px,29px);
            color:rgba($white,50%);
        }
        .contact-list{
            margin-top:25px;
            padding-left:0;
            .contact{
                padding:25px 0;
                border-top: 1px dashed rgba($white,50%);
                display: grid;
                grid-template-columns: 1fr 11fr;
                grid-column-gap:20px;
                align-items: center;
                .icon{
                    background:rgba($white,12%);
                    height:50px;
                    width:50px;
                    text-align:center;
                    color: white;
                    display: block;
                    font-size: 20px;
                    line-height: 50px;
                    @include rounded(50px);
                }
            }
        }
    }
    
    .contact-form-area{
        @include from-pc{
            border:1px solid $gray;
            border-left:0;
        }
        padding:40px;
        
        .nav-pills{
            margin-bottom:30px;
            .nav-link{
                color:$gray-dark-4;
                background:none;
                border-radius:0;
                @include font(16px,21px,500);
                &.active{
                    color:$blue-darkest;
                    border-bottom:2px solid $brand-color;
                }
            }
        }
    }
}