.contact-section{
    .contact-area{
        background:$blue;
        padding:$m-25;
        padding-bottom:0;
        position:relative;
        overflow:hidden;
        &:after{
            content:"";
            display: block;
            height: 250px;
            width: 100%;
            background: url(../images/bg/circle.png) no-repeat;
            position: absolute;
            left: -150px;
            bottom: 0;
        }
        h4,h5{
            margin-bottom:0;
        }
        .tag{
            display: block;
            @include font($font-14,$line-18);
            text-transform: uppercase;
            letter-spacing: 2px;
            color:rgba($white,50%);
        }
        .number{
            display: block;
            color:$white;
            @include font($font-16,$line-21);
            a{
                color:$white;
            }
        }
        p{
            margin:0;
            @include font($font-16,$line-29);
            color:rgba($white,50%);
        }
        .contact-list{
            margin-top:$m-25;
            padding-left:0;
            .contact{
                padding:$m-25 0;
                border-top: 1px dashed rgba($white,50%);
                display: grid;
                grid-template-columns: 1fr 11fr;
                grid-column-gap:$m-20;
                align-items: center;
                .icon{
                    background:rgba($white,12%);
                    height:50px;
                    width:50px;
                    text-align:center;
                    color: white;
                    display: block;
                    font-size: 20px;
                    line-height: 50px;
                    @include rounded($m-50);
                }
            }
        }
    }
    
    .contact-form-area{
        @include from-pc{
            border:1px solid $gray;
            border-left:0;
        }
        padding:$m-40;
        
        .nav-pills{
            margin-bottom:$m-30;
            .nav-link{
                color:$gray-dark-4;
                background:none;
                border-radius:0;
                @include font($font-16,$line-21,$font-medium);
                &.active{
                    color:$blue-darkest;
                    border-bottom:$semi solid $brand-color;
                }
            }
        }
    }
}