.product-section{
    .product-gallery-area{
        margin-top:$m-20;
        margin-bottom:$m-60;
        @include upto-phone{
            margin-top:0;
            margin-bottom:0;
        }
    }
    .product-gallery{
        position:relative;
        @include upto-tablet{
            margin-bottom:40px;
        }
        .gallery-full{
            // background-color: #F6F7F9;
            display: block;
            position:relative;
            overflow:hidden;
            padding-top:7px;
            @include upto-tablet{
                padding:0;
            }
            width: 100%;
            z-index:5;
            .gallery-field{
                // display: flex;
                // justify-content: center;
                // align-items: center;
                @include above-phone{
                    // min-height: 410px;
                }
                @include phone-to-tablet{
                    // padding-bottom:170px;
                }
            }
            img{
                // max-width: 460px;
                @include phone-small{
                    // min-width: 320px;
                }
            }
            #caption{
                width:100%;
                z-index:20;
                // background: rgba(30, 36, 44, 0.1);
                backdrop-filter: blur(10px);
                margin:20px 0 10px 0;
                margin-bottom:0;
                color:$gray-dark-3;
                @include font($font-14,$line-18,$font-medium);
            }
        }
        .gallery-thumb{
            width: calc(100% - 40px);
            margin-left: auto;
            margin-right: auto;
            z-index:10;
            .thumb{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                background: $white;
                // @include square(95px);
                @include rounded($m-10);
                cursor:pointer;
                border:1px solid $white;
                margin:10px 12px;
                box-shadow: 0px 0px 15px rgba($black,0.1);
                &:hover{
                    border-color:$brand-color;
                }
            }
            .slick-list{
                overflow: hidden;
                padding:20px 0px 0px;
            }
            .slick-arrow{
                // @include square(32px);
                // @include rounded(20px);
                border-radius: 0;
                background: url(../images/slider-arrows.png) no-repeat;
                box-shadow: none;
                width: 17px;
                height:41px;
                background-size: 14px;
                position:absolute;
                top: 50%;
                margin-top: -10px !important;
                display: inline-block !important;
                &.slick-prev{
                    left:-23px !important;
                    background-position: left bottom !important;
                }
                &.slick-next{
                    background-position: left top  !important;
                    right:-23px !important;
                }
                &:hover,&:active{
                    border-color:white;
                }
            }
        }
        
        .button-area{
            position:absolute;
            bottom:15px;
            right:$m-20;
            z-index: 30;
            .icon{
                @include square(42px);
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                @include rounded($m-30);
                &:hover{
                    background-color: $brand-color;
                    text-decoration: none;
                    color:$white;
                }
            }
        }
    }
    .product-details{
        p{
            @include font($font-16,$line-29);
            color:$gray-dark-3;
            span{
                display: inline-block;
            }
        }
        .seals{
            padding-left:0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            li{
                margin-right:$m-20;
                &:last-child{
                    margin-right:0;
                }
                
            }
        }
        .pricing{
            span{
                color:$brand-color;
                display:block;
                font-weight: $font-medium;
                &.price{
                    color:$blue-darkest;
                    @include font($font-36,$line-47,$font-bold);
                }
            }
        }
        .addons{
            span{
                display: inline;
                @include font($font-16,$line-21,$font-medium);
                color:$brand-color;
            }
            a{
                margin-left:10px;
                color:$brand-color;
                text-decoration: none;
            }
        }
        .button-area{
            margin:$m-20 0;
            .btn-large{
                padding:15px 30px;
            }
            .btn-icon{
                padding:5px;
                width: 50px;
                height: 50px;
                text-align: center;
                margin-left: 20px;
                color:$blue;
                background-color: $white;
                border:0;
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
                i{
                    @include font(25px, 32px);
                }
                &:hover{
                    color:$white;
                    background-color: $brand-color;
                }
                @include smallest{
                    margin-top:20px;
                    text-align: center;
                }
            }
        }
        
        h3{
            @include font($font-20,$line-26,$font-medium);
            margin-bottom:$m-15;
        }
    }
    
    .nav-pills{
        border-bottom:1px solid $gray;
        .nav-item{
            .nav-link{
                @include font($font-16,160%,$font-medium);
                border-bottom:4px solid transparent;
                color:$blue;
                padding:$m-10 0;
                border-radius: 0;
                &.active{
                    border-color:$brand-color;
                    color:$blue-darkest;
                    background-color: $white;
                }
            }
            &+.nav-item{
                margin-left:30px;
            }
        }
    }
    .accordion-item{
        border:0;
        &+.accordion-item{
            margin-top:$m-40;
        }
        .accordion-header{
            border-bottom:1px solid $whitish-2;
        }
        .accordion-button{
            border-radius:0 !important;
            padding:$m-20 0;
            font-weight: $font-bold;
            i{
                color:$blue;
                margin-left:3px;
            }
            a, span{
                display: inline-block;
                margin-left:5px;
            }
            &:after{
                content:">";
                background: none;
                display: inline-block;
                transform: rotate(-90deg);
                font-size: 30px;
                color:$black;
            }
            &.collapsed{
                &:after{
                    transform: rotate(90deg);
                }
            }
            &:not(.collapsed){
                box-shadow: none;
                border:none;
                color:$blue-darkest;
                background-color: $white;
            }
            &:focus{
                outline:0;
                box-shadow: none;
            }
            
        }
    }
    .accordion-body{
        padding:0;
        .btn{
            background: $white;
            color:$blue-darkest;
            border: 1px solid rgba($black,0.12);
            @include font($font-14,$line-18,$font-medium);
            span{
                color:$blue;
            }
        }
        .form-check-inline{
            margin: $m-20 $m-15 0 0;
            padding:0;
        }
        .btn-check{
            &:active,&:checked{
                &+.btn{
                    box-shadow: none;
                    background:$blue;
                    color:$white;
                    span{
                        color:$white;
                    }
                }
            }
        }
    }
    
    .alert{
        background: #EDEFF3;
        padding:$m-20;
        padding-left:$m-50;
        position:relative;
        color:#424C5B;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        @include rounded($m-10);
        margin-top:$m-20;
        i{
            position:absolute;
            left:$m-20;
            top:$m-20;
            font-size:$font-20;
        }
        p{
            margin-bottom:0;
            color:#424C5B;
            @include font($font-16,$line-21,$font-medium);
        }
    }
    
    .stack-area{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        .stack{
            flex-basis: 14.285%;
            position: relative;
            padding-left:0;
            padding-right:0;
            span{
                margin-top:$m-10;
            }
            @include upto-phone{
                flex-basis:25%;
            }
            margin-bottom:$m-20;
            .btn-check{
                display: none;
                
                &:checked,&:active{
                    &+.btn{
                        background: none !important;
                        border:$thin solid $brand-color;
                        .overlay{
                            display:flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            .btn{
                border:0;
                padding:5px;
                display: block;
                @include rounded(3px);
                border:1px solid transparent;
                span{
                    color:$blue-darkest !important;
                }
                .figure{
                    position:relative;
                    .overlay{
                        display: none;
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        @include rounded(5px);
                        
                        .icon{
                            color: $white;
                            text-align: center;
                            vertical-align: middle;
                            i{
                                @include font(55px,100%,700);
                            }
                        }
                        // @include upto-phone{
                        //     display: block;
                        //     background: none;
                        //     height: 40px;
                        //     bottom: -110px;
                        //     top: auto;
                        // }
                        // @include phone-small{
                        //     bottom:-130px;
                        // }
                    }
                    // &:hover{
                    //     .overlay{
                    //         display: block;
                    //     }
                    // }
                }
            }
        }
        .counter{
            display: flex;
            max-width: 100px;
            margin: 20px auto 0;
            span{
                display: inline-block;
                margin-top:0;
            }
            .btn{
                @include square(30px);
                @include rounded($m-30);
                box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
                padding:6px;
                background-color: $white;
                color:$blue-darker-2;
                @include font($font-30,16px);
                cursor:pointer;
                &:hover{
                    background-color: $brand-color;
                    color:$white;
                }
            }
            .count{
                margin:0 $m-5;
                @include square(30px);
                text-align: center;
                @include font($font-20,44px,$font-medium);
                color:$black;
                border:0;
            }
        }
        
        &.show-checkbox{
            .stack{
                position:relative;
                img{
                    // margin-bottom:50px;
                }
                label{
                    font-weight: $font-bold;
                    .text,.figure,.figure img{
                        height:153px;
                        width:100%;
                    }
                    .text{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $gray-500;
                        @include rounded(5px);
                        background-color: $white;
                        // margin-bottom: 48px;
                        p{
                            margin-bottom:0;
                            @include font($font-14,$line-18,500);
                            strong{
                                display: block;
                                padding:10px 20px;
                                margin-top:15px;
                                background: #EDEFF3;
                                @include rounded(20px);
                                color:$gray-light-3;
                            }
                        }
                    }
                    span{
                        &.label{
                            display: block;
                            margin-top:50px;
                        }
                    }
                    .figure{
                        margin-bottom:0;
                    }
                }
                @include phone-small{
                    flex-basis: 33.33%;
                }
                @include phone-large{
                    flex-basis: 25%;
                }
                @include phone-to-tablet{
                    flex-basis: 20%;
                }
            }
            input[type=checkbox]{
                position: absolute;
                bottom: 87px;
                left: calc(50% - 12px);
                margin:0;
            }
        }
    }
    .stack-tweleve{
        height: 450px;
        overflow-y: scroll;
        .stack{
            margin-bottom:$m-20;
            text-align: center;
            flex-basis: 8.333%;
            
            @include upto-phone{
                flex-basis:25%;
            }
            .btn{
                padding:2px 5px;
                @include rounded(5px);
                border:1px solid transparent;
                span{
                    margin-bottom:0;
                    margin-top:5px;
                    @include font($font-14,$font-16,$font-medium);
                    color:$blue-darkest;
                    
                }
                .figure{
                    @include rounded(5px);
                    margin-bottom:$m-10;
                    .overlay{
                        // background: rgba($black,.5);
                    }
                }
            }
        }
    }
    .quote-form-area{
        .form-check{
            padding-left:0;
            margin:15px 0;
            &.right-side{
                position:relative;
                .form-check-input{
                    position:absolute;
                    right:0;
                }
                .form-check-label{
                    @include font($font-16,$line-21,$font-medium);
                    color:#121212;
                    padding-right: 40px;
                }
            }
        }
        .submit-button{
            .btn{
                font-weight: 400;
            }
        }
    }
    .order-details{
        margin-top:$m-60;
        h4{
            margin-top:$m-15;
            @include font($font-16,$line-21,$font-medium);
            a{
                display: inline-block;
                margin-left:5px;
                color:$brand-color;
            }
        }
        .option-area{
            margin-bottom:$m-20;
            .form-check{
                // padding-left:20px;
                margin-bottom:5px;
                color:$blue;
                .form-check-label{
                    margin-left:10px;
                }
                .form-check-input{
                    margin-right:0px;
                }
                label{
                    width:100%;
                    @include font($font-16,$line-26,$font-medium);
                    span{
                        color:$brand-color;
                        float:right;
                        display: inline-block;
                        width: 100px;
                        @include upto-phone{
                            float:none;
                        }
                    }
                    &.black{
                        color:$black;
                    }
                }
            }
            .shipping-option{
                margin-bottom:10px;
            }
        }
        a{
            color:$brand-color;
        }
        p{
            &.value{
                @include font($font-36,$line-47,$font-bold);
                color:$blue-darkest;
            }
            &.note{
                color:$blue;
                line-height:$m-30;
                span{
                    color:$brand-color;
                }
            }
        }
        .submit-button{
            margin-top:20px;
        }
    }
    .specs-area{
        padding-top:$m-20;
        .specs{
            h3{
                @include font($font-20,$line-26,$font-bold);
                margin-bottom:$m-15;
            }
            ul,ol{
                padding-left:$m-20;
                color:$blue;
                li{
                    @include font($font-16,$line-23);
                    margin-bottom:$m-10;
                }
            }
        }
    }
    
}