.page-highlight-area{
    margin-bottom:60px;
    padding:30px 0 35px;
    @include upto-tablet{
        // text-align:center;
    }
    .breadcrumb-area{
        margin-top:0;
        @include upto-tablet{
            margin-bottom:25px;
        }
        ul,ol{
            margin-bottom:0;
        }
    }
    .highlight-title{
        @include font(30px,150%,700);
        margin-bottom:20px;
        @include upto-phone{
            line-height: 130%;
        }
    }
    .highlight-text{
        margin-top:35px;
        p{
            @include font(16px,26px);
            color:#514646;
            margin-bottom:0;
            &+p{
                margin-top:1rem;
            }
        }
    }
    
}

.product-listing-section{
    .functional-area{
        .filter-buttons{
            display:flex;
            justify-content: flex-end;
            #filter-toggle{
                cursor: pointer;
            }
        }
        &.no-button{
            .filter-buttons{
                .shop-by{
                    display:none;
                }
            }
        }
        &.no-button, &.flow{
            .section-title{
                overflow:visible;
                h1,h2{
                    width: 700px;
                    @include tablet-to-pc{
                        width:530px;
                    }
                    @include upto-tablet{
                        width:100% !important;
                    }
                }
            }
        }
        &.flow{
            @include upto-tablet{
                .section-title{
                    flex-basis: 100% !important;
                }
                .filter-buttons{
                    .sort-by{
                        flex-basis: 40%;
                    }
                    .shop-by{
                        flex-basis: 55%;
                        position:relative;
                        right:0;
                        .btn{
                            background-color: $brand-color;
                            color:$white;
                            padding: 10px;
                            font-size:14px;
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }
    .page-sidebar{
        .form-check{
            padding-left:24px;
        }
    }
    .listed-product{
        margin-bottom:20px;
        .section-title{
            margin-bottom:20px;
            @include upto-tablet{
                margin-bottom:15px;
            }
            h3,h4{
                margin-bottom:0;
                padding-bottom:0;
            }
        }
        .category-sub-title{
            padding-bottom:20px;
            h4,h5{
                border-top:1px solid $gray;
                padding-top:15px;
                @include font(20px,26px,500);
                color:$blue-darker-2;
                margin-bottom:0;
            }
        }
        .product{
            position:relative;
            margin-top:20px;
            margin-bottom:30px;
            @include upto-phone{
                flex-basis:50%;
            }
            figure{
                box-shadow: 0 0 2px rgba(3, 1, 1, 0.2);
                transition: all 0.5s ease-in-out;
                &:hover{
                    box-shadow: 0 0 4px rgba(3, 1, 1, 0.3);
                    img{
                        transform: scale(1.04);
                    }
                }
                a{display: block;}
            }
            .icon{
                display: block;
                text-align:center;
                background-color: transparent;
                position: absolute;
                top: 15px;
                right: 20px;
                @include rounded(30px);
                @include square(40px);
                box-shadow: 0 0 10px rgba($black,0.1);
                a,button,button.selected:hover{
                    display: block;
                    @include square(100%);
                    // @include rounded(20px);
                    background-color: white;
                    border:none;
                    i{
                        @include font(18px,40px);
                        color:$blue;
                    }
                    &:hover,&.selected{
                        background:$brand-color;
                        i{
                            color:$white;
                        }
                    }
                
                }
            }
            .title{
                @include font(18px,26px,700);
                color:$blue-darkest;
                a{
                    color:$blue-darkest;
                }
                @include upto-phone{
                    @include font(16px,22px,700); 
                }
            }
            .details{
                color:$gray-dark-3;
                @include font(14px,18px);
                margin-bottom:10px;
            }
            .price{
                text-transform: capitalize;
                color:$gray-dark-3;
                font-weight: bold;
                margin-bottom:0;
                @include upto-phone{
                    @include font(14px,18px,700); 
                }
                .value{
                    color:$brand-color;
                    @include font(18px,18px,500);
                }
            }
            .availability{
                display:inline-block;
                @include font(12px,100%,500);
                padding:5px 10px;
                background: rgba(179, 82, 44, 0.14);
                color:$brand-color-2;
                @include rounded(30px);
                margin-top:15px;
            }
        }
        .blank-product{
            min-height:450px;
            background-color: #eaeaea;
            animation: placeholder-glow 2s ease-in-out infinite
        }
    }   
}

.filter-options{
    padding:30px 0;
    .title{
        @include font(18px,23px,700);
        margin-bottom:10px;
    }
    ul{
        list-style-type:none;
        padding-left: 0;
        margin-bottom:0;
        li, a, button{
            @include font(16px,26px);
            color:#121212;
            margin-bottom:3px;
        }
        a,button{
            padding: 0;
            background: none;
            border: 0;
            margin: 0;
            outline: 0;
            box-shadow: none;
        }
    }
    &+.filter-options{
        border-top:1px solid #DDDDDD;
    }
    &:last-child{
        padding-bottom:0;
    }
}
.filter-info{
    margin-bottom:10px;
    p{
        text-align: right;
        @include font(16px,21px);
        color: #514646 !important;
        margin-bottom:0;
        @include upto-tablet{
            text-align:center;
        }
    }
}

.pagination-area{
    .pagination{
        justify-content: center;
        align-items: center;
        .page-item{
            margin:0 15px;
            @include upto-phone{
                margin:0 10px;
            }
            a{
                @include square(40px);
                @include rounded(20px);
                @include font(16px,29px);
                color:$blue-darkest;
                border:none;
                box-shadow: 0 0 10px rgba($black,0.1);
                &:hover{
                    text-decoration: none;
                    background-color: $brand-color;
                    color:$white;
                }
            }
            &:first-child,&:last-child{
                @include rounded(20px);
                a{
                    @include square(35px);
                    line-height: 23px;
                }
            }
            &.active{
                a,& a:hover{
                    text-decoration: none;
                    background-color: $brand-color;
                    color:$white;
                }
            }
        }
    }
}

@include upto-tablet{
    
    .functional-area{
        position: relative;
        .section-title{
            flex-basis:48%;
        }
        &.no-button{
            .section-title{
                flex-basis: 100%;
                h1,h2, h3,h4{
                    // @include font(24px,31px,700);
                    width:100% !important;
                }
            }
            
        }
        .filter-buttons{
            justify-content: space-between !important;
            margin-top:10px;
            li{
                margin-left:auto;
                margin-right:auto;
                flex-basis: 48%;
                .btn,.cabinform{
                    width:100%;
                }
            }
            .filter{
                span:not(.btn){
                        display: none;
                }
            }
            .shop-by{
                position:absolute;
                top: 4px;
                right: 15px;
                flex-basis:45%;
                .btn{
                    display: inline-block;
                    background: none;
                    color:$brand-color;
                    padding:0;
                    @include smallest{
                        width:120px;
                    }
                }
            }
        }
    }
    .product-listing-section{
        #filter-area{
            position: absolute;
            background: $white;
            z-index: 100;
            border-radius: 20px;
            box-shadow: 0 0 30px 5px rgb(0 0 0 / 10%);
            width: calc(100% - 25px);
            margin-left: 10px;
            padding: 20px 30px;
            display: none;
        }
    }
}