.product-section{
    .nav-pills{
        border-bottom:1px solid $gray;
        .nav-item{
            .nav-link{
                @include font($font-16,160%,$font-medium);
                border-bottom:4px solid transparent;
                color:$blue;
                padding:$m-10 0;
                border-radius: 0;
                &.active{
                    border-color:$brand-color;
                    color:$blue-darkest;
                    background-color: $white;
                }
            }
            &+.nav-item{
                margin-left:30px;
            }
        }
    }
    .accordion-item{
        border:0;
        &+.accordion-item{
            margin-top:$m-40;
        }
        .accordion-header{
            border-bottom:1px solid $whitish-2;
        }
        .accordion-button{
            border-radius:0 !important;
            padding:$m-20 0;
            font-weight: $font-bold;
            i{
                color:$blue;
                margin-left:3px;
            }
            a, span{
                display: inline-block;
                margin-left:5px;
            }
            &:after{
                content:">";
                background: none;
                display: inline-block;
                transform: rotate(-90deg);
                font-size: 30px;
                color:$black;
            }
            &.collapsed{
                &:after{
                    transform: rotate(90deg);
                }
            }
            &:not(.collapsed){
                box-shadow: none;
                border:none;
                color:$blue-darkest;
                background-color: $white;
            }
            &:focus{
                outline:0;
                box-shadow: none;
            }
            
        }
    }
    .accordion-body{
        padding:0;
        .btn{
            background: $white;
            color:$blue-darkest;
            border: 1px solid rgba($black,0.12);
            span{
                color:$blue;
            }
        }
        .form-check-inline{
            margin: $m-20 $m-15 0 0;
            padding:0;
        }
        .btn-check{
            &:active,&:checked{
                &+.btn{
                    box-shadow: none;
                    background:$blue;
                    color:$white;
                    span{
                        color:$white;
                    }
                }
            }
        }
    }
    
    .alert{
        background: #EDEFF3;
        padding:$m-20;
        padding-left:$m-50;
        position:relative;
        color:#424C5B;
        @include rounded($m-10);
        margin-top:$m-20;
        i{
            position:absolute;
            left:$m-20;
            top:$m-20;
            font-size:$font-20;
        }
        p{
            margin-bottom:0;
            color:#424C5B;
            @include font($font-16,$line-21,$font-medium);
        }
    }
    
    .stack-area{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        .stain{
            flex-basis: 14.285%;
            @include upto-phone{
                flex-basis:50%;
            }
            margin-bottom:$m-20;
            label{
                border:0;
                padding:5px;
                @include rounded(3px);
                // background-color: $white !important;
                // color:$black !important;
                // border:1px solid rgba(0, 0, 0, 0.1);
            }
        }
        .counter{
            display: flex;
            max-width: 100px;
            margin: 20px auto 0;
            span{
                display: inline-block;
            }
            .btn{
                @include square(30px);
                @include rounded($m-30);
                box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
                padding:6px;
                background-color: $white;
                color:$blue-darker-2;
                @include font($font-30,16px);
                &:hover{
                    background-color: $brand-color;
                    color:$white;
                }
            }
            .count{
                margin:0 $m-5;
                @include square(30px);
                text-align: center;
                @include font($font-20,44px,$font-medium);
                color:$black;
                border:0;
            }
        }
        
        &.show-checkbox{
            .stain{
                position:relative;
                img{
                    margin-bottom:50px;
                }
                label{
                    font-weight: $font-bold;
                }
            }
            input[type=checkbox]{
                position: absolute;
                bottom: 100px;
                left: calc(50% - 12px);
                margin:0;
            }
        }
    }
    .stack-tweleve{
        .stack{
            margin-bottom:$m-20;
            text-align: center;
            @include upto-phone{
                width:50%;
            }
            p{
                margin-bottom:0;
                margin-top:5px;
                @include font($font-14,$font-18,$font-medium);
                color:$blue-darkest;
            }
        }
    }
    .order-details{
        margin-top:$m-60;
        h4{
            margin-top:$m-15;
            @include font($font-16,$line-21,$font-medium);
            a{
                display: inline-block;
                margin-left:5px;
                color:$brand-color;
            }
        }
        .option-area{
            margin-bottom:$m-20;
            .form-check{
                // padding-left:20px;
                margin-bottom:5px;
                color:$blue;
                .form-check-label{
                    margin-left:10px;
                }
                .form-check-input{
                    margin-right:0px;
                }
                label{
                    width:100%;
                    @include font($font-16,$line-26,$font-medium);
                    span{
                        color:$brand-color;
                        float:right;
                        display: inline-block;
                        width: 100px;
                        @include upto-phone{
                            float:none;
                        }
                    }
                    &.black{
                        color:$black;
                    }
                }
            }
            .shipping-option{
                margin-bottom:10px;
            }
        }
        a{
            color:$brand-color;
        }
        p{
            &.value{
                @include font($font-36,$line-47,$font-bold);
                color:$blue-darkest;
            }
            &.note{
                color:$blue;
                line-height:$m-30;
                span{
                    color:$brand-color;
                }
            }
        }
        .submit-button{
            margin-top:20px;
        }
    }
    .specs-area{
        padding-top:$m-20;
        .specs{
            h3{
                @include font($font-20,$line-26,$font-bold);
                margin-bottom:$m-15;
            }
            .speclist{
                padding-left:$m-20;
                color:$blue;
                li{
                    @include font($font-16,$line-23);
                    margin-bottom:$m-10;
                }
            }
        }
    }
    
    .rating-area{
        .rating-block{
            margin-bottom:$m-15;
            display: flex;
            .rating,.rating-value{
                width:110px;
                height:20px;
                overflow:hidden;
                display: block;
                background: url(../images/rating.png) repeat-x;
                background-size: 22px;
            }
            .rating{
                position: relative;
                background-position: bottom left;
                .rating-value{
                    background-position: top left;
                    position:absolute;
                    top:0;
                    left:0;
                }
            }
            .value{
                @include font($font-22,$line-26,$font-bold);
                color:$brand-color;
                padding-left:10px;
            }
        }
        .progress-bar-area{
            .progress{
                margin:10px 0;
                height:16px;
                background-color: #E5DFDD;
                @include rounded($m-10);
                .progress-bar{
                    background-color: $brand-color;
                    @include rounded($m-10);
                }
            }
        }
    }
    .rating-bar-area{
        .rating-bar,.rating-value{
            display: block;
            height:6px;
            @include rounded($m-10);
        }
        .rating-bar{
            background: #E5DFDD;
            margin:15px 0;
            position:relative;
            width:calc(100% - 50px);
            .rating-value{
                position:absolute;
                left:0;
                top:0;
                background-color: $brand-color;
                font-size:0;
            }
            .value{
                position:absolute;
                top:-9px;
                right:-45px;
                @include font($font-14,$line-21);
                color:$gray-dark-3;
            }
        }
    }
}