.primary-gradient{
    @include gradient(rgba(179,82,44,0.8), rgba(179,82,44,0),linear);
}
.blue-gradient{
    @include gradient(rgba(98, 117, 144,1), rgba(98, 117, 144,0),linear);
}
.dark-overlay{
    background: rgba($blue-darkest,20%);
}
.brand-gradient{
    @include gradient(#EBCCC0,#F9EFEC,linear);
}
.orange-gradient{
    background: linear-gradient(180deg, rgba(248, 236, 232, 0.6) 0%, rgba(236, 206, 194, 0.6) 100%);
}
.grey-gradient{
    background: linear-gradient(180deg, rgba(233, 233, 234, 0) 0%, rgba(233, 233, 234, 0.4) 100%);
}

.brand-gradient-switch-grey{
    background:linear-gradient(180deg, rgba(248, 236, 232, 0.6) 0%, rgba(236, 206, 194, 0.6) 100%);
}
.dark-gradient{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0.0) 100%);
}

@include upto-phone{
    .primary-gradient{
        background: linear-gradient(0, rgba(179, 82, 44, 0.09) 0%, rgba(179, 82, 44, 0.3) 88.02%);
    }
    .brand-gradient-switch-grey{
        background: linear-gradient(180deg, rgba(233, 233, 234, 0) 0%, rgba(233, 233, 234, 0.4) 100%);
    }
    .blue-gradient{
        background:linear-gradient(90deg, rgba(98, 117, 144, 0.6) 0%, rgba(98, 117, 144, 0.3) 99.48%);
    }
    // .dark-overlay{
    //     background: rgba($blue-darkest,20%);
    // }
}