.btn{
    display: inline-block;
    padding:$m-10 $m-30;
    border-radius:$m-50;
    text-align: center;
    background-color: $black;
    color:$white;
    
    &.btn-white{
      background-color: $white;  
      color:$gray-dark;
    }
    
    &.btn-primary{
        background-color: $primary-color;
    }
    
    &.btn-large{
        padding:$m-20 $m-60;
        font-size:$font-16;
    }
    &.btn-medium{
        padding:$m-15 $m-40;
        font-size: $font-14;;
    }
    &.btn-wide{
        padding:$m-10 $m-60;
        font-size:$font-14;
    }
    
    &:hover{
        text-decoration: none;
        background-color: $gray-dark;
        color:$white;
    }
}