.btn{
    display: inline-block;
    padding:$m-10 $m-30;
    border-radius:$m-50;
    text-align: center;
    background-color: $black;
    color:$white;
    border:none;
    &.btn-white{
      background-color: $white;  
      color:$gray-dark;
    }
    
    &.btn-primary{
        background-color: $primary-color;
    }
    &.btn-blue{
        background-color:$blue;
    }
    
    &.btn-large{
        padding:$m-15 $m-60;
        font-size:$font-16;
    }
    &.btn-medium{
        padding:$m-15 $m-40;
        font-size: $font-14;;
    }
    &.btn-wide{
        padding:$m-10 $m-60;
        font-size:$font-14;
    }
    
    &:hover{
        text-decoration: none;
        background-color: $gray-dark;
        color:$white;
    }
    .shadow{
        box-shadow: 0 $m-10 $m-15 $m-5 rgba($black,0.1);
    }
    &.btn-block{
        width:100%;
    }
    &.btn-empty{
        background: none;
        color: $primary;
        border: 1px solid $primary-color;
        &:hover{
            background: $gray-dark;
            color:$white;
            border-color:$gray-dark;
        }
    }
}