.btn{
    display: inline-block;
    padding:$m-10 $m-30;
    border-radius:$m-50;
    text-align: center;
    background-color: $black;
    color:$white;
    border:none;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
    &.btn-white{
      background-color: $white;  
      color:$blue-darkest;
    }
    
    &.btn-primary{
        background-color: $brand-color;
    }
    &.btn-blue{
        background-color:$blue;
    }
    
    &.btn-large{
        padding:$m-15 $m-60;
        @include font($font-16,160%,$font-bold);
    }
    &.btn-medium{
        padding:$m-15 $m-40;
        @include font($font-14,160%,$font-bold);
    }
    &.btn-wide{
        padding:$m-10 $m-60;
        font-size:$font-14;
    }
    
    &:hover{
        text-decoration: none;
        background-color: $blue-darkest;
        color:$white;
    }
    .shadow{
        box-shadow: 0 $m-10 $m-15 $m-5 rgba($black,0.1);
    }
    &.btn-block{
        width:100%;
    }
    &.btn-empty{
        background: none;
        color: $brand-color;
        border: 1px solid $brand-color;
        &:hover{
            background: $blue-darkest;
            color:$white;
            border-color:$blue-darkest;
        }
    }
    
    &:focus{
        box-shadow:none !important;
    }
    
    &.btn-thanks{
        text-align:left;
        padding: $m-15 $m-45;
        @include from-pc{
            margin-right: $m-15;
        }
        
        .title{
            text-transform: uppercase;
            display: block;
            @include font(13px,17px);
            margin-bottom:0;
            color:$blue-darkest;
        }
        .details{
            display: block;
            @include font(17px,22px);
        }
        &:hover{
            .title{
                color:$white;
            }
        }
        @include upto-phone{
            margin-bottom:$m-20;
            border:0;
            padding:0;
            border-radius:0;
            &:hover{
                background:$white !important;
                .title{
                    color:$blue-darkest;
                }
                .details{
                    color:$brand-color;
                }
            }
        }
    }
    
    &.btn-addition{
        width:100%;
        border:1px dashed rgba($black,0.15);
        @include rounded(12px);
        background-color: #F7F7F7;
        color:$blue-darker-2;
        @include font($font-20,$line-26);
        padding:$m-20;
        &:hover{
            background:$blue-darkest;
            color:$white;
        }
    }
    
    &.btn-secondary{
        background-color: $blue;
        &:hover{
            background-color: $blue-darkest;
        }
    }
}

.link{
    &.link-primary{
        color:$brand-color;
        &:hover{
            text-decoration: underline;
        }
    }
}