.card{
    border:0;
    button{
        border:0;
        outline:0;
        background: transparent;
        &.tooltip-button{
            
        }
    }
    &.summary-card{
        padding:0 $m-10 $m-30;
        @include upto-phone{
            padding-top:$m-30;
        }
        .btn{
            margin:$m-10 0;
            padding: 12px 30px;
            @include upto-phone{
                margin:$m-10 auto;
                max-width:350px;
                display: block;
            }
        }
        .card-title{
            @include font($font-20,$line-26,$font-bold);
            margin-bottom:$m-20;
            color:$blue-darkest;
        }
        .card-body{
            flex:none;
            padding:$m-30 $m-25;
            @include rounded($m-15);
            .list-group{
                list-style-type: none;
            }
            
            @include upto-phone{
                margin-bottom:$m-30;
            }
        }
        .note{
            margin-top:$m-20;
            background: #EAEDF1;
            @include rounded($m-15);
            p{
                color:$blue;
                @include font($font-14,$line-23);
                padding:15px;
                margin-bottom:0;
            }
        }
    }
    &.gift-card{
        .input-group-text{
            color:$blue-darkest;
        }
        .form-control{
            margin-bottom:0;
        }
        .thin-border{
            background-color: $gray-dark-1;
            height:1px;
            margin:$m-70 0 $m-20;
        }
        .card-body{
            @include rounded($m-15);
        }
    }
    
}