.card{
    border:0;
    button{
        border:0;
        outline:0;
        background: transparent;
        &.tooltip-button{
            
        }
    }
    &.summary-card{
        padding:0 10px 30px;
        &.no-padding{
            padding:0;
            @include upto-phone{
                padding:0 10px 30px;
            }
        }
        @include upto-phone{
            padding-top:30px;
        }
        .btn{
            margin:10px 0;
            padding: 15px;
            @include upto-phone{
                margin:10px auto;
                max-width:350px;
                display: block;
            }
        }
        .card-title{
            @include font(20px,26px,700);
            margin-bottom:20px;
            color:$blue-darkest;
        }
        .card-body{
            flex:none;
            padding:30px 25px;
            @include rounded(15px);
            .list-group{
                list-style-type: none;
            }
            
            @include upto-phone{
                margin-bottom:30px;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
            }
        }
        .note{
            margin-top:20px;
            background: #EAEDF1;
            @include rounded(15px);
            p{
                color:$blue;
                @include font(14px,23px);
                padding:15px;
                margin-bottom:0;
            }
        }
        .info{
            p{
                color:#536379;
                @include font(16px, 21px,400);
                margin-bottom:0;
                &+p{
                    margin-top:15px;
                }
            }
            margin-bottom:20px;
        }
    }
    &.gift-card{
        .input-group-text{
            color:$blue-darkest;
        }
        .form-control{
            margin-bottom:0;
        }
        .thin-border{
            background-color: $gray-dark-1;
            height:1px;
            margin:70px 0 20px;
        }
        .card-body{
            @include rounded(15px);
        }
    }
    
}