.cabinform{
    .form-line{
        margin-bottom:$m-15;
        label,.form-label{
            @include font($font-16,$line-23,$font-medium);
            margin-bottom:$m-10;
            color:$black;
        }
    }
    .form-check-input[type=checkbox]{
        width:20px;
        transform:scale(1);
        &+label{
            line-height:30px;
            margin-bottom:0;
            color:$blue-darker-1;
            font-weight: $font-normal;
        }
        &:checked{
            background-color:$brand-color;
            border-color:$brand-color;
        }
    }
    
}