.cabinform{
    
    .form-line{
        margin-bottom:$m-15;
    }
    label,.form-label{
        @include font($font-16,$line-23,$font-medium);
        margin-bottom:$m-10;
        color:$black;
        &.compact{
            letter-spacing: -0.5px;
        }
    }
    
    .form-check-input{
        // width:20px;
        // padding: 9px;
        transform:scale(1);
        margin-left:-25px;
        &+label{
            line-height:30px;
            margin-bottom:0;
            color:$blue-darker-1;
            font-weight: $font-normal;
        }
        &:checked{
            background-color:$brand-color;
            border-color:$brand-color;
        }
        
        &:focus{
            border-color:rgba($brand-color,50%);
            box-shadow:none !important;
        }
        &[type="radio"], &[type="checkbox"]{
            width:23px;
            height:23px;
            padding:0;
            display: inline-block;
            border: none;
            background: url(../icons/checkboxes.png) no-repeat;
            background-size: 51px;
            background-position: -1px -29px;
            transition:none;
            border-radius: 0;
            &:checked{
                background-position: -1px -2px;
            }
            &:active{
                filter: none;
            }
        }
        &[type="checkbox"]{
            background-position: -25px -29px;
            &:checked{
                background-position: -25px -2px;
            }
        }
        // .form-check-input:checked
    }
    &.gift-form{
        .form-line{
            @include from-pc{
                margin-bottom:0;
                &+.form-line{
                    margin-top:$m-25;
                }
                .form-control{
                    margin-bottom:0;
                }
            }
        }
    } 
    
    &.filter-form{
        .accordion-item{
            &:last-child{
                border-bottom:none !important;
            }
        }
        .accordion-button{
            border-bottom:none !important;
            @include font($font-18,$line-23,$font-bold);
            color:$blue-darkest;
            &:after{
                color:$blue-darkest !important;
            }
        }
        .accordion-body{
            .form-check{
                margin-bottom:$m-5;
            }
            .form-check-label{
                @include font($font-16,$line-29);
                color:$blue-darkest;
                max-width: 170px;
            }
        }
        
    }  
    .form-text{
        margin-top: -6px;
        display: block;
        font-size: 16px;
        color: $brand-color;
        &.text-dark{
            color:#737373 !important;
        }
    }
    
    &.order-form{
        .form-part{
            border:$thin solid $gray;
            @include rounded($m-15);
            padding:$m-20;
            margin-bottom:$m-30;
            position:relative;
            .remover{
                position:absolute;
                top:20px;
                right:20px;
                color:$brand-color;
                @include font($font-16,$line-21,$font-bold);
                cursor:pointer;
                &:hover{
                    color:$blue-darkest;
                }
                
            }
        }
    } 
    hr{
        margin-bottom:30px !important;
    }
}

// override bootstrap placeholder color 

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder-color;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholder-color;
}