.cabinform{
    .form-line{
        margin-bottom:$m-15;
        label,.form-label{
            @include font($font-16,$line-23,$font-medium);
            margin-bottom:$m-10;
            color:$black;
        }
    }
    
    .form-check-input[type=checkbox]{
        width:20px;
        padding: 9px;
        transform:scale(1);
        &+label{
            line-height:30px;
            margin-bottom:0;
            color:$blue-darker-1;
            font-weight: $font-normal;
        }
        &:checked{
            background-color:$brand-color;
            border-color:$brand-color;
        }
        
        &:focus{
            border-color:rgba($brand-color,50%);
            box-shadow:none !important;
        }
    }
    &.gift-form{
        .form-line{
            @include from-pc{
                margin-bottom:0;
                &+.form-line{
                    margin-top:$m-25;
                }
                .form-control{
                    margin-bottom:0;
                }
            }
        }
    } 
    
    &.filter-form{
        .accordion-item{
            &:last-child{
                border-bottom:none !important;
            }
        }
        .accordion-button{
            border-bottom:none !important;
            @include font($font-18,$line-23,$font-bold);
            color:$blue-darkest;
            &:after{
                color:$blue-darkest !important;
            }
        }
        .accordion-body{
            .form-check{
                margin-bottom:$m-5;
            }
            .form-check-label{
                @include font($font-16,$line-29);
                color:$blue-darkest;
                
            }
        }
        
    }  
    
    &.order-form{
        .form-part{
            border:$thin solid $gray;
            @include rounded($m-15);
            padding:$m-20;
            margin-bottom:$m-30;
        }
    } 
}