.summary-list{
    margin-bottom:$m-10;
    li, .list-item{
        padding: $m-10 0;
        border-bottom: 1px solid $gray;
        color:$gray-dark-3;
        span{
            float: right;
            font-weight: $font-bold;
            color:$blue-darkest;
        }
        &:last-child{
            border-bottom:0;
        }
        &.total{
            border-bottom:0;
            @include font($font-18,$line-23,$font-bold);
            color:$black;
        }
    }
    
}

.specification-list{
    list-style-type: none;
    padding-left:0;
    li{
        color:$black;
        vertical-align: middle;
        @include font($font-16,$line-23,$font-medium);
        margin-bottom:10px;
        span{
            color:$blue;
            margin-left:5px;
            display:inline;
            font-weight: $font-normal;
        }
    }
}