.summary-list{
    margin-bottom:10px;
    li, .list-item{
        padding: 10px 0;
        border-bottom: 1px solid $gray;
        color:$gray-dark-3;
        span{
            float: right;
            font-weight: 700;
            color:$blue-darkest;
        }
        &:last-child{
            border-bottom:0;
        }
        &.total{
            border-bottom:0;
            @include font(18px,23px,700);
            color:$black;
        }
    }
    
}

.specification-list{
    list-style-type: none;
    padding-left:0;
    li{
        color:$black;
        vertical-align: middle;
        @include font(16px,23px,500);
        margin-bottom:10px;
        span{
            color:$blue;
            margin-left:5px;
            display:inline;
            font-weight: 400;
        }
        i{
            color: #B9B0B0;
            font-weight: 400;
        }
    }
}
.small-dot{
    list-style-type: none;
    li{
        position: relative;
        &:before{
            content: "•";
            font-size: 20px;
            position: absolute;
            left: -15px;
            top: 0px;
        }
    }
}