.cabinform{
    &.has-stain-select{
        .form-part{
         overflow: visible;
         position:relative;
        }
    }
}
.select-train-area{
    width:100%;
    .select-stain{
        @extend .form-select;
        width:calc(100% +  1.5rem);
        cursor:pointer;
        
    }
}
.stack-area{
    &.stain-selection{
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 8px;
        box-shadow:0 0 7px rgba(0,0,0,.5);
        padding:30px;
        position: absolute;
        z-index:100;
        max-height: 500px;
        overflow-y: scroll;
        width:calc(100% - 2.5rem);
        margin-top:0px;
        .stack{
            flex-basis: 33%;
            margin-bottom:5px;
            
            .btn{
                background: none;
                margin-bottom: 0;
                border: 1px solid #fff;
                &:hover{
                    border-color: $brand-color;
                }
            }
            @include upto-phone{
                flex-basis:49.5%;
            }
            
        }
        display: none;
        .select-stain.active + &{
            display: flex;
        }
    }
}