.product-rating{
    height: 35px;
    .targetbay-reviews-count-field {
        text-align: left !important;
        .tgb-reviews-new-c-star-theme1{
            stroke: #999999 !important;
        }
    }
}