.tooltip{
    &.show{
        // box-shadow: 0 0 15px rgb(0 0 0 / 10%);
        .tooltip-inner{
            min-width: 350px !important;
        }
    }
    .thumb-xl{
        max-height: 174px;
    }
    .title{
        @include font(24px,31px,700);
        margin-top:26px;
        margin-bottom:10px;
        text-align:left;
        color:$blue-darkest;
    }
    .description{
        list-style-type: none;
        text-align: left;
        padding-left:0;
        li{
            margin:7px 0;
            color:$blue-darkest;
            @include font(16px,21px,500);
            span{
                color:$blue;
            }
        }
    }
    &.bs-tooltip-bottom{
        // margin-top: -20px !important;
        .tooltip-arrow{
            &:before{
                border-width: 0 15px 15px !important;
                left: -6px;
            }
        }
    }
    &.product-hints{
        &.bs-tooltip-end{
            margin-left:15px !important;
        }
        &.bs-tooltip-start{
            margin-right:15px !important;
        }
        .tooltip-inner{
            min-width: 530px !important;
            padding:20px 15px !important;
            @include upto-phone{
                min-width: 250px !important;
            }
        }
        ul{
            padding-left: 15px;
            margin-bottom:0;
            li{
                color:#B3522C;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                
            }
        }
    }
}

.bs-tooltip-end{
    padding:0 !important;
    .tooltip-arrow{
        &:before{
            border-right-color:$white !important;
        }
    }
}
.bs-tooltip-start{
    padding:0 !important;
    .tooltip-arrow{
        &:before{
            border-left-color:$white !important;
        }
    }
}