.section-title{
    font-weight: $font-medium;
    span{
        color:$brand-color;
    }
    h1,h2,h3,h4{
        @include font($font-44,$line-57,$font-bold);
        margin-bottom:$m-20;
        @include upto-phone{
            @include font($font-32,$line-42,$font-bold); 
        }
    }
    &.medium{
        h1,h2,h3,h4{
            @include font($font-40,$line-52,$font-bold); 
        }
    }
    &.small{
        h1,h2,h3,h4{
            @include font($font-36,$line-47,$font-bold); 
            margin-bottom:$m-15;
            
        }
        &.has-mobile-sizing{
            h1,h2,h3,h4{
                @include upto-phone{
                    @include font($font-24,$line-31,$font-bold); 
                }
            }
        }
    }
    
}

.section-sub-title{
    h1,h2,h3,h4{
        @include font($font-24,$line-31,$font-bold);
        color:$blue-darkest;
    }
}

.heading-22{
    h1,h2,h3,h4{
        @include font($font-22,$line-29,$font-medium);
        color:$blue-darkest;
        margin-bottom:$m-30;
    }
}
.heading-20, .accordion-section-title{
    h1,h2,h3,h4{
        @include font($font-20,$line-23,$font-bold);
        color:$blue-darkest;
        margin-bottom:$m-15;
    }
}
.heading-18{
    h2,h3,h4{
        @include font($font-18,$line-23,$font-bold);
        color:$blue-darkest;
        margin-bottom:$m-15;
    }
}

.article-title{
    h2,h3,h4{
        @include font($font-24,$line-31,$font-medium);
        color:$brand-color;
        margin-bottom:$m-20;
    }
}

.article-subtitle{
    @include font($font-16,$line-21,$font-bold);
    color:$blue-darkest;
    margin-bottom:$m-15;
}

h4{
    @include font($font-18,$line-23,$font-bold);
    color:$blue-darkest;
    margin-bottom:$m-15;
}

.uppercase{
    text-transform: uppercase;
}


.text-dark-color{
    color:$blue-darkest;
    p{
        color:$blue-darkest !important;
    }
}
.text-light-color{
    color:$gray;
    p{
        color:$gray !important;
    }
}

.form-section-title{
    h2,h3,h4,h5{
        @include font($font-24,$line-31,$font-medium);
        color:$black;
        margin-bottom:$m-20;
    }
}