.section-title{
    text-align:center;
    font-family: $font-dm;
    font-weight: $font-medium;
    span{
        color:$primary-color;
    }
    h2,h3,h4{
        @include font($font-44,100%,$font-bold);
        margin-bottom:$m-20;
    }
    &.smaller{
        h2,h3,h4{
            @include font($font-40,$line-52,$font-bold); 
        }
    }
}

.section-sub-title{
    h2,h3,h4{
        @include font($font-24,$line-31,$font-bold);
        color:$text-dark-color;
    }
}