.section-title{
    font-weight: 500;
    span{
        color:$brand-color;
    }
    h1,h2,h3,h4{
        @include font(44px,57px,700);
        margin-bottom:20px;
        @include upto-phone{
            @include font(32px,42px,700); 
        }
    }
    &.medium{
        h1,h2,h3,h4{
            @include font(40px,52px,700); 
        }
    }
    &.small{
        h1,h2,h3,h4{
            @include font(36px,47px,700); 
            margin-bottom:15px;
            
        }
        &.has-mobile-sizing{
            h1,h2,h3,h4{
                @include upto-phone{
                    @include font(24px,31px,700); 
                }
            }
        }
    }
    .sub-title{
        font-size:18px !important;
        line-height:26px !important;
    }
}

.section-sub-title{
    h1,h2,h3,h4{
        @include font(24px,31px,700);
        color:$blue-darkest;
    }
}
.heading-30{
    h1,h2,h3,h4{
        @include font(30px,39px,700);
        color:$blue-darkest;
        margin-bottom:40px;
    }
}
.heading-22{
    h1,h2,h3,h4{
        @include font(22px,29px,500);
        color:$blue-darkest;
        margin-bottom:30px;
    }
}
.heading-20, .accordion-section-title{
    h1,h2,h3,h4{
        @include font(20px,23px,700);
        color:$blue-darkest;
        margin-bottom:15px;
    }
}
.heading-18{
    h2,h3,h4{
        @include font(18px,23px,700);
        color:$blue-darkest;
        margin-bottom:15px;
    }
}

.article-title{
    h2,h3,h4{
        @include font(24px,31px,500);
        color:$brand-color;
        margin-bottom:20px;
    }
}

.article-subtitle{
    @include font(16px,21px,700);
    color:$blue-darkest;
    margin-bottom:15px;
}

h4{
    @include font(18px,23px,700);
    color:$blue-darkest;
    margin-bottom:15px;
}

.uppercase{
    text-transform: uppercase;
}


.text-dark-color{
    color:$blue-darkest;
    p{
        color:$blue-darkest !important;
    }
}

.text-greyish-color{
    color:$gray-dark-3;
    p{
        color:$gray-dark-3 !important;
    }
}
.text-light-color{
    color:$gray;
    p{
        color:$gray !important;
    }
}

.form-section-title{
    h2,h3,h4,h5{
        @include font(24px,31px,500);
        color:$black;
        margin-bottom:20px;
    }
}
.small{
    font-size:0.9em !important;
}

.textarea{
    p{
        
        @include font(16px,26px);
        color:#514646;
    }
}