.vertically-middle{
    align-items: center;
}
.border-bottom{
    border-bottom:1px solid $gray;
    padding-bottom:50px;
    margin-bottom:50px;
    &.border-only{
        padding-bottom:10px;
        margin-bottom:10px;
    }
}

.border-right{
    @include from-pc{
        border-right:1px solid $gray;
    }
}

.billing-area{
    @include upto-phone{
        margin-top:40px;
    }
}

.mb-100{
    margin-bottom:100px !important;
}

.rotate-90{
    transform:rotate(90deg);
}

@include from-pc{
    .pr-5{
        padding-right:5%;
    }
}

.rating-block{
    margin-bottom:15px;
    display: flex;
    .rating,.rating-value{
        width:110px;
        height:20px;
        overflow:hidden;
        display: block;
        background: url(../images/rating.png) repeat-x;
        background-size: 22px;
    }
    .rating{
        position: relative;
        background-position: bottom left;
        .rating-value{
            background-position: top left;
            position:absolute;
            top:0;
            left:0;
        }
    }
    .value{
        @include font(22px,26px,700);
        color:$brand-color;
        padding-left:10px;
    }
}

.rating-bar-area{
    .rating-bar,.rating-value{
        display: block;
        height:6px;
        @include rounded(10px);
    }
    .rating-bar{
        background: #E5DFDD;
        margin:15px 0;
        position:relative;
        width:calc(100% - 50px);
        .rating-value{
            position:absolute;
            left:0;
            top:0;
            background-color: $brand-color;
            font-size:0;
        }
        .value{
            position:absolute;
            top:-9px;
            right:-45px;
            @include font(14px,21px);
            color:$gray-dark-3;
        }
    }
}
.tooltip{
    opacity:1;
    border-radius: 10px;
    box-shadow:0 0 5px 5px rgba($black,0.1);
    z-index: 10000;
    // bottom: 10px !important;
    &.show{
        opacity: 1  !important;
    }
    .tooltip-inner{
        background-color: $white;
        color:$black;
        padding: 10px 15px  !important;
        min-width: 300px  !important;
        border-radius: 10px  !important;
    }
}
.bs-tooltip-top{
    padding:0;
    inset: auto auto 12px 0px !important;
    .tooltip-arrow{
        bottom:-7px;
        left: -3px !important;
        &:before{
            border-width:10px 10px 0 !important;
            border-top-color:$white !important;
        }
    }
}
.bs-tooltip-bottom{
    inset: 8px auto auto 0px !important;
    padding:0;
    .tooltip-arrow{
        top:-7px;
        left:-3px !important;
        &:before{
            border-width:0 10px 10px !important;
            border-bottom-color:$white !important;
        }
    }
}
.list-group{
    padding-left:0;
}
.modal-extra-lg{
    max-width: 1200px;
}
@include upto-phone{
    .mobile-full{
        width:100% !important;
    }
    .mobile-left{
        text-align: left !important;
    }
}

.blue{
    color:$blue;
}
.black{
    color:$black;
}
.gray{
    color:$gray-light-2;
}
.orange{
    color:$brand-color;
}

@include upto-phone{
    .upto-phone{
        display: block;
    }
    .above-phone{
        display: none;
    }
}
@include upto-tablet{
    .upto-tablet{
        display: block;
    }
    .above-tablet{
        display: none;
    }
}
@include phone-to-tablet{
    .upto-phone{
        display: none;
    }
}

@include upto-pc{
    .upto-pc{
        display: block;
    }
    .above-pc{
        display: none;
    }
}

@include from-tablet{
    // .upto-pc,
    .upto-phone
    {
        display: none;
    }
}

@include from-pc{
    .upto-pc,
    .upto-tablet,
    .upto-phone
    {
        display: none;
    }
    .break-on-pc{
        display: block;
    }
}

.mb-100{
    margin-bottom:100px;
}