.border-bottom{
    border-bottom:$thin solid $gray;
    padding-bottom:$m-50;
    margin-bottom:$m-50;
    &.border-only{
        padding-bottom:$m-10;
        margin-bottom:$m-10;
    }
}

.border-right{
    @include from-pc{
        border-right:$thin solid $gray;
    }
}

.billing-area{
    @include upto-phone{
        margin-top:$m-40;
    }
}

.mb-100{
    margin-bottom:$m-100 !important;
}

.rotate-90{
    transform:rotate(90deg);
}

@include from-pc{
    .pr-5{
        padding-right:5%;
    }
}