$widget_color : #596A58;
$close_button_color: #242424;
$list_color : #514646;
$card_body_color: #F8F8F8;

.widget-area{
    width:100%;
    text-align:right;
    position:fixed;
    bottom:0;
    right:0;
    z-index: 1000;
    min-height:0;
    .btn{
        background: $widget_color;
        padding:8px 12px;
        @include font(15px,20px,400);
        // display: flex;
        text-align: center;
        display: inline-block;
        i{
            color:$white;
            float: left;
            margin-top: 1px;
        }
        &-coupon{
            border-top-right-radius: 15px;
            min-width: 145px;
            position:absolute;
            right: 135px;
            bottom: 35px;
            @include upto-tablet{
                &:hover, &:focus{
                    background-color: $widget_color;
                }
            }
            
            @include upto-phone{
                padding: 8px 7px;
                min-width: 95px;
                span{
                    font-size: 11px;
                }
            }
        }
        span{
            padding-left:5px;
        }
    }
    @include upto-tablet{
        &.active{
            .btn-coupon{
                background-color: $blue-darkest;
            }
        }
    }

    .info-card{
        text-align: left;
        position: absolute;
        max-width: 300px;
        right: 135px;
        bottom: 80px;
        box-shadow: 0px 6px 15px 2px rgba(154, 154, 154, 0.2);
        border-radius: 10px;
        background: $card_body_color;
        display:none;
        max-height:calc(100vh - 90px);
        @include upto-phone{
            overflow-y: scroll;
        }
        .btn-dismiss{
            position:absolute;
            top:16px;
            right:16px;
            padding:0 5px 3px 5px;
            font-size:34px;
            line-height:24px;
            background-color: rgba($close_button_color, 0.3);
            border-radius: 5px;
            color:$white;
            opacity:1;
            &:hover{
                background-color: $close_button_color;
            }
        }
        .header{
            background: $widget_color;
            padding:32px;
            padding-bottom: 70px;
            border-radius: 10px 10px 0 0;
            
            h4{
                @include font(24px,160%,700);
                color:$white;
            }
        }
        .body{
            border-radius:0 0 10px 10px;
            margin:-50px 32px 0;
            padding:25px 10px 30px;
            background-color: $white;
            border-radius: 10px 10px 0 0;
            h5{
                @include font(14px,145%,700);
                color: $blue-darkest;
                margin-bottom:25px;
            }
            ul{
                padding-left:10px;
                margin-bottom:25px;
                li{
                    @include font(12px,140%);
                    color: $list_color;
                    margin-bottom:18px;
                }
            }
        }
    }
}
#freshworks-container {
    z-index: 1000 !important;
    position: relative;
}

@include phone-small{
    #launcher-frame {
        bottom: 82px !important;
    }
    .widget-area{
        &.active{
            height:100%;
            top:0;
        }
        .info-card{
            height:100%;
            width:100%;
            max-height:100%;
            max-width:100%;
            position:absolute;
            bottom:0;
            left:0;
        }
        .btn-coupon{
            right:22px;
            padding: 8px 7px;
            min-width: 95px;
            span{
                font-size: 11px;
            }
        }
    }
}
