.container{
    width:100%;
    max-width:1200px;
    // margin:0px auto;
    // padding:0px 20px;
    @include upto-phone{
        &:not(.testimonial-slider){
            overflow-x: hidden;
        }
    }
    &.small{
       
       max-width: 720px;
    }
}
