@import 'breakpoints';

// less than 768px
@mixin upto-phone {
    @media only screen and (max-width:($breakpoint-md - 1px)) {
        @content;
    }
}

// less than 576px
@mixin phone-small {
    @media only screen and (max-width:($breakpoint-sm - 1px)) {
        @content;
    }
}

// from 576px to 768px
@mixin phone-large {
    @media only screen and (min-width:$breakpoint-sm) and (max-width:$breakpoint-md) {
        @content;
    }
}

// less than 992px
@mixin upto-tablet {
    @media only screen and (max-width:($breakpoint-lg - 1px)) {
        @content;
    }
}

// from 786px to 991ox
@mixin phone-to-tablet {
    @media only screen and (min-width:$breakpoint-md) and (max-width:($breakpoint-lg - 1px)) {
        @content;
    }
}

// from 992px to 1199px
@mixin tablet-to-pc {
    @media only screen and (min-width:$breakpoint-lg) and (max-width:($breakpoint-xl - 1px)) {
        @content;
    }
}

// less than 1199px
@mixin upto-pc {
    @media only screen and (max-width:($breakpoint-xl - 1px)) {
        @content;
    }
}
// less than 1399px
@mixin pc-normal {
    @media only screen and (max-width:($breakpoint-xxl - 1px)) {
        @content;
    }
}

// from 1200px to 1399px
@mixin only-pc {
    @media only screen and (min-width:$breakpoint-xl) and (max-width:($breakpoint-xxl - 1px)) {
        @content;
    }
}

// higher than 1200px
@mixin from-pc {
    @media only screen and (min-width:$breakpoint-xl) {
        @content;
    }
}

// higher than 1400px
@mixin widescreen {
    @media only screen and (min-width:$breakpoint-xxl) {
        @content;
    }
}

@mixin triangle($size:5px,$direction:up,$color:#fff){
    display: block;
    height:0;
    width:0;
    @if $direction==up{
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
    @if $direction==down{
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
    @if $direction==right{
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @if $direction==left{
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}

@mixin gradient($start_color,$end_color,$type:linear) {
    background: $start_color;
    @if $type ==linear {
        background: linear-gradient(90deg, $start_color 0%, $end_color 100%);
    }
    @if $type==radial {
        background: radial-gradient(circle, $start_color 0%, $end_color 100%);
        
    }
}

@mixin rounded($value){
    border-radius:$value;
}

@mixin font($size, $line-height, $weight:400){
    font-size:$size;
    line-height:$line-height;
    font-weight: $weight;
}

@mixin square($size){
    width:$size;
    height:$size;
    display: block;
}