@import 'breakpoints';

@mixin until-phone {
    @media only screen and (max-width:($breakpoint-md - 1px)) {
        @content;
    }
}
@mixin phone {
    @media only screen and (max-width:($breakpoint-sm - 1px)) {
        @content;
    }
}
@mixin phone-landscape {
    @media only screen and (min-width:$breakpoint-sm) and (max-width:$breakpoint-md) {
        @content;
    }
}

@mixin until-tablet {
    @media only screen and (max-width:($breakpoint-xl - 1px)) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (min-width:$breakpoint-md) and (max-width:($breakpoint-lg - 1px)) {
        @content;
    }
}
@mixin tablet-landscape {
    @media only screen and (min-width:$breakpoint-lg) and (max-width:($breakpoint-xl - 1px)) {
        @content;
    }
}

@mixin normal {
    @media only screen and (min-width:$breakpoint-xl) and (max-width:($breakpoint-xxl - 1px)) {
        @content;
    }
}
@mixin above-normal {
    @media only screen and (min-width:$breakpoint-xl) {
        @content;
    }
}
@mixin widescreen {
    @media only screen and (min-width:$breakpoint-xxl) {
        @content;
    }
}

@mixin triangle($size:5px,$direction:up,$color:#fff){
    display: block;
    height:0;
    width:0;
    @if $direction==up{
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
    @if $direction==down{
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
    @if $direction==right{
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @if $direction==left{
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}

@mixin gradient($start_color,$end_color,$type) {
    background: $start_color;
    @if $type ==linear {
        background: linear-gradient(90deg, $start_color 0%, $end_color 100%);
    }
    @if $type==radial {
        background: radial-gradient(circle, $start_color 0%, $end_color 100%);
        
    }
}