// colors
$white: #fff;
$black: #000;
$primary-color : #B3522C;
$gray-dark : #121212;
$gray-light: #4F4F4F;
$bg-main : #E5E5E5;
$bg-gray-1 : #F0F2F5;
$blue : #627590;
$blue-dark: #3F4B5C;
$gray-border: #C6CDD7;


// set another color value
$selection-color : $primary-color;
$placeholder-color : #9DA8B7;
$scroll-track-color:$gray-light;
$scroll-thumb-color:$gray-dark;
$scroll-hover-color: $primary-color;


$base-font-size : 14px;
$base-line-height: 1.428571429em;