// colors
$white: #fff;
$black: #000;
$primary-color : #B3522C;
$primary : $primary-color;
$bg-main : #E5E5E5;
$blue : #627590;
$blue-2 : #1F173D;
$blue-3: #424F61;
$blue-dark: #3F4B5C;
$blue-4: #6A778A;

$gray-dark : #121212;
$gray-light: #4F4F4F;
$bg-gray-1 : #F0F2F5;
$gray-border: #C6CDD7;
$gray-3: #767676;
$gray-4: #DDDDDD;
$gray-5: #514646;

$text-primary-color: $gray-5;
$text-dark-color : $gray-dark;
$text-gray-light: $gray-4;
$border-gray-light: $gray-4;

// set another color value
$selection-color : $primary-color;
$placeholder-color : #9DA8B7;
$scroll-track-color:$gray-light;
$scroll-thumb-color:$gray-dark;
$scroll-hover-color: $primary-color;

// font size variables
$base-font-size : 14px;
$base-line-height: 1.428571429em;
$font-14: $base-font-size;
$font-16: 1.14285em;
$font-18: 1.28571em;
$font-20: 1.42857em;
$font-22: 22px;
$font-24: 1.71424em;
$font-26: 1.85714em;
$font-30: 2.14285em;
$font-36: 2.57142em;
$font-40: 2.85714em;
$font-44: 3.14285em;
$font-54: 3.85714em;


// margin and padding variable
// can be used in other section
$m-0: 0px;
$m-5: 5px;
$m-10 : 10px;
$m-15: 15px;
$m-20: 20px;
$m-25: 25px;
$m-30: 30px;
$m-35: 35px;
$m-40: 40px;
$m-45: 45px;
$m-50: 50px;
$m-55: 55px;
$m-60: 60px;
$m-65: 65px;
$m-70: 70px;
$m-75: 75px;
$m-80: 80px; 
$m-85: 85px; 
$m-90: 90px; 
$m-95: 95px; 
$m-100: 100px; 

// border width
$thin : 1px;
$semi : 2px;
$thick : 4px;


// line height varibales
$line-18: 18px;
$line-23: 23px;
$line-26: 26px;
$line-29: 29px;
$line-31: 31px;
$line-47: 47px;
$line-52: 52px;