// colors
$white: #fff;
$black: #000;
$brand-color : #B3522C;
$brand-color-2: #A64D2A;

$whitish-1 : #F0F2F5;
$whitish-2 : #E5E5E5;

$blue-light-1   : #9DA8B7;
$blue-light-2   : #C6CDD7;
$blue           : #627590;
$blue-darker-1  : #6A778A;
$blue-darker-2  : #424F61;
$blue-darker-3  : #3F4B5C;
$blue-darker-4  : #1F173D;
$blue-darkest   : #121212;
$blue-royal     : #6086C2;

$gray       : #DDDDDD;
$gray-dark-1: #767676;
$gray-dark-2: #4F4F4F;
$gray-dark-3: #514646;
$gray-dark-4: #979797;
$gray-light-1: #E0E0E0;
$gray-light-2: #6B7481;
$gray-light-3: #586982;

$green :#27AE60;

// set another color value
$selection-color : $brand-color;
$placeholder-color : $gray-light-2;
$scroll-track-color:$gray-dark-2;
$scroll-thumb-color:$blue-darkest;
$scroll-hover-color: $brand-color;

//  Fonts variables
$font-dm : 'DM Sans', sans-serif;
$helvetica: 'helvetica', sans-serif;
$font-normal : 400;
$font-medium : 500;
$font-bold : 700;

// font size variables
$base-font-size : 14px;
$base-line-height: 1.428571429em;
$font-14: $base-font-size;
// em based font size
// $font-16: 1.14285em;
// $font-18: 1.28571em;
// $font-20: 1.42857em;
// $font-22: 22px;
// $font-24: 1.71424em;
// $font-26: 1.85714em;
// $font-30: 2.14285em;
// $font-36: 2.57142em;
// $font-40: 2.85714em;
// $font-44: 3.14285em;
// $font-54: 3.85714em;
// pixel based font size
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-30: 30px;
$font-32: 32px;
$font-36: 36px;
$font-40: 40px;
$font-44: 44px;
$font-54: 54px;


// margin and padding variable
// can be used in other section
$m-0: 0px;
$m-5: 5px;
$m-10 : 10px;
$m-15: 15px;
$m-20: 20px;
$m-25: 25px;
$m-30: 30px;
$m-35: 35px;
$m-40: 40px;
$m-45: 45px;
$m-50: 50px;
$m-55: 55px;
$m-60: 60px;
$m-65: 65px;
$m-70: 70px;
$m-75: 75px;
$m-80: 80px; 
$m-85: 85px; 
$m-90: 90px; 
$m-95: 95px; 
$m-100: 100px; 

// border width
$thin : 1px;
$semi : 2px;
$thick : 4px;


// line height varibales
$line-18: 18px;
$line-21: 21px;
$line-23: 23px;
$line-26: 26px;
$line-29: 29px;
$line-31: 31px;
$line-42: 42px;
$line-47: 47px;
$line-52: 52px;
$line-57: 57px;